[2020-02-27 16:29] Pierre-Gilles opened #666 "Be able to select a list of deviceFeatures in the "Devices in rooms" card in the dashboard"
Instead of displaying all deviceFeatures, only display a selection of deviceFeatures

[2020-02-27 16:40] Pierre-Gilles commented on #665
Thanks for your message!

I read the code again, I agree that it's weird that the `rtsp-camera` service is not behaving the same way as other device services, it should emit an event too.

A service should never call some Gladys code directly for an action like that, because it means the service will be responsible for error handling and it's not right.

I'm ok with using the `DEVICE.NEW_STATE` ev

[2020-02-27 16:41] Pierre-Gilles commented on #645
https://community.gladysassistant.com/t/reflexion-autour-de-lapi-mqtt/5219

[2020-02-27 17:40] Pierre-Gilles opened #668 "Z-Wave: Improve the "Network" tab and remove the "vis" library"
The "Network" tab is not really useful right now...

<img width="903" alt="Screenshot 2020-02-27 at 18 37 30" src="https://user-images.githubusercontent.com/7365207/75470007-440bad00-5990-11ea-829b-210c7fee3723.png">

It uses a really heavy library ("vis") which can be removed.

Let's see how we can improve the display of this tab.

The goal is to display the list of Z-Wave devices, and know how c

[2020-02-28 05:57] Terdious commented on #634
Hi,
@atrovato, I just installed your fork for the resumption of the texts which were in hard. I'm starting to look, so I could come back here to report what I find. I also intended to put my translation file in fr there (you will just have to replace the file in to test it. Is that okay with you, do you want me to modify the texts by remaining hard or do I only give you the links?
The first :
- ht

[2020-02-28 10:42] Pierre-Gilles commented on #639
**Scheduled trigger**

- "Every Month" => Select Day of the month (1..31) => Select time (00:00-23:59)
- "Every Week" => Select Days of the week (Mon..Sun) => Select time (00:00-23:59)
- "Every Day" => Select time (00:00-23:59)
- "Interval" => Select interval (Every XX seconds/minutes/hours)
- "On a specific time" => Select date => Select time

[2020-02-28 15:52] Pierre-Gilles opened #669 "Add a way to edit a room name"

[2020-02-28 21:08] Boimb commented on #665
Yeah, I thought a flag like "has_string_state" was ugly, but my point was not to tie the code implementation and the state type.
In fine, categories and types must exist in the code, so like you suggest, that's OK to define if state is string or number from the category + type values.
I'll go this way.

[2020-02-29 06:28] atrovato commented on #634
@Terdious it fine for me, send me the 'fr' file, I will test it.
Thank for the remaining hard coded texts, I will check another time :)

[2020-02-29 20:39] atrovato commented on #634
Ok, I check again for all hard coded texts (added `--ext .jsx` to front `eslint`), and fixed around 150 errors. Now `en.json` translation file should be complete.

[2020-03-01 06:44] Terdious commented on #634
Hi @atrovato

[Fichier fr en .txt](https://github.com/GladysAssistant/Gladys/files/4271440/fr.txt)
[Fichier weather en .txt](https://github.com/GladysAssistant/Gladys/files/4271443/weather.fr.txt)
[Fichier communication en .txt](https://github.com/GladysAssistant/Gladys/files/4271444/communication.fr.txt)
[Fichier device en .txt](https://github.com/GladysAssistant/Gladys/files/4271445/device.fr.tx

[2020-03-01 06:59] atrovato commented on #634
Hi @Terdious , please find the result of FR analysis, missing keys

[cr_trad_fr.txt](https://github.com/GladysAssistant/Gladys/files/4271453/cr_trad_fr.txt)

[2020-03-01 19:08] Terdious commented on #634
@atrovato
Sorry, I was delayed !!
Attached the new file, on should not be too bad. I also put you on the Galdys community screenshots of the texts that I find in English.
[fr.txt](https://github.com/GladysAssistant/Gladys/files/4272276/fr.txt)
[en.txt](https://github.com/GladysAssistant/Gladys/files/4281565/en.txt)

[2020-03-01 20:48] sescandell commented on #614
Hi,

I was going to test this but, [since Dec. 19](https://github.com/nodejs/docker-node/commit/ab3d54cef9f236ed9792aa4b786215db9ee7c1b6) (2 weeks after the opening of this issue finally), the node12-alpine image is referencing the alpine 3.11 that natively includes the OZW1.6. So Gladys is already using the OZW 1.6 (starting from Dec. 19). If you didn't encounter any issue... it would means this

[2020-03-02 08:23] Pierre-Gilles opened #671 "Improve Gladys Plus backup process"
- [x] Ask the user to keep the backup key somewhere during the Gladys Plus login
- [x] Display the backup key in the backup tab

[2020-03-02 08:24] Pierre-Gilles opened #672 "Display container uptime instead of "created" date in Docker container list"
<img width="445" alt="capture_d___e__cran_2020-02-29_a___15 25 08" src="https://user-images.githubusercontent.com/7365207/75657958-a7832c80-5c67-11ea-916b-34aa2c5da14b.png">

[2020-03-02 08:27] #540 closed, assigned to nobody

[2020-03-02 08:55] Pierre-Gilles commented on #614
@sescandell Thanks for your message, that's good news !

Yes, could you propose a PR based on 1.6 in tests? :)

Thanks 🙏

[2020-03-02 09:03] Pierre-Gilles commented on #634
Is PR #644 ready for merge?

Thanks for the great work !! :)

[2020-03-02 09:07] Pierre-Gilles commented on #665
Perfect ! 👍

[2020-03-02 19:05] Scott-Fischer opened #674 "Improve English translation/localization"
I recently installed Gladys and went through a new user flow (super great/cool project by the way!) and noticed that the English localization could be cleaned up a little bit in terms of spelling/grammar/word choice.

As a native English speaker, I'd be more than happy to go through this (in fact I already started) and submit a PR with the improved copy.

[2020-03-07 17:00] Pierre-Gilles commented on #674
Thanks for your message! Sure it'll help a lot :)

[2020-03-07 19:13] Pierre-Gilles opened #678 "Execute test DB in RAM"
The SQlite test DB should run in RAM so it's faster!

[2020-03-07 19:14] Pierre-Gilles opened #679 "To investigate: DB migration should start when Gladys start"

[2020-03-08 07:02] atrovato commented on #679
Found this https://db-migrate.readthedocs.io/en/latest/API/programable/

[2020-03-09 08:20] Pierre-Gilles commented on #679
We don't use db-migrate, we use Sequelize Migrations!

https://sequelize.org/v4/manual/tutorial/migrations.html

We need to implement umzug:

https://github.com/sequelize/umzug

[2020-03-09 08:22] Pierre-Gilles commented on #678
https://github.com/GladysAssistant/Gladys/issues/679 should be done first

[2020-03-09 08:26] Pierre-Gilles opened #680 "Philips Hue polling seems broken"

[2020-03-09 09:31] Pierre-Gilles opened #681 "Send a message to the admin user when a sensor is offline"
**Goal of the feature**

When a device is offline, the user should be alerted that his sensor is off.

**Specification (draft)**

- Every day at a time when the user is awake (20 PM?), Gladys should check sensors which didn't send info in the past 24h but which sent informations in the last 48h (check by last_value_changed)
- Send message with the following informations:

**Problems**

What happen

[2020-03-09 10:48] Pierre-Gilles opened #684 "To investigate: It seems websockets often disconnects."

[2020-03-09 14:09] #680 closed, assigned to nobody

[2020-03-09 14:31] Pierre-Gilles opened #685 "MQTT: Design & implement new API"
**Specification**

**1) Device -> Gladys**

**New state from device to Gladys**

[code]

**2) Gladys -> Device**

**Push state to device**

[code]

[2020-03-09 16:22] Pierre-Gilles opened #687 "Z-Wave: Cannot add more than 1 device of the same model (409 Conflict)"
### Problem

If 2 Z-Wave devices have the same name, I cannot add them to Gladys

### Solution

- Gladys should allow the user to edit the name before creating the device.
- Gladys should throw a clear error "A device with this same already exist"

[2020-03-11 20:22] Pierre-Gilles opened #689 "Handle Xiaomi commands"
Be able to control xiaomi devices (switches, ...)

[2020-03-11 20:29] Pierre-Gilles opened #690 "Gladys Open API : Add a way to generate long-lived API token"
### Description

As a user, I should be able to generate API token for Gladys, so I can call the API from a script/tasker/more.

### Specs

- [ ] In the UI, I have a view "API token" with the list of already generated token, the last time each token was used
- [ ] I can create a new API token and give it a name
- [ ] I can invalidate an API token

[2020-03-11 20:31] Pierre-Gilles opened #691 "Add a route to notify Gladys that a user left home"

[2020-03-11 20:33] Pierre-Gilles opened #692 "Add a scene action "user is at home", "user left home""
- [ ] Add action "user left home"
- [ ] Add action "user back at home"
- [ ] In the box "user at home", we should display a link to the doc explaining how to trigger "user at home" events

[2020-03-12 06:56] guim31 commented on #672
Why not display both ?
The creation time helps me knowing if I'm on the latest release of Gladys.

Otherwise it would be interesting to get a message like "You're running Gladys 4.1.1"

[2020-03-12 16:46] VonOx commented on #672
Uptime is more revelant because it can reflect some defect.
Created date is not really necessary. It is just "updated date".

Docker image tagging is on the pipe so you don't need creation date anymore.

[2020-03-12 16:59] VonOx commented on #614
If I understand, we must use OZW 1.5 in Gladys image right?

[2020-03-13 09:00] Pierre-Gilles opened #693 "Add a sensor chart box for the dashboard"
**Description**

Be able to display a chart on the dashboard. Ex: temperature of last month

**Specs**

- [ ] User can create a chart box on the dashboard
- [ ] The user select the device feature he wants to display in the list of "read_only" device feature. Only interesting device features should be displayed. **Binary should not be displayed for ex**
- [ ]  The user select a range between a sele

[2020-03-13 09:18] bobdivx commented on #689
mes périphériques Xiaomi :

Gateway v2 serveur Chine

INTERRUPTEURS
- Switch simple sans neutre filaire
- Switch double sans neutre filaire
- Switch simple avec neutre filaire
- Switch simple sans fils

BOUTONS
- Bouton pression zigbee
- Bouton pression zigbee Aqara

PRISES
- Fiche zigbee on/off
- Fiche wifi on/off avec suivis de consommation

CAPTEURS
- D'ouverture
- De mouvements
- De températur

[2020-03-14 08:43] atrovato commented on #538
@Pierre-Gilles for this topic, we may need to think about a generic username/password on a device, to not store it in device params array, and to not send it over rest API.
I will get the case for Tasmota HTTP devices, I may need to store credentials for each device.

[2020-03-14 14:59] Pierre-Gilles commented on #538
@atrovato Rather than doing something "magic" based on the name, I think we should just add a attribute to the device_param table, like "secret": boolean, which would do what you described :)

Good idea!

[2020-03-14 15:34] #660 closed, assigned to nobody

[2020-03-14 16:50] atrovato commented on #538
@Pierre-Gilles I was thinking on a new DB table "t_credentials", which can be used by devices and services (ie: mqtt credentials).
Stored in base64 encoded, linked on item (device or service) unique id.

[2020-03-15 12:35] atrovato commented on #669
What about:
![edit_room_name](https://user-images.githubusercontent.com/1839717/76701484-e383ac00-66c1-11ea-8247-fb8448d0a34c.gif)

[2020-03-15 12:41] atrovato commented on #665
@Boimb are you still on this point ?

[2020-03-15 13:39] atrovato commented on #661
What about:
![image](https://user-images.githubusercontent.com/1839717/76702528-be476b80-66ca-11ea-87bc-9f7dfd8478ab.png)

[2020-03-17 18:39] PhilippeMA opened #705 "[New feature] Tooltip text MQTT"
**Is your feature request related to a problem? Please describe.**
La page d'accueil de Gladys liste toutes les informations et inputs souhaités par rapport à nos devices. J'ai monté un station méteo custom avec un esp32 qui envoie les infos par le protocole MQTT (température, concentration CO2 et humidité). Ces informations sont remontées par Gladys sur la page d'accueil (c'est top !). Cependant,

[2020-03-17 19:02] PhilippeMA opened #706 "Add a CO2 sensor category with PPM unit"
En créant un device MQTT, j'ai la possibilité de définir les fonctions disponibles (température, lumière, capteur de mouvement...). Toutes les fonctions n'ont pas d'unité alors que ça me semble être important de les afficher. Pour la température, on peut bien préciser °C ou °F.

Pour mon besoin j'ai utilisé :
- Density : pas d'unité. L'ayant utilisé pour un capteur de CO2, j'aurais souhaité pouvoi

[2020-03-17 19:14] PhilippeMA opened #707 "Handle Philips Hue LTW013 lights"
Je dispose chez moi de plusieurs ampoules HUE. La majorité fonctionne sauf 2 ampoules de la référence LTW013.

A date, Gladys m'indique : Device not handled yet, please contact us to help us connect it in Gladys!

A disposition s'il faut d'autres informations.

[2020-03-18 10:17] bobdivx commented on #705
Bonjour, Pierre-Gilles à prévu d'intégrer la fonction [appareil hors ligne](https://github.com/GladysAssistant/Gladys/issues/681)
donc si Gladys ne reçois plus d'info de ta station météo alors tu sera notifié ;-)

[2020-03-18 11:36] PhilippeMA commented on #705
Hello, effectivement je ne l'avais pas vu.

Je viens de voir également cette issue https://github.com/GladysAssistant/Gladys/issues/663 qui semble poser la même problématque.

Sur confirmation, je close cette issue.

[2020-03-18 19:39] Pierre-Gilles commented on #669
Looks really nice ! Thx for the PR :)

[2020-03-18 19:40] Pierre-Gilles commented on #706
Hello! Bonne remarque, pour le capteur de CO2 c'est quelle marque/modèle?

[2020-03-18 19:42] Pierre-Gilles commented on #707
Salut!  Il me faudrait plus d'informations. Est-ce que tu peux aller sur l'intégration Philips Hue et regarder dans l'onglet network de ton navigateur ce que retourne la requête GET qui finit par /light?

ça doit ressembler à ça => https://github.com/GladysAssistant/Gladys/issues/650

[2020-03-18 19:44] Pierre-Gilles commented on #705
J'ai ajouté ton feedback dans https://github.com/GladysAssistant/Gladys/issues/663, je ferme cette issue !

[2020-03-18 19:44] #705 closed, assigned to nobody

[2020-03-18 19:46] Pierre-Gilles opened #708 "MQTT Humidity sensor should have unit of "%" by default"
See https://github.com/GladysAssistant/Gladys/issues/706

[2020-03-18 19:49] Pierre-Gilles commented on #538
I don't think we need a new table, we already have those use-cases in Gladys.

- if it's linked to a device, it should be in the `t_device_param` table
- if it's linked to a service, it should be in the `t_variable` table

But I agree that we can modify those tables to handle secrets in a more secure way.

[2020-03-18 21:03] PhilippeMA commented on #707
Voilà ce que j'ai trouvé. Désolé pour la mise en forme... S'il y a une méthode pour faire mieux, dis-moi ;)

[code]

[2020-03-18 21:05] PhilippeMA commented on #706
Il s'agit d'un capteur MH-Z19B connecté à un ESP32.

[2020-03-19 16:15] NoskaOff opened #710 "Adding a local Gladys Plus option when enabling it"
I could be nice to add the choice in production mode of using either the normal Gladys Plus or a local instance

[2020-03-19 17:30] Pierre-Gilles commented on #710
You mean, when building the frontend, to build it in Gladys Plus mode ?

You can, by setting the environnement variable GATEWAY_MODE=true

Is it what you were looking for? :)

[2020-03-20 17:49] Pierre-Gilles commented on #648
Sorry I didn't see your comments... Lost in my endless pile of GitHub notifications..

Better late than never 😅

Nice ! About the auto-expand, it's great! Do you know if you'd be able to generate a rpi-image with docker + Gladys in CLI for example ? Right now I'm building manually the image, it would be amazing if it could be an automated process !

About the reset password at first login, it stil

[2020-03-21 15:32] #664 closed, assigned to atrovato

[2020-03-21 15:32] #657 closed, assigned to atrovato

[2020-03-21 15:32] #669 closed, assigned to atrovato

[2020-03-21 15:32] #656 closed, assigned to atrovato

[2020-03-21 15:32] #661 closed, assigned to atrovato

[2020-03-21 15:32] #679 closed, assigned to nobody

[2020-03-21 15:38] #678 closed, assigned to atrovato

[2020-03-21 15:39] #618 closed, assigned to nobody

[2020-03-21 15:55] Pierre-Gilles opened #713 "Session name should be a clear user agent of the browser using the app, not "Device""
Example:

- "Safari MacOS"
- "Chrome Windows 10"
- "Chrome Android"

<img width="940" alt="Screenshot 2020-03-21 at 16 53 35" src="https://user-images.githubusercontent.com/7365207/77230459-9bb6c600-6b94-11ea-92d8-842d9911a861.png">

[2020-03-21 16:00] Pierre-Gilles commented on #707
C'est parfait ! J'ai formatté ton JSON

[2020-03-22 17:12] NoskaOff commented on #710
I mean having the choice of using Gladys Plus (your instance) or the one that I'll be running myself at home for testing. Hope it makes sense :)

[2020-03-22 19:01] Pierre-Gilles commented on #710
Sure, you can set the env variable GLADYS_GATEWAY_API_URL in both frontend and backend when building it, and put your own endpoint.

But I don't see what the point of running your own Gladys Plus instance ^^

If you have the knowledge to run your own Gladys Plus instance, you have the knowledge to just expose your Raspberry Pi to the internet, which is the exact same if you want to access your Pi

[2020-03-22 19:01] #710 closed, assigned to nobody

[2020-03-25 14:34] VonOx commented on #626
And building cost credits :-)

Technically this is possible as we can filter on PR

[code]

So is this issue still relevant?

[2020-03-25 14:39] #576 closed, assigned to nobody

[2020-03-28 09:57] Pierre-Gilles opened #717 "Fix all bugs "cannot read property [zwage/..] of undefined + rethink i18n of integrations in UI"
We should remove all i18n from the `integrations/xxxx.en.json` in the front, and move that in the i18n file.

Then, we can stop using the json file as source of translation, i18n should be used instead.

<img width="556" alt="Screenshot 2020-03-28 at 10 54 50" src="https://user-images.githubusercontent.com/7365207/77820427-9dc3dc00-70e2-11ea-949c-9517eab647e4.png">

[2020-03-28 16:04] #630 closed, assigned to atrovato

[2020-03-28 16:29] #687 closed, assigned to nobody

[2020-03-28 16:29] #717 closed, assigned to nobody

[2020-03-30 08:20] Pierre-Gilles opened #720 "Improve integrations tab UI"
- [ ] There should be a default "All" category of integration

<img width="1440" alt="Screenshot 2020-03-30 at 10 17 28" src="https://user-images.githubusercontent.com/7365207/77890447-c200f380-726f-11ea-830b-a8d756d3af09.png">

- [ ] Instead of having different JSON files `device.en.json`, `communication.en.json`, have one file: `integrations.js` with the list of integration key + image path. i18

[2020-03-30 09:57] Pierre-Gilles opened #722 "MQTT service should start its own MQTT broker container (with Docker)"
- [ ] When initializing the service, the user should be prompted to start its own MQTT container

- [ ] Should generate a strong password, displayed in the UI for the user so the user can use it.

- [ ] Should start a container with the correct architecture (ARM, ARMv64, amd64, ...)

[2020-03-30 11:06] moqmar opened #723 "Multiple dashboards and public dashboards"
**Is your feature request related to a problem? Please describe.**
Two scenarios:
- I have many sensors for my AC and heating, and also lots of stuff to control in the Garage. I don't want this on my "Home" tab, but I still want a similar way to organize it.
- I want others to see how the weather is at my home, show a live stream of the landscape, and perform a single action.

**Describe the solut

[2020-03-30 11:09] moqmar opened #724 "Camera event history"
**Is your feature request related to a problem? Please describe.**
I can see the current situation with the camera view, but not e.g. what happened yesterday (which is even more important IMO).

**Describe the solution you'd like**
If I click the camera image, I'd like a bigger live preview to show up, with a timeline slider underneath displaying the past events e.g. recorded by ZoneMinder (that w

[2020-03-30 11:34] Pierre-Gilles commented on #723
Hi !

100% agree, this is something on our roadmap :)

Gladys v4 was designed for this. The current dashboard you see in the homepage is the "main" dashboard, but we plan to add  the ability to create multiple dashboards.

If you want to help us develop this, don't hesitate, PR are welcomed. We can talk about the feature here before implementing.

[2020-03-30 11:44] Pierre-Gilles commented on #724
I didn't know about ZoneMinder! We have lots of things to learn from them on the camera side :)

I would prefer that we develop what's missing in Gladys in-house, so we have everything in Gladys without needing an external dependency.

Can you explain a little bit more which images we need to save? Imagine you have a refresh rate of 1 sec, and we save every image, it means we save 60 * 60 * 24 = 8

[2020-03-30 12:48] moqmar commented on #724
Yeah, saving all images is not the best idea. ZoneMinder does pretty good movement detection on live video streams, with selectable zones of interest, and much more features. I think this is a bit out of scope for Gladys, hence I was suggesting an integration.

What would be a great easy alternative way to implement something like this is an FTP server - most of the standalone video cameras can de

[2020-03-30 12:55] #706 closed, assigned to nobody

[2020-03-30 12:55] #708 closed, assigned to nobody

[2020-03-30 13:02] Pierre-Gilles commented on #724
While I agree that it's not the goal to re-develop entirely ZoneMinder in Gladys, some features like motion detection can be nice to have in Gladys natively !

Could you help us develop this? :)

[2020-03-30 13:11] moqmar commented on #724
I can implement the UI and the FTP server (not this week though), but I have experimented with motion detection & everything related to RTSP streams, and I hated it :laughing:

ONVIF would be another standard that might be worth supporting - it's basically a standardized way to get the RTSP stream URL of a camera (basically all of them are supported), but also supports controlling camera features

[2020-03-30 13:26] Pierre-Gilles commented on #724
Thanks for your analysis!

For a first "camera history" feature in Gladys, what I see:

- Subscribe to ONVIF "motion" events in Gladys
- When a motion event is fired, simply save the current camera image (Getting the camera image is already coded in Gladys)
- In the frontend, have the ability to see the history of the camera motion events, and see the image captured at that time.
- Garbage collect

[2020-03-30 16:13] VonOx commented on #707
@PhilippeMA c'est merge, tu peux confirmer que ton ampoule est bien gérée ?

[2020-03-30 16:16] Pierre-Gilles commented on #708
Fixed! @PhilippeMA is it good? :)

[2020-03-30 16:16] Pierre-Gilles commented on #706
Added!

[2020-03-30 17:10] PhilippeMA commented on #707
Hello,

C'est nickel !, merci !!!

[2020-03-30 17:10] #707 closed, assigned to VonOx

[2020-03-30 17:12] PhilippeMA commented on #706
Je confirme que ça fonctionne, merci !

[2020-03-30 17:12] PhilippeMA commented on #708
merci, c'est bon aussi !

[2020-04-03 08:55] Pierre-Gilles opened #726 "Replace DarkSky by OpenWeatherMap API integration"
Use openweathermap API : https://openweathermap.org/

- Keep the frontend even if openweathermap doesn't need an API key (maybe do a sample call on the front page do say "OpenWeatherMap api is working ✅"

- Keep a cache of recent calls in memory for performance

[2020-04-03 08:56] Pierre-Gilles opened #727 "User should select a timezone when configuring Gladys + use timezone in node-schedule"
Right now, the timezone may not be correct and scenario will be triggered at the wrong moment.

[2020-04-03 08:58] Pierre-Gilles opened #728 "Find a way to send camera websockets images only when user needs it in UI"
Right now, camera image are sent all the time in websocket, even if the user is watching the settings page... it should not be the case!

[2020-04-03 09:27] #685 closed, assigned to nobody

[2020-04-03 10:11] atrovato commented on #728
Or/and maybe proxy/forward the RTSP flow ?

[2020-04-03 12:19] Pierre-Gilles commented on #728
It's another development ^^ But we can discuss on the forum if you need that precise use-case. I'm not sure this is the priority right now, IMO :)

Here it's more a general card about "websocket being sent only when subscribed too"

[2020-04-03 15:44] Pierre-Gilles opened #730 "Improve Telegram integration"
**Improvements**

When linking Gladys to telegram, Gladys should send a message to the user to say "Telegram is configured with success. Try to send "Hello" to test that everything is working"

[2020-04-04 07:34] atrovato commented on #645
@Pierre-Gilles So we can consider it as closed ?

[2020-04-05 09:48] VonOx opened #732 "TypeError: r.rooms is undefined"
For some reason camera box is added twice on my Dashboard.

![image](https://user-images.githubusercontent.com/1528694/78471592-ab0c4680-7732-11ea-917f-36db1cb97bcb.png)

So first one is working because device is associated, but second one no. That's ok.

Issue is I can't edit dashboard to delete second box because no room is associated.
`TypeError: r.rooms is undefined`

[2020-04-06 09:04] Pierre-Gilles opened #734 "Z-Wave device "Qubino ZMNHJD1" is not well handled"
The Qubino ZMNHJD1 should be able to send 6 different orders, but Gladys only display a "On/Off" button.

[2020-04-06 09:15] Pierre-Gilles commented on #645
Yes, this is done!

[2020-04-06 09:15] #645 closed, assigned to atrovato

[2020-04-06 09:43] Pierre-Gilles commented on #734
[code]

[2020-04-06 10:09] Pierre-Gilles commented on #626
This issue is still relevant because we still have no ways of letting users test new integrations before a merge...

But right now, I don't see any secure & easy way of implementing this.

I won't invest more time on this, this is not the priority right now.

[2020-04-06 11:32] Pierre-Gilles commented on #614
No! We want to use the "latest stable release" available.

The issue is that OZW team is not really consistent in their official package release.. they tend to release only "once in a while".

So @sescandell is trying to build Gladys Docker image using a fixed commit on GitHub, fixed commit that we'll update frequently.

[2020-04-06 15:37] Pierre-Gilles commented on #732
I'm trying to debug this...

For now, I'm not able to reproduce the bug, it works fine on my side, even with no camera selected.

I don't think that the problem comes from this box, as this box has no link with "rooms". It might be coming from your other boxes, I see (on your copy paste in Slack) that you have other boxes :

type "temperature-in-room"
room "chambre"
1 […]
0 {…}
type "devices-in-ro

[2020-04-06 15:46] Pierre-Gilles commented on #732
Despite all my attempt, I'm not able to reproduce...

Can you give me more informations?

Please don't delete your Gladys instance, this bug is critical and needs to be solved!

[2020-04-06 15:48] Pierre-Gilles commented on #732
Where is this line coming from?

[code]

Can you click on the error in the browser to see where it happened?

[2020-04-06 16:39] VonOx commented on #732
Error come from console browser, I have deleted the dashboard from db. Not able to reproduce too.

But I have a backup of the db, I will check the json, we will see which box is the problem.

Edit: The Dashboard ( this one is not editable )

[code]

[2020-04-09 11:41] PhilippeMA commented on #732
A similar problem here. The UI is not responding as expected (cf. gif)
![Peek 09-04-2020 13-38](https://user-images.githubusercontent.com/25247304/78891383-c4c9c880-7a67-11ea-8a79-f272e776b38f.gif)

[2020-04-09 22:28] PhilippeMA commented on #732
To reproduce (not sure at 100%) : "sudo docker prune -a" or remove Docker and all the repositories (include gladys container). Then, reinstall Gladys as descripted on the website. Gladys may have used backup functionality ?

[2020-04-10 06:32] VonOx commented on #732
I've send my db with broken Dashboard to  @pierre-gilles

[2020-04-12 19:47] atrovato commented on #538
Ok, I propose a separated PR for secret params.
For RTSP, username/password are not always in the url as `rtsp://{username}:{password}@url` but only this case will be managed (asap in another PR).

[2020-04-12 20:20] atrovato commented on #612
I saw logs changed to debug level, is this issues closed?

[2020-04-13 09:48] Pierre-Gilles opened #737 "Performance: Rethink device.new-state event flow"
**Problem**

When a Gladys instance receives a lot of `device.new-state` events (MQTT/HTTP), Gladys REST API became slow and un-responsive because the database connection is completely bloated by transaction to insert new-states.

**Possible solutions**

We need to rethink the device-state event flow.

What's the most important thing to do when an event is received?

=> Execute the scenario + upda

[2020-04-13 10:08] Pierre-Gilles commented on #732
Thanks @VonOx for your DB, it helped me fix it !

PR is building in https://github.com/GladysAssistant/Gladys/pull/738

[2020-04-13 11:42] #732 closed, assigned to nobody

[2020-04-13 12:37] atrovato commented on #728
Ok I understand, I propose a solution: un/subscribing to event type.
Please see https://github.com/GladysAssistant/Gladys/pull/739

[2020-04-13 16:20] Pierre-Gilles commented on #728
It's exactly what I had in mind! Nice job!

[2020-04-13 16:21] Pierre-Gilles commented on #612
Yep, it is!

[2020-04-13 16:21] #612 closed, assigned to nobody

[2020-04-13 16:29] Pierre-Gilles commented on #538
Great PR!

Mmm just saw that this PR relies on the "secret params" PR...

I'm not sure what's the next step then...

Waiting for your input!

[2020-04-14 08:33] Pierre-Gilles opened #741 "Philips Hue is saving lots of unnecessary device_state when polling and value is unchanged"

[2020-04-14 08:40] Pierre-Gilles opened #742 "Add a view to see how many device feature state are in DB and a manual way to purge them"

[2020-04-15 17:38] Pierre-Gilles opened #744 "Gladys sometimes connect multiple time to the Gladys Gateway and receive multiple time new messages"

[2020-04-19 09:35] atrovato commented on #742
Do you have any idea on this?

Add a view on settings? As technical view?
Add a tab between "chat" and "integration"?

[2020-04-20 08:13] Pierre-Gilles commented on #742
Yes, I think it should be in "settings" => "System".

We should display the total size of the DB, then the size of the deviceState table, and several options to purge the state table, like:

Clean device history older than:

- 1 day
- 1 week
- 1 month
- 3 months

Something like that

It could be great to find again the parameters of the `/signup/preference` page so the user can modify it.

about t

[2020-04-20 14:52] Pierre-Gilles opened #746 "Send alert when Gladys Plus backup failed"

[2020-04-21 08:54] PhilippeMA opened #749 "Camera service consumes too many system inode resources (docker/gladys crash)"
First, are you sure that you found a Gladys bug? yes

**Description**
Directory /var/lib/docker/overlay2/xxxx/diff/tmp/gladysassistant is full au camera-* directories.
On my Gladys instance, i have 2 cameras with 2 seconds refresh delay for one of them and 60 seconds for the other.

When 100% inodes used : Docker doesn't start anymore with "no space left on device storage-driver=overlay2" error me

[2020-04-21 12:38] VonOx opened #750 "ScheduledTrigger.jsx - DatePicker not ordered correctly"
![image](https://user-images.githubusercontent.com/1528694/79866853-b1aae700-83dd-11ea-9afb-2be5d31bae33.png)

[2020-04-24 20:38] link39 opened #752 "Renaming a room does not update a selector"
**Describe the bug**
When you rename a room, the name is not change everywhere. As shown in the following screenshot, I renamed my room "Salon" to "Neo coolcam" and the original name appears in the network log

**Screenshots**
![image](https://user-images.githubusercontent.com/2229692/80254614-cc9a8700-867b-11ea-9feb-1b0365994e86.png)

**Your Gladys installation (please complete the following info

[2020-04-24 20:46] link39 opened #753 "Zwave : No autorefresh setup page after scan complete"
**Describe the bug**
Zwave : When you click on the "setup" tab, zwave service read your stick. An icon indicate the loading. But the loading rounds in circle. I had go to another tab and switch again to "setup" to show my zwave equipements.

**Expected behavior**
At the end of the reading stick ("scan complet" instruction in the log), I expect to have an auto-refresh showing me my devices.

**Scre

[2020-04-24 20:50] atrovato commented on #752
It's not the name, it's the selector. It doesn't change when you rename the room.

[2020-04-24 21:01] link39 commented on #752
It's confusing. No way to change the selector when you rename a room ?

[2020-04-27 09:22] Pierre-Gilles commented on #752
We use the selector as a unique ID everywhere in Gladys, and being able to update it have lots of implication everywhere.

**The idea behind the selector is:**

- An unique ID
- "human readable"
- Used internally in the code & URL, but not directly exposed to the end-user

Right now, It's not designed to be updatable. If you update it, expect your scenes, boxes, caches to do weird things ^^

Still

[2020-04-27 21:22] PhilippeMA opened #756 "MQTT Service : copy function doesn't work"
**Describe the bug**
Copy function doesn't work

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Edit features'
2. Click on 'Copy MQTT Topic' of any feature
3. Button text disappear and nothing copied

**Your Gladys installation (please complete the following information):**

- Raspberry Pi installation (if yes, which Raspberry Pi ?) Raspberry Pi 3
- Manual installation: [MacOS/Window

[2020-04-28 06:50] Pierre-Gilles opened #758 "MQTT: Change feature select + more explicit feature name in select"
Features are not well explained, some are even in duplicate:

<img width="1440" alt="Screenshot 2020-04-28 at 08 49 14" src="https://user-images.githubusercontent.com/7365207/80456044-2d9cb600-892d-11ea-8b2c-f98c8ecd7c16.png">

[2020-04-28 18:36] atrovato commented on #756
Fixed with french translation PR, according to i18n validator.

[2020-05-01 09:02] Pierre-Gilles opened #761 "Seems there is some bugs on Firefox/Safari"
- user profile image not showing
- Settings:
- houses not showing
- sessions not showing
- Actually, almost no page shows up in firefox haha

[2020-05-02 23:06] mitchellbernstein commented on #761
The issue also occurs on Chrome - specifically the cancel subscription.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/748263/80894321-8eb2e980-8c9f-11ea-9c24-200a57b48b95.png">

[2020-05-03 09:30] VonOx opened #763 "Provide way for dev to build local Docker env"
Due to repo configuration with CI for building docker images, devs cannot build directly changes for testing.

Today we need to create/set a dockerhub account and circleci account for automatic build ( overkill for testing )

TODO List

* Dev dockerfile / docker compose
* Documentation

[2020-05-03 09:37] atrovato commented on #763
Is this linked to https://github.com/GladysAssistant/Gladys/issues/626 ?

[2020-05-03 10:02] VonOx commented on #763
Yep duplicate, sorry

[2020-05-03 10:03] #763 closed, assigned to VonOx

[2020-05-03 16:05] VonOx opened #764 "Hue Service - Handle LWO001 light"
Handle LWO001 light in Hue Service

https://community.gladysassistant.com/t/config-via-gladys-plus-bug-link-plus-avec-local/5331/10

[2020-05-04 07:24] VonOx commented on #761
I'm using Firefox everyday ( Both ESR end latest ) , and the problem doesn't occur. ( Windows & Linux )

Tested with chromium , no problem. Only new users are impacted ?

[2020-05-04 07:36] VonOx commented on #626
I think we can do that with hook ( https://docs.docker.com/docker-hub/builds/advanced/ )
Time to POC :)

[2020-05-04 08:11] Pierre-Gilles opened #766 "Scene execution concurrency should be way higher than 1"
https://community.gladysassistant.com/t/les-scenes-rex/5338?u=pierre-gilles

[2020-05-04 08:15] Pierre-Gilles opened #767 "Scene: Continue Only If value equal 1 doesn't work"
"A 00h chaque jours je récupère l’état par un Get device value de divers lumière (pour le moment) et j’utilise en suite la fonction Only continue if. Je souhaitais (tout ça pour test puisque j’aurais ensuite à y intégrer des détecteurs de mouvement) que si au moins une lumière est allumée envoyer un Turn Off the Lights à toutes les lumières. Si j’utilise l’opérateur equal à 1, ça ne fonctionne pas

[2020-05-04 08:25] Pierre-Gilles opened #768 "Dashboard "device in room" bug with on/off switch"
https://community.gladysassistant.com/t/dashboard-evolutions-bugs-etc/5150/4?u=pierre-gilles

"Du coup je n’ai plus accès à la commande d’extinction globale du Garage. Si j’appui sur celle-ci, le sélecteur passe à 1 puis se remet à 0.
La seule façon de le faire apparaître à 1 est de faire un refresh de la page.
Du coup idem à l’extinction pour les 3 commandes. Si j’éteins au global, la commande pa

[2020-05-04 08:57] Pierre-Gilles commented on #626
Mmm I don't understand how this can help?

[2020-05-04 09:01] Pierre-Gilles commented on #761
@mitchellbernstein Thanks for reporting, I'm not able to reproduce neither...

I wonder if it's an issue with a chrome extension you have which can be blocking Stripe JS code (our payment analytics solution) Can you try again in Incognito Mode without extension?

[2020-05-04 09:08] #764 closed, assigned to nobody

[2020-05-04 09:09] Pierre-Gilles commented on #764
Thanks for the PR! 👏

[2020-05-04 09:23] Pierre-Gilles commented on #752
I think we are closing this for now. There are so many things to do that have a higher priorities :)

[2020-05-04 09:23] #752 closed, assigned to nobody

[2020-05-04 09:24] Pierre-Gilles commented on #750
One question, what's the issue in your screenshot?

[2020-05-04 09:53] VonOx commented on #750
AM PM is confusing me ( So I'm the problem :D )

[2020-05-04 09:53] #750 closed, assigned to nobody

[2020-05-04 10:15] VonOx commented on #626
I think we need a simple workflow for providing image based on PR.
This can be done with circleci but I think this is already complex.
So the idea is also to preserve credit on circleci and use another system for building on PR

From my previous comment => Advanced build on dockerhub is not sufficient ( I cant tag on PR :/  because no variables are passed to building env )

Another solution is Git

[2020-05-04 11:59] Pierre-Gilles commented on #626
This GitHub Workflow seems promising!

Maybe we could test GitHub Actions and see if it could replace CircleCI in our case?

GitHub Actions is free for open-source repositories and I don't think they have limits like CircleCI...

[2020-05-04 12:59] #671 closed, assigned to nobody

[2020-05-04 13:58] VonOx commented on #626
😭 so many hours on  #643

Yeah Github Actions look interresting

Must have for the dev and user community is:

* Multiarch build on release ( tag gladys:latest gladys:vX and gladys:vX.Y.Z )
* Multiarch build on master ( tag gladys:dev )
* Multiarch build on PR ( tag gladys:pr-XXX )

PS: There is limitation of 2000 actions/minutes for free plan

![image](https://user-images.githubusercontent.com/15

[2020-05-04 14:01] #749 closed, assigned to nobody

[2020-05-04 14:01] #767 closed, assigned to nobody

[2020-05-04 14:02] Pierre-Gilles commented on #766
Fixed by #769

[2020-05-04 14:02] #766 closed, assigned to nobody

[2020-05-04 14:07] Pierre-Gilles commented on #761
@mitchellbernstein I'm not able to reproduce any of your problems 😄

Everything works fine on Firefox on my side...

Are you sure you don't have a weird browser extension which messed up with Gladys?

Closing this in the meantime as it's likely that's it's an issue on your side.

[2020-05-04 14:07] #761 closed, assigned to nobody

[2020-05-05 07:32] Pierre-Gilles commented on #626
@VonOx No no no I wasn't staying to drop your work on #643 ^^ For now, we keep CircleCI. I don't think a migration to GitHub actions is our priority right now, there are so many things to do in issues...

Are you sure the 2000 Actions minutes/month are for public repository?

[2020-05-05 11:46] Pierre-Gilles opened #772 "Create a feature category + types for "garage door""
- [ ] Open/Close
- [ ] Stop push button

[2020-05-05 14:51] #634 closed, assigned to nobody

[2020-05-07 06:52] Pierre-Gilles opened #773 "Fix Gladys Plus reset password process"
Gladys Plus reset passord seems not to work

[code]

Is not the right URL in the frontend

[2020-05-08 08:11] atrovato opened #774 "French translation issues"
https://community.gladysassistant.com/t/gladys-4-beta-est-desormais-disponible-en-langue-francaise/5357/5?u=alextrovato

Some misses in french translation file:

Gladys Plus - Prix : Ligne 56, 160
<a href=“https://gladysassistant.com/fr/pricing/”> Gladys Plus. ",

MQTT : Lignes 480, 498
<a href=“https://documentation.gladysassistant.com/fr/api#mqtt-api”> ici .",

Xiaomi : Ligne 528
<a href=“https:

[2020-05-08 08:15] atrovato commented on #758
May be linked to https://github.com/GladysAssistant/Gladys/pull/731

[2020-05-08 08:40] Pierre-Gilles opened #775 "Rethink what is displayed in the "Device in Room" label for deviceFeatures"
For binary devices features, the name of the device is displayed, not the feature.

There are problems with device which have multiple binaries feature, for example MQTT device.

Maybe make a special case for MQTT devices, display there feature name instead of device?

Because for Philips Hue devices, the feature should not be displayed, only the name !

[2020-05-08 10:49] Terdious commented on #774
After testing on the http links, in fact there are some that are still written in hard:
- Gladys Plus abonnement : front\src\routes\settings\settings-gateway\GatewayPricing.jsx -
Ligne 106 : `<a href="https://gladysassistant.com/pricing" class="btn btn-green btn-block">`

- Gladys Plus Mot de passe oublié : front\src\components\gateway\GatewayLoginForm.jsx
Ligne 5 : `const EXTERNAL_FORGOT_PASSWORD

[2020-05-08 14:47] Pierre-Gilles opened #777 "Display the git commit hash of the current version in "Settings" => "System""
So the user knows which exact version he's running

[2020-05-08 15:41] Pierre-Gilles opened #778 "Gladys Plus: decrypt message : invalid signature"
On Gladys Plus, seems there is a bug sometimes " decrypt message : invalid signature "

Terdious has the problem

[2020-05-09 07:10] Terdious commented on #774
Files fr.json of folders front\src\config\i18n modified
[fr.txt](https://github.com/GladysAssistant/Gladys/files/4602873/fr.txt)

[2020-05-09 07:20] Terdious commented on #768
For information :
The bug has disappeared since yesterday without specific handling. I can't reproduce it yet. Note that I have 4 sessions of Gladys continuously. I kicked 3 sessions last night. This morning I have 4 active sessions again but the bug is not reproducible.
Also, it is important to note that when this bug was present, the command went well on the single way broker and the feedback fr

[2020-05-09 07:32] Terdious opened #779 "Dashboard edit menu - add buttons Save/Cancel"
In the "edit" window of the dashboard, once the scroll bar has appeared after placing a certain number of cards, it would be useful to have the "Save" and "Cancel" buttons at the bottom of the page.

[2020-05-09 08:57] Terdious opened #780 "Hue Service - Add model LOM002 Hue Smart plug"
Add model LOM002 Hue Smart plug

https://community.gladysassistant.com/t/philips-hue-accessoires/5339/3?u=terdious

[2020-05-09 10:26] atrovato commented on #626
Do we have any visilibity on this point?
More and more features require this to get easily tested.

[2020-05-09 11:04] atrovato commented on #756
@PhilippeMA is it fixed now with french translation integration?

[2020-05-09 11:16] PhilippeMA commented on #756
Hello @atrovato, i now have a message but copy function still doesn't work.

No log in Gladys and i don't know where i can see logs for this problem in Firefox. Tell me what I can do to give you more information.

![MQTT_copy_bug](https://user-images.githubusercontent.com/25247304/81472218-d7febe00-91f6-11ea-910a-d1032e3dae25.gif)

[2020-05-09 11:17] atrovato commented on #774
Ligne 5 : const EXTERNAL_FORGOT_PASSWORD_LINK = 'https://plus.gladysassistant.com/forgot-password';
Lignes 74 à 77 : <a href={props.external_forgot_password ? XTERNAL_FORGOT_PASSWORD_LINK : '/forgot-password'} class="float-right small">

Pour cette URL ci, je ne sais pas s'il existe une version française. Si oui, quelle est l'URL ?

[2020-05-09 14:49] atrovato commented on #756
I you want to see logs, you can open console pressing F12 key.
I just test it with Firefox v68, v75 and upper, on Raspbian and Windows, I can't reproduce it.

Can you provide console logs please?

[2020-05-09 15:00] PhilippeMA commented on #756
I have no log (cf. gif below).

One observation, it **works with** the same browser as you when I connect via **gladys plus**. But when I'm local, it doesn't work.
![MQTT_copy_bug_nolog](https://user-images.githubusercontent.com/25247304/81477152-7bab9680-9216-11ea-87c7-d1c2fd5e7759.gif)

[2020-05-09 15:06] atrovato commented on #756
That's totally weird.... did you hard refresh the browser on local url?

[2020-05-09 15:33] PhilippeMA commented on #756
I tried hard refresh but same bug.

I tried on another computer and this time, i get a message in console : `navigator.clipboard is undefined`

[2020-05-09 15:57] atrovato commented on #779
Hi, what do you think about something like a fixed bottom bar?

![dashboard-fixed-edit-bar](https://user-images.githubusercontent.com/1839717/81478545-81a57580-921e-11ea-92d4-b29e55726227.gif)

[2020-05-09 17:18] atrovato commented on #652
Dupe with #722

[2020-05-09 17:18] #652 closed, assigned to nobody

[2020-05-10 00:49] Terdious commented on #779
For my part I find it perfect !!  I let @Pierre-Gilles validate ^^
Thank you very much @atrovato

[2020-05-10 00:52] Terdious commented on #774
@atrovato,
Je n'en ai aucune idée pour ma part. J ai fait plusieurs essais mais je n'ai pas fait mouche. Ce qui est marrant c'est que les variables en/fr existe visiblement, ou en tout cas, il y en a qui reprennent tous les texte de cette page. Je laisse @Pierre-Gilles te répondre, mais elle sera sûrement à créer.

[2020-05-10 08:27] VonOx commented on #626
I'm on , I just need some days.

[2020-05-10 15:46] VonOx commented on #626
I have setup a repo to build docker image with Github Actions ( First successful build today )

https://github.com/VonOx/Gladys4_GithubActions/runs/660824024

Difference with circleci:

* no external shell script for building multiarch docker image ( thanks to docker buildx )
* more simple yaml

ToDo:

* Adding PR filter
* Tag image based on PR number

-----------------------------------------

I

[2020-05-11 06:44] Terdious commented on #780
Pull request #781

[2020-05-11 07:25] Terdious commented on #774
@atrovato, I'm sorry but I found other things ...
In device / feature :
- Line 554 file fr.json : "addActionButton": "Ajouter une nouvelle action", replace with "Nouvelle action" or better - Edit Scene / Button New trigger,
- Line 559 file fr.json : "addNewTriggerButton": "Ajouter un nouveau déclencheur", replace with "Nouveau déclencheur" or better - Edit Scene / Button New action,
- Line 601 fil

[2020-05-11 07:38] Pierre-Gilles opened #784 "Add a way to edit Gladys Plus email in Gladys Plus"

[2020-05-11 08:33] Pierre-Gilles opened #785 "Delete in integration rtsp-camera is bugging?"
https://community.gladysassistant.com/t/gladys-4-developpement-du-service-arduino/5154/50?u=pierre-gilles

[2020-05-11 08:51] Pierre-Gilles commented on #772
Request coming from : https://community.gladysassistant.com/t/dashboard-evolutions-bugs-etc/5150/12?u=pierre-gilles

⚠️ To discuss before implementing

[2020-05-11 09:13] Pierre-Gilles opened #787 "MQTT service: In the "devices in rooms" dashboard box, display the feature name of a binary device, not the device name"
https://community.gladysassistant.com/t/dashboard-evolutions-bugs-etc/5150/12

[2020-05-12 08:02] Pierre-Gilles commented on #778
[code]

[2020-05-12 08:32] Pierre-Gilles commented on #774
Non, il n'y a pas de version française de cette URL, c'est une app donc l'app est traduite directement, pas de langue dans l'URL comme sur la documentation qui est un site statique

[2020-05-12 08:33] Pierre-Gilles commented on #626
Definitely !

[2020-05-12 08:34] Pierre-Gilles commented on #779
It's really nice, but what happened to your dashboard? Seems there is no card anymore? Is it a side effect or just a test?

[2020-05-12 08:35] Pierre-Gilles commented on #756
I know what's happening, `navigator.clipboard` is only available on localhost and https website

I guess we'll just disable the feature :)

[2020-05-12 08:36] Pierre-Gilles commented on #756
And let the user copy paste by himself

[2020-05-12 08:40] Pierre-Gilles commented on #768
Ok.

Closing this for now, feel free to open it again if you have the bug.

[2020-05-12 08:40] #768 closed, assigned to nobody

[2020-05-12 10:00] Terdious commented on #774
Bonjour @Pierre-Gilles,
Lorsque l'on clique sur Mot de passe oublié, on se retrouve sur cette page :
![image](https://user-images.githubusercontent.com/35010958/81670513-09ba9380-9448-11ea-9d24-644eb7c2bda2.png)
Comme tu le vois, la traduction n'est pas faite, tandis qu'effectivement, sur la documentation, la traduction est bien faite en fonction de la langue du navigateur.

[2020-05-12 10:26] atrovato commented on #779
It is because of the the gif screenshot application. There is no changes on cards.

[2020-05-12 15:37] Pierre-Gilles commented on #779
Ok ! I'll have a look at the PR, looks good to me :)

[2020-05-12 19:51] atrovato commented on #774
@Terdious it's ok for following items:

Line 559 file fr.json : "addNewTriggerButton": "Ajouter un nouveau déclencheur", replace with "Nouveau déclencheur" or better - Edit Scene / Button New action,
Line 601 file fr.json : "get-value": "Chercher le dernier état", replace with "Récupérer le dernier état" or better - Edit Scene / New action drop down menu,
In scenes :
Line 942 file fr.json : "decim

[2020-05-12 20:09] atrovato commented on #774
Also done for "forgot-password" page, now based on navigateur language if user not connected.

[2020-05-13 06:12] Terdious commented on #774
Thank you very much !!

[2020-05-13 06:42] Pierre-Gilles opened #788 "Start scene dashboard box"
- In the box configuration, select a scene
- Then the box displays a button "Start" (and "stop" ?)

[2020-05-13 06:44] Pierre-Gilles opened #789 "Scene: Be able to inject a variable value in "send message""
- Use a variable injector lib in the text area, exactly like when you do "@..." on discord. The user will then see a list of available variable to inject **with a friendly name**
- Then, when the scene execute, replace the variable with the value

[2020-05-13 06:50] Pierre-Gilles opened #790 "Scene: If yes, do that, if no, do that scene box"
This card is more a "to investigate", we need to discuss first !

Example on Microsoft Power Automate:

![fpo_video_screenshot_1x 05e0ceb8a8b44bde94ed4f78ae612807 2](https://user-images.githubusercontent.com/7365207/81780360-b2273100-94f6-11ea-945f-fdcbad02b67e.png)

[2020-05-13 06:52] Pierre-Gilles opened #791 "Scene: Be able to stop a scene"

[2020-05-13 10:23] VonOx commented on #626
OK , latest news about this issue.

PR build tag/filter is implemented and [tested](https://github.com/VonOx/Gladys4_GithubActions/actions/runs/103416318).

![image](https://user-images.githubusercontent.com/1528694/81801002-07be0680-9514-11ea-80c9-f772899458e3.png)

So for each PR there is a build and docker image available

[2020-05-13 18:09] billonalex opened #792 "House : impossible to update informations"
It is impossible to update a house which already exists.

<img width="897" alt="Bug maison Gladys" src="https://user-images.githubusercontent.com/1650562/81848114-e7626c00-9554-11ea-8d92-6e6927f17df9.PNG">

When the user want to add a room in a house, there is an error message which says that the house already exists. As if the user tried to create a new house with the same configuration.

[2020-05-13 19:16] atrovato commented on #792
I can't reproduce it. I tried adding a room, deleting one, but no error.

Can you paste here what you see in browser console? If there is any error log.

[2020-05-13 19:20] atrovato commented on #756
I tried with `document.execCommand('copy');` javascript command, but it need to have a displayed input field. There is some tips to hide it, but I'm not really fan.

See https://hackernoon.com/copying-text-to-clipboard-with-javascript-df4d4988697f

[2020-05-13 19:22] billonalex commented on #792
<img width="476" alt="POST Error" src="https://user-images.githubusercontent.com/1650562/81855530-c2bfc180-955f-11ea-9a63-fb5d92d052a2.PNG">

I have a 409 (Conflict) error.

[2020-05-13 19:26] atrovato commented on #792
What did you do exactly?
Simply add a new room? No rename? No new house?

[2020-05-13 19:34] atrovato commented on #672
I'll wait for inspect implementation done with https://github.com/GladysAssistant/Gladys/issues/722 issue.

[2020-05-13 19:37] billonalex commented on #792
I first tried to add a room. Impossible. This is the same for renaming my house.

However, I can add a house, but not delete it from the DB.

[2020-05-14 05:39] Terdious commented on #792
Hi @billonalex,
Does this problem occur in dev or in prod?
I have encountered this problem many times in dev. The only way I could find to solve the problem was to go back through the creation of an account. I have never encountered this problem in production, suddenly I do not know if this solution will work.
cordially

[2020-05-14 05:50] billonalex commented on #792
Hi @Terdious

This problem occurs in dev. However, I have just tried to run my server in prod, the problem is still there.

Am I wrong if I launch in prod with "npm start -s prod" ? It's the first time I launch it in prod, and it seems ok for me. Or maybe should I also launch the front in prod ?

[2020-05-14 11:44] VonOx commented on #626
@Pierre-Gilles you want to use same dockerhub repo or another one ?

We can continue discuss on PR , bur for now I have configured ci for gladys-dev repo image

[2020-05-14 18:03] Pierre-Gilles opened #794 "Scene: Send a message at most "once per minute/hour/day""
To avoid spamming the user, let the user select a max frequency of sending of this message.

[2020-05-14 18:04] Pierre-Gilles opened #795 "When exiting the dashboard, if the dashboard is in edition mode, ask "do you want to leave""

[2020-05-14 18:11] Pierre-Gilles opened #796 "Scene: Be able to disable a scene"
- [ ] The user should be able to disable a scene manually
- [ ] The user should be able to disable a scene in a scene!

[2020-05-14 18:12] Pierre-Gilles commented on #796
"L’exemple, qui me gêne avec le réveil intégré dans l’appli Phillips hue, c’est que les jours férie je dois le couper à la mano la veille, et pensé à le remettre après, sinon je peux pas faire la grasse mat !
Avec ma solution dans Gladys, je peux mettre un event jour ferier ou j’indique que la scène réveil est coupé pendant l’event et j’ai plus à m’en occuper !"

https://community.gladysassistant.

[2020-05-14 18:17] Pierre-Gilles opened #797 "Scene: be able to start a scene from a scene"
⚠️  The user shouldn't be able to select the same scene !!

[2020-05-14 19:14] atrovato commented on #795
Or maybe ask "do you want to leave?", as expect in the house edition page.

[2020-05-14 21:18] link39 opened #798 "Chat : Message not ordering correctly"
**Describe the bug**
When I tell something in the chat, the Gladys replying appears before my answer.

**To Reproduce**
Go to the chat and tell to Gladys to : "show me the camera image in te ...." or " What's the temperature in the ....3

**Expected behavior**
Replies should be after answers

**Screenshots**

![image](https://user-images.githubusercontent.com/2229692/81986995-25d15700-9639-11ea-93

[2020-05-15 20:29] atrovato commented on #713
What about:

![image](https://user-images.githubusercontent.com/1839717/82093481-7e692880-96fb-11ea-994d-1fec548f3738.png)

[2020-05-16 07:40] #773 closed, assigned to nobody

[2020-05-16 07:43] Pierre-Gilles opened #800 "Add a "reset Gladys" button in UI"
The goal of this feature is to let the user restarts from scratch without reinstalling the whole system.

- [ ] Reset button in settings. Should have a clear message with confirmation and explanation (this will wipe Gladys database completely, are you sure?)
- [ ] When the user click on the button, it should delete the DB, and crash Gladys.
- [ ] The frontend should stay up, with a "waiting" messa

[2020-05-16 07:45] Pierre-Gilles opened #801 "Add a box with a live view of CPU usage, memory + request/second"
Inspired by => https://github.com/RafalWilinski/express-status-monitor

Display:

- CPU Usage
- Memory Usage (be careful of the calcul used. Should not display an alarming number)
- Request/second: count everything: API request/second + number of new states per second (on MQTT, Zwave, everything)

[2020-05-16 07:49] Pierre-Gilles opened #802 "It seems there is a memory leak when Gladys is querying lots of cameras"
Probably a stream issue

Investigate into https://github.com/mafintosh/pump

[2020-05-16 07:52] Pierre-Gilles opened #803 "Each Node.js event should trigger a O(1) function, not O(n)"
When a new value is received from a sensor, it emits an event

This events triggers lots of things:

- Scenes
- Saving the state
- Sending message to the Gladys Gateway

We need to make sure that each function is not using for loops, to avoid having huge CPU loads when a user have lots of devices

[2020-05-16 07:53] Pierre-Gilles opened #804 "Benchmark and see if we switch to SQLite to WAL mode"
As most installation are writing a lots to the DB, and reading less, we should see if implementing SQLite WAL mode is faster for us:

https://www.sqlite.org/wal.html

In my early test, it seems yes!

[2020-05-16 13:40] atrovato commented on #798
Sorting is done on string instead of dates.

[2020-05-16 21:03] mojoaxel opened #807 "Outdated dependency 'vis'"
You are still using a very outdated version 4.21 of vis.
This version is not supported anymore!

Please update to the new libraries:
https://github.com/visjs

Feel free to contact us if you need any support during the transition :-)

[2020-05-18 07:58] Pierre-Gilles opened #809 "In the "get device value" scene action, store the value updated_at in a variable + continue only if with time comparaison"
The goal is to be able to know the last time the value of the deviceFeature was changed

+ compare with current time in "continue only if"

https://community.gladysassistant.com/t/suggestions-scenes/5395/8

[2020-05-18 08:10] Pierre-Gilles commented on #798
Nice catch @atrovato ! Thanks for the PR 🙂

[2020-05-18 08:11] Pierre-Gilles commented on #713
Love it! Exactly what I was thinking about 👍

[2020-05-18 08:19] Pierre-Gilles commented on #795
Good idea that's maybe better!

[2020-05-18 08:21] Pierre-Gilles commented on #756
I'm not even sure it'll work. Let's just replace the feature with a "select" option, and the user will do the copy/paste by himself?

[2020-05-18 08:35] Pierre-Gilles commented on #626
I'm good with `gladys-dev` ! It's more explicit :)

[2020-05-18 08:42] #798 closed, assigned to atrovato

[2020-05-18 09:13] #720 closed, assigned to atrovato

[2020-05-18 09:30] #713 closed, assigned to atrovato

[2020-05-18 10:05] Pierre-Gilles opened #810 "In Philips hue integration, when a light is not integrated, add a link to Github issue with the prefilled content"
Documentation: https://help.github.com/en/github/managing-your-work-on-github/about-automation-for-issues-and-pull-requests-with-query-parameters

Example:

https://github.com/pastelsky/bundlephobia/issues/new?assignees=&labels=similar+suggestion&template=2-similar-package-suggestion.md&title=Package+suggestion%3A+%3Calternative%3E+for+%3Cpackage+%2F+category%3E

[2020-05-18 18:47] Pierre-Gilles commented on #626
As seen on master, this doesn't work.

See https://github.com/GladysAssistant/Gladys/pull/793#issuecomment-630368160

Reopening this until we find a solution

[2020-05-18 18:50] Pierre-Gilles commented on #626
For those who read that, Github Actions is no better than CircleCI: secrets are not shared with forked PR for security reason, so it's not possible to build & push automatically on a PR.

There is no reason this will change in the future, so until further notice, we won't have automated builds

The only thing we can do is simplify and document the process to generate a docker image for testing.

[2020-05-19 15:14] Pierre-Gilles commented on #792
@billonalex Can you show here the content of your "house" + "room" tables?

I'm not able to reproduce either

[2020-05-19 15:16] Pierre-Gilles commented on #804
This was merged in https://github.com/GladysAssistant/Gladys/commit/bec7bb51040ba6c0579d170daeb13dbbc1f17253

WAL mode brings better performances to Gladys 4 ! :)

[2020-05-19 15:16] #804 closed, assigned to nobody

[2020-05-21 07:34] atrovato commented on #626
Is there a way to play github action manually (clicking on a play button)?
In this case, we may keep these actions, as manual run, so developer who wants to build an image click on this, after having docker props well configured.

And more, we maybe don't need a docker image at each PR.

[2020-05-21 08:02] VonOx commented on #626
We can't do that without secrets available on forked PR (manually or automatically is not the problem here)

[2020-05-21 08:36] atrovato commented on #626
I can set my own secrets according to my account / to my PR, no?
So it can be a solution to get a docker push process, the only condition is to store credentials in github account.
I think this is much better than the current solution of having one branch with code changes, one branch more to push the image, maintain both.... today it's not easy at all.

[2020-05-21 09:12] VonOx commented on #626
![image](https://user-images.githubusercontent.com/1528694/82543217-7b36c800-9b53-11ea-946b-6df7dd959721.png)
Maybe I misunderstood but technically there is no secrets on forked PR .

Can you try to fork this repo => https://github.com/VonOx/Gladys4_GithubActions
Set secrets and we will see if PR get your secrets.

[2020-05-21 10:17] atrovato commented on #626
Ok, I don't want to my credentials this way in github, what about building from docker

https://medium.com/@_oleksii_/set-up-automated-builds-using-github-and-docker-hub-12c3e0f18eba

I tried but I get a `invalid reference format` error on `$target`... maybe I'm not doing it well.

[2020-05-21 11:10] VonOx commented on #626
Because we use custom script for building multiarch image ( target is variable that define arch like amd64 or armv7). We can't do that with dockerhub only.

And front is not builded.

Custom autobuild is **maybe** the solution if we can filter on PR.
https://docs.docker.com/docker-hub/builds/advanced/#custom-build-phase-hooks

Need a few days ( again 😅) to test this approach.

[2020-05-23 05:52] atrovato commented on #795
Linked to #585 (on ask before component).
But that's not really easy to do with Preact.
If someone has any idea.

[2020-05-25 08:09] Pierre-Gilles opened #815 "Remove "orientation": "portrait" in manifest.json"
in `front/src/manifest.json`, orientation is locked to portrait

[2020-05-25 09:10] Pierre-Gilles commented on #795
Indeed, just had a look and it's not that easy with preact-router...

Maybe thanks to the handleRoute function :

https://github.com/GladysAssistant/Gladys/blob/master/front/src/actions/main.js#L25

We could watch the `currentUrl` and if it changes, try to keep the currentUrl if the state is not saved + display a modal ?

[2020-05-25 14:43] #779 closed, assigned to atrovato

[2020-05-25 15:18] #774 closed, assigned to atrovato

[2020-05-26 08:15] #815 closed, assigned to nobody

[2020-05-26 08:49] Pierre-Gilles commented on #778
@Terdious est-ce que tu as toujours le bug?

J'essaie de reproduire mais je n'y arrive pas... Si tu pourrais me donner plus d'informations ça serait top !

[2020-05-26 08:51] #780 closed, assigned to nobody

[2020-05-26 13:15] Terdious commented on #778
Hi @Pierre-Gilles ,
Côté page web chrome sur PC, hier je l'avais encore, je viens de tester ce jour, la 1ère page s'est bien affichée avec les logs suivants :
[code]
Mais après avoir cliqué sur une autre page, je me retrouve à passer en Anglais avec aucun affichage, mais je retrouve bien l'affichage du Dashboard en retournant dessus, toujours en anglais :
![image](https://user-images.githubusercon

[2020-05-26 18:05] Terdious commented on #778
Bon, je suis désolé, ça ne fonctionne à nouveau plus, ni PC, ni Tel. Sans avoir touché à quoique ce soit ...

[2020-05-27 07:13] VonOx opened #820 "Add demo url to README"

[2020-05-27 10:15] VonOx commented on #626
Unfortunately autobuild on PR is not possible in docker hub.

@Pierre-Gilles semaphore ci have [trust feature](https://docs.semaphoreci.com/essentials/project-workflow-trigger-options/#filter-contributors-in-forked-pull-requests) for secrets and look interesting

![image](https://user-images.githubusercontent.com/1528694/83036706-3b804c80-a03b-11ea-986e-827e1f8c3402.png)

@atrovato & @Pierre-Gille

[2020-05-28 14:09] VonOx opened #821 "usb-service - docker - udev"
node serialport not working anymore

https://community.gladysassistant.com/t/zwave-stick-non-detecte-dans-gladys-4/5031/80?u=vonox

[2020-06-01 08:55] Pierre-Gilles opened #823 "Philips Hue : In scenes, be able to do a lights fade in"
**Goal**

The end goal is to be able to do that in Gladys:

![IMG_46A3B9675F04-1](https://user-images.githubusercontent.com/7365207/83392924-371ab180-a3f6-11ea-9b6d-43aabc1438bb.jpeg)

**Functional spec**

TODO

**Link**

https://community.gladysassistant.com/t/gladys-v4-pour-federer/5413/4

[2020-06-01 10:09] Pierre-Gilles opened #824 "Logout is broken"
<img width="708" alt="Screenshot 2020-06-01 at 12 05 49" src="https://user-images.githubusercontent.com/7365207/83398931-98e01900-a400-11ea-9094-ce0ee83da2d5.png">

<img width="737" alt="Screenshot 2020-06-01 at 12 08 40" src="https://user-images.githubusercontent.com/7365207/83398954-a5fd0800-a400-11ea-87d4-facb7b2116ee.png">

[2020-06-08 08:04] Pierre-Gilles opened #826 "Be able to send camera image in message from scenes"
In scene "send a message" box, I should be able to send a camera image.

[2020-06-08 09:41] #821 closed, assigned to VonOx

[2020-06-08 19:26] billonalex commented on #792
Hello !

After some checks, it seems that the problem doesn't exist anymore for me too ^^

I don't see what did I do differently... But I can't reproduce the bug anymore ! So for me it's fixed 🙂

[2020-06-09 08:17] #792 closed, assigned to nobody

[2020-07-16 12:47] VonOx commented on #777
What do you think about that ?

![image](https://user-images.githubusercontent.com/1528694/87672428-3d30db80-c773-11ea-98b5-d4ea36957fb0.png)

[2020-07-20 08:05] Pierre-Gilles commented on #777
Looks nice !

What about merging the "Operations" and "Informations" boxes together? It can be a "Version" box.

And put a more self-explanatory text, like "Git commit hash", and the hash should be a link to the git commit ! :)

[2020-07-20 10:21] VonOx commented on #777
OK I agree, I will do that

[2020-07-21 08:51] Pierre-Gilles opened #828 "Migrate to Preact CLI v3"

[2020-07-27 07:36] Pierre-Gilles opened #831 "Open "Need help"link in a new tab"

[2020-07-27 07:56] Pierre-Gilles opened #832 "A few typos to fixes"
dans Intégrations :

Toutes les intégrations
dans CalDAV, Synchronisez.
C’est naturellement la même chose dans le vrai site.
@+

[2020-07-27 11:39] #638 closed, assigned to nobody

[2020-07-27 11:41] #778 closed, assigned to nobody

[2020-07-27 11:50] Pierre-Gilles commented on #665
This issue was inactive for some time, so I'm closing it.

The goal right now is to be focused on Gladys 4 RC release and I'm putting all my effort toward this way.

Feel free to re-open the debate in the future if you want :)

[2020-07-27 11:50] #665 closed, assigned to nobody

[2020-07-27 11:52] Pierre-Gilles opened #834 "On boot, Gladys Raspbian image should expand filesystem"

[2020-07-27 11:56] Pierre-Gilles commented on #648
Closing this "debate" issue in favor of more explicit tasks :

https://github.com/GladysAssistant/Gladys/issues/834

[2020-07-27 11:56] #648 closed, assigned to VonOx

[2020-07-27 11:56] Pierre-Gilles commented on #775
Closing this in favor of #787

[2020-07-27 11:56] #775 closed, assigned to nobody

[2020-07-27 12:02] Pierre-Gilles commented on #641
To talk about this, to be honest I'm not in favor of switching automatically breaking versions of Node.js

We should use a fixed version, otherwise it'll break at some point.

Upgrading to a major version of Node.js is a big deal and need some developer time (upgrading all dependencies, .. ), it can not be done automatically

[2020-07-27 12:02] #641 closed, assigned to nobody

[2020-07-27 12:51] #614 closed, assigned to nobody

[2020-07-27 13:10] #832 closed, assigned to nobody

[2020-07-27 14:00] #810 closed, assigned to nobody

[2020-07-28 09:03] Pierre-Gilles commented on #777
Ok, not necessary at the end at we'll use a version in prod release + we are now using a version in beta as well

<img width="943" alt="Screenshot 2020-07-28 at 11 02 59" src="https://user-images.githubusercontent.com/7365207/88643384-ed7ed800-d0c1-11ea-91df-186b3c74552d.png">

[2020-07-28 09:03] #777 closed, assigned to nobody

[2020-07-28 09:24] #726 closed, assigned to nobody

[2020-07-28 15:12] Pierre-Gilles opened #839 "Add a scene action to get weather and store it in scripts variable"

[2020-08-03 07:31] #824 closed, assigned to nobody

[2020-08-03 07:32] #639 closed, assigned to nobody

[2020-08-03 08:13] #501 closed, assigned to nobody

[2020-08-03 08:13] #730 closed, assigned to nobody

[2020-08-03 08:13] #607 closed, assigned to nobody

[2020-08-03 09:29] #785 closed, assigned to nobody

[2020-08-10 11:15] aschrijver opened #844 "You were added to awesome-humane-tech"
This is just a FYI issue to notify that you were added to the curated awesome-humane-tech in the 'Internet of Things' category, and - if you like that - are now entitled to wear our badge:

[![Awesome Humane Tech](https://raw.githubusercontent.com/humanetech-community/awesome-humane-tech/main/humane-tech-badge.svg?sanitize=true)](https://github.com/humanetech-community/awesome-humane-tech)

By add

[2020-08-10 15:03] #722 closed, assigned to atrovato

[2020-08-10 15:32] Pierre-Gilles opened #845 "Add contributor of website to README"

[2020-08-10 15:33] Pierre-Gilles commented on #845
@all-contributors please add @chmac for doc

[2020-08-10 15:34] Pierre-Gilles commented on #845
@all-contributors please add @thib-rdr for doc

[2020-08-11 07:50] Pierre-Gilles commented on #844
Thanks for adding us!

[2020-08-11 07:50] #844 closed, assigned to nobody

[2020-08-11 10:01] #666 closed, assigned to nobody

[2020-08-11 14:22] #758 closed, assigned to nobody

[2020-08-12 19:50] VonOx opened #850 "Scene: Add sunset and sunrise trigger"
As a user, I'm able to trigger a scene with the following triggers:

- "When the sun rise, do XX"
- "When the sun set, do XX"
- "20 minutes before the sunset, do XX"
- "20 minutes after the sunset, do XX"

The XX minutes should be an offset variable which can be positive or negative, and stored in seconds in the trigger.

[2020-08-18 19:03] guillaumeLamanda opened #851 "Philips Hue: Add device LWA001"
Issue automatique d'intégration d'un lampe Philips Hue.
Ce sont les ampoules du "Starter Kit" de Philips.

Je peux contribuer à l'intégration, mais je ne vois nul part de fichier `CONTRIBUTING.md`. Ce serait vraiment bien d'en avoir un.

Données de l'ampoule :
[code]

[2020-08-19 15:53] Pierre-Gilles commented on #850
@VonOx thanks for your issue, I edited it so it's more clear

[2020-08-19 15:56] Pierre-Gilles commented on #851
Merci d’avoir ouvert cette issue !

Il y a pourtant un [contributing.md](https://github.com/GladysAssistant/Gladys/blob/master/.github/CONTRIBUTING.md) assez visible 😅

<img width="971" alt="Screenshot 2020-08-19 at 17 38 02" src="https://user-images.githubusercontent.com/7365207/90659437-f5efac00-e244-11ea-9528-7fdb56afc16b.png">

Si tu veux proposer une PR Philips Hue, tu peux t’inspirer d’une a

[2020-08-19 21:17] guillaumeLamanda commented on #851
My bad, mettons ça sur le compte de la fatigue 😅

Je vais préparer un PR pour cette version des Philips Hue

[2020-08-20 06:54] Pierre-Gilles commented on #851
Top!

Autres petites ressources pratiques:

- [Setup a development environnement](https://gladysassistant.com/en/docs/api/setup-development-environnement)
- [Developing a service](https://gladysassistant.com/en/docs/api/developing-a-service)

N'hésite pas si tu as des questions à venir sur le forum => https://community.gladysassistant.com/

[2020-08-24 07:42] #807 closed, assigned to atrovato

[2020-08-24 08:10] #787 closed, assigned to atrovato

[2020-08-24 08:55] Pierre-Gilles commented on #845
@all-contributors please add @Redshark30 for doc

[2020-08-24 12:08] #851 closed, assigned to nobody

[2020-08-25 13:29] #727 closed, assigned to nobody

[2020-08-25 14:01] Pierre-Gilles opened #857 "See if we can display last refresh of image on dashboard on hover"
On the dashboard, on a camera image, if I hover with my mouse, I can see the last refresh of the camera.

[2020-08-25 14:03] Pierre-Gilles opened #858 "Fix loading under camera image on dashboard when you come back to the dashboard"
If I come back on the homepage and I already have the images loaded, the loader is under the image which is not really beautiful. Instead, do not display a loader in this case

<img width="400" alt="Screenshot 2020-08-25 at 16 02 11" src="https://user-images.githubusercontent.com/7365207/91183999-689cd380-e6ec-11ea-96f9-a48daa8ed48d.png">

[2020-08-26 14:43] ErwannLegeay opened #859 "Gladys is not showing error in front when restore is corrupted"
I have a bad backup of my Gladys instance.
I just tried to restore it to see what happens.
When i go to the backup screen while being signed in, I try to restore the corrupted backup and I obtain indefinely this screen

<img width="1247" alt="Capture d’écran 2020-08-26 à 16 38 43" src="https://user-images.githubusercontent.com/5676655/91318096-28585680-e7bb-11ea-8667-94bc32cd22a9.png">

In the L

[2020-08-30 05:41] atrovato commented on #640
Any up on this point?

[2020-08-30 08:20] VonOx commented on #640
Yep PR #643 ( need rebase)

[2020-08-31 08:11] #858 closed, assigned to atrovato

[2020-08-31 08:21] Pierre-Gilles opened #861 "Documentation: Add MQTT tutorial"

[2020-08-31 08:46] Pierre-Gilles opened #863 "Scene: Add turnOn/Off the Switches function"
PR https://github.com/GladysAssistant/Gladys/pull/862/files

[2020-08-31 10:11] Pierre-Gilles commented on #863
Merged in https://github.com/GladysAssistant/Gladys/pull/862

[2020-08-31 10:11] #863 closed, assigned to nobody

[2020-09-01 07:31] VonOx commented on #834
Hi ,  I don't know if I must continue https://github.com/VonOx/gladys-pi-gen but the builder take care of this issue ( automatic expand )

To solve this issue you must edit cmdline.txt ( see https://github.com/VonOx/gladys-pi-gen/blob/gladys/stage2/01-sys-tweaks/00-patches/07-resize-init.diff )

[2020-09-01 18:20] atrovato commented on #861
Isn't it done? https://gladysassistant.com/fr/docs/integrations/mqtt/

A simple remark on the tutorial, your wrote `pièce` with the accent in the device id:

I'm not sure MQTT handle it very well... maybe we should not show this as an example.

[2020-09-02 13:49] quentin-pezeril opened #865 "Philips Hue: Add device LLC020"
[code]

[2020-09-03 09:22] Pierre-Gilles commented on #865
Hi! Thanks for this issue :)

Do you think you could be able to help us with a PR as well ?

Here is an example of a PR for a new philips hue light => https://github.com/GladysAssistant/Gladys/pull/781

@guillaumeLamanda could you help him? or @hotfix31 ? @Terdious ?

[2020-09-03 09:26] Pierre-Gilles commented on #834
I'm not 100% sure we are ready for this type of build right now. From a user point of view, building the image with rpi-pi-gen is not as good as what we have right now, because the container is not ready at start immediately.

To expand the image automatically, I was thinking of adding a task at boot which automatically resize the image.

[2020-09-03 09:27] Terdious commented on #865
Hey !!
I will try to free myself a little time this weekend to do that (if no one has passed in between).  I will also take the opportunity to finish one that I started a few months ago for the addition of the sonoff TH16 model with the temperature.

[2020-09-03 09:37] guillaumeLamanda commented on #865
I can help if @quentin-pezeril want to try a PR 😃
The PR cited as an example is perfect IMO

[2020-09-03 09:48] Pierre-Gilles commented on #861
Yes, I forgot to remove the todo :)

It was just an example, but you're right it's not a good example. I removed the accent.

[2020-09-03 09:48] #861 closed, assigned to nobody

[2020-09-03 12:05] Pierre-Gilles commented on #640
Mm it seems there is a little issues on master as we still use tag like "v4.0.0-beta-14"

We have `error parsing name for manifest list :v4.0.0-beta-14: invalid reference format`

See:

https://app.circleci.com/pipelines/github/GladysAssistant/Gladys/1205/workflows/b524d146-c600-431f-8c05-343d52391952/jobs/3508

Any idea @VonOx ?

I don't really know if we can keep beta tags or we need to migrate

[2020-09-03 12:16] Pierre-Gilles opened #866 "Documentation: Add documentation about USB camera"
USB camera are working in Gladys 4, it should be written in the doc:

https://community.gladysassistant.com/t/configuration-des-cameras-dans-les-scenes/5429/5?u=pierre-gilles

[2020-09-03 12:31] VonOx commented on #640
Yeah you need to stop using beta in your tag/release , parsing only semver format ( vX.X.X ) but we can catch this error.

[2020-09-03 12:32] Pierre-Gilles opened #867 "Z-Wave: Add a button in the UI on each device to "signal an issue", which create a GitHub issue with Z-Wave data"
Like in the Philips Hue integration, if a device is not integrated well, the user has a button in the UI to tell that "the integration is not well integrated".

This button redirects the user to GitHub with:

- Title: `Z-Wave: ${model} is not well integrated`
- Body: [Enter your issue here] + All the Z-Wave node data

[2020-09-03 12:37] Pierre-Gilles commented on #640
Ok. Is there any way to still use a -beta release while we are not ready for RC?

Which program is throwing this error? Docker?

Maybe we need to switch to tags like: v4.0.0-beta.14 ?

<img width="895" alt="Screenshot 2020-09-03 at 14 36 24" src="https://user-images.githubusercontent.com/7365207/92115541-df278880-edf2-11ea-9c49-fecd2cf8a7cd.png">

[2020-09-03 12:54] Pierre-Gilles opened #868 "Documentation: Add a rich Caldav tutorial in the docs"
See what has been done on OpenWeather and do the same with CalDav

FR: https://gladysassistant.com/fr/docs/integrations/openweather
EN: https://gladysassistant.com/en/docs/integrations/openweather

[2020-09-03 12:55] Pierre-Gilles opened #869 "Documentation: Add more screenshots/explaination in the Philips Hue tutorial"
See what has been done on OpenWeather and do the same with Philips Hue:

FR: https://gladysassistant.com/fr/docs/integrations/openweather
EN: https://gladysassistant.com/en/docs/integrations/openweather

[2020-09-03 12:56] Pierre-Gilles opened #870 "Documentation: Enrich the Z-Wave tutorial in the documentation"
See what has been done on OpenWeather and do the same with Z-Wave:

FR: https://gladysassistant.com/fr/docs/integrations/openweather
EN: https://gladysassistant.com/en/docs/integrations/openweather

A little video could be cool as well :)

[2020-09-03 12:57] Pierre-Gilles opened #871 "Documentation: Add a rich Telegram tutorial in the documentation"
See what has been done on OpenWeather and do the same with Telegram

FR: https://gladysassistant.com/fr/docs/integrations/openweather
EN: https://gladysassistant.com/en/docs/integrations/openweather

[2020-09-03 12:58] Pierre-Gilles opened #872 "Documentation: Add more information to the "Tasmota/Sonoff" tutorial in the docs"
See what has been done on OpenWeather and do the same with Tasmota

FR: https://gladysassistant.com/fr/docs/integrations/openweather
EN: https://gladysassistant.com/en/docs/integrations/openweather

[2020-09-03 13:16] VonOx commented on #640
Just after docker login, so error is throw by docker manifest command
https://github.com/GladysAssistant/Gladys/blob/master/.circleci/config.yml#L26 Here version is extracted

But error is here => https://github.com/GladysAssistant/Gladys/blob/master/.circleci/config.yml#L162

$CIRCLE_TAG-arch is not manifest compliant

Testing v4.0.0-beta.15 right now https://app.circleci.com/pipelines/github/Von

[2020-09-03 13:18] VonOx commented on #640
We need to manage this case ( if beta release -> special docker tag )

[2020-09-03 13:45] Pierre-Gilles commented on #640
No not specially, here I just want to build on v4 on Docker, BUT with Github tags still in beta

GitHub tags are mostly "marketing", if I publish a v4.0.0 tag right now: the signal is that the v4 is out! I can't do that. That's why i need to continue making beta tags

But on Docker I want to build on v4, no more beta because I need to build the new Raspbian image which will have docker v4 image.

[2020-09-03 13:46] Pierre-Gilles commented on #640
Lets see 🤞 Thanks for testing!

[2020-09-03 14:11] VonOx commented on #640
Ok i see, weird but ok. :D

I can just remove "beta" from docker tag

[2020-09-03 14:13] VonOx commented on #640
Build on circle just terminated

![image](https://user-images.githubusercontent.com/1528694/92126360-5dd6f280-ee00-11ea-8987-7ebef0c73ee6.png)

ok with  v4.0.0-beta.15 like tag
This is ok

[2020-09-03 14:22] Pierre-Gilles commented on #640
Amazing ! Building this right now !

[2020-09-03 15:08] Pierre-Gilles opened #873 "Documentation: Add a documentation page for each dashboard boxes explaining all options and how it works"
- [x] Weather
- [x] Temperature of the room
- [x] Camera
- [x] Devices in room

[2020-09-03 15:11] Pierre-Gilles opened #874 "Documentation: Add a documentation page for each scene triggers & actions"
- [x] Intro

**Triggers**

- [x] Devices state change
- [x] Scheduled trigger

**Actions**

- [x] Turn On/Off the lights
- [x] Turn On/Off the switches
- [x] Wait
- [x] Send a message
- [x]  Get last device state
- [x] Continue only if

[2020-09-03 16:00] Pierre-Gilles commented on #640
Not ok on my side :/ Did I do something wrong?

<img width="744" alt="Screenshot 2020-09-03 at 18 00 07" src="https://user-images.githubusercontent.com/7365207/92138931-54a15200-ee0f-11ea-9685-ae70e94a2c26.png">

https://app.circleci.com/pipelines/github/GladysAssistant/Gladys/1207/workflows/a9ee3e17-591f-4d84-b082-e1f45ec0ef85/jobs/3520

[2020-09-03 16:06] VonOx commented on #640
Hmmm we are missing something , you have not the same output

Did you check env in circle

![image](https://user-images.githubusercontent.com/1528694/92139301-d7c2a800-ee0f-11ea-8a33-ea871fb6210c.png)

Image is builded and pushed , that's weird

[2020-09-03 19:50] Jac34 opened #875 "Philips Hue: Add device CLA60 TW OSRAM"
[code]

[2020-09-03 19:55] Jac34 commented on #875
Model CLA 60 TW Osram : L'appareil est détecté par le réseau mais pas géré par Gladys.
Merci pour votre aide.

[2020-09-04 08:29] Pierre-Gilles commented on #640
My bad, DOCKERHUB_REPO was missing ! It's rebuilding now :)

[2020-09-04 08:32] Pierre-Gilles commented on #640
Success! Wow! Congrats @VonOx 👏
<img width="1283" alt="Screenshot 2020-09-04 at 10 32 01" src="https://user-images.githubusercontent.com/7365207/92218767-e48bde00-ee99-11ea-9a30-90434a9a814f.png">

[2020-09-04 08:32] #640 closed, assigned to VonOx

[2020-09-04 11:54] Pierre-Gilles commented on #834
Done in the image I've built.

[2020-09-04 11:54] #834 closed, assigned to nobody

[2020-09-04 12:10] Pierre-Gilles commented on #635
@VonOx Image Raspbian built with all new parameters (expand filesystem, new docker run, unattended upgrade)

The command I used to start gladys is:

[code]

I didn't use the `gladysassistant/gladys:v4` without `-arm` because the manifest part is still an experimental feature and I don't want to enable experimental features on a prod environnement.

You can download the image here: https://github.c

[2020-09-04 13:37] VonOx commented on #635
Maybe I misunderstood but the command `docker manifest` is experimental , not the builded/tagged image

gladys:v4 = gladys:v4-arm , in 2 cases you are using manifest , this is not the tag that define arch but the annotate command.

https://github.com/GladysAssistant/Gladys/blob/master/.circleci/config.yml#L165

To illustrate i can easily use this command to annotate the manifest
`docker manifest a

[2020-09-04 14:01] Pierre-Gilles commented on #635
Ok, let me explain. I did on my Raspberry Pi v1 (ARMv6)

[code]

And it didn't work, it pulled the wrong image, not in the right architecture.

I guess it's because it can't choose with the manifest and picked the amd64 one by default.

Maybe I misunderstood what the manifest does?

[2020-09-04 14:12] VonOx commented on #635
Can you `docker inspect` pulled image please ?

I will install your image for testing

[2020-09-04 14:54] Pierre-Gilles commented on #635
Mmm sorry it's not running anymore :/

But I checked the sha-256 of the image started, and it was not the sha-256 of any image on Docker hub (couldn't find which image it was on Docker hub)

[2020-09-05 09:38] VonOx commented on #635
Expand FS not working

For docker , what I've done:

Cleaning pulled image, you can see weird untagged image
[code]
Pull v4 image
[code]
Digest
[code]

Dockerhub repo is buggy because latest image was createg 1 day ago ( not 42 hours )

Pull image by sha256
[code]

Latest image is not pulled , I suggest to wait next build and then inspect

[2020-09-05 09:50] VonOx commented on #635
Another system suggestion to reclaim space:

Deleting all man-page and doc
[code]
Config apt to not install doc ( create /etc/dpkg/dpkg.cfg.d/01nodoc )
[code]

[2020-09-05 11:49] Fabichou15 opened #877 "Philips Hue: Add device LWG001"
[code]

[2020-09-06 17:23] Fabichou15 opened #879 "When entering wrong MQTT information, the MQTT service crashes and makes Gladys crash with it"
Sujets Gladys sur le Forum :

- [V4] Gladys indispo après reboot
- [V4] MQTT via mqttCloud

**Describe the bug**
IHM Gladys après reboot

**To Reproduce**
Try install a broker mqtt and failed, failed, failed et abandonné (cloudmqtt)
Essayer ensuite d'installer owntracks avec openApi de Gladys et rebooter

**Expected behavior**
Avoir le broker connecté ou une erreur mais pas de soucis au reboot ;)

[2020-09-07 07:15] Pierre-Gilles commented on #635
Ok, and except the unused docker images, everything was good in this raspbian image?

About removing the doc, I'm not sure. Does it really save tons of space?

I would prefer staying as close as possible to the original raspbian image.

[2020-09-07 07:48] VonOx commented on #635
A few MB, could be worth to save bandwith.

Like you want ;)

[2020-09-07 08:20] Pierre-Gilles commented on #635
About that, sorry I didn't understand at first that FS = file system. Please don't use acronyms, it makes communication harder^^

It doesn't work? fuck

I'm doing:

[code]

At start of the system. See `sudo nano /etc/rc.local`

[2020-09-07 09:01] #865 closed, assigned to nobody

[2020-09-07 09:01] #875 closed, assigned to nobody

[2020-09-07 09:30] Pierre-Gilles commented on #877
Fixed in https://github.com/GladysAssistant/Gladys/commit/a500f2f6ac8094b3ba7a223ff3cba2760809e768

[2020-09-07 09:30] #877 closed, assigned to nobody

[2020-09-07 09:31] Pierre-Gilles commented on #879
I'm not able to reproduce, I think you're just in an old version of Gladys. See my messages on the forum!

[2020-09-07 09:31] #879 closed, assigned to nobody

[2020-09-07 09:38] Pierre-Gilles commented on #868
@bertrandda would you be able to help us on this? :)

[2020-09-07 09:39] Pierre-Gilles commented on #872
@atrovato would you be able to help us on this? :)

[2020-09-07 09:51] Pierre-Gilles commented on #869
@hotfix31 @Terdious @guillaumeLamanda can someone help us with this? :)

[2020-09-07 10:20] bertrandda commented on #868
Yes, I'll do it

[2020-09-07 10:56] atrovato commented on #872
With pleasure, ASAP :)

[2020-09-07 16:48] Jac34 opened #883 "Philips Hue: Add device CLA60 TW OSRAM"
[code]

[2020-09-08 10:18] VonOx commented on #635
Sorry about that

Ok I understand what happen here.

1. No need to prepend sudo in rc.local because root user is running it.
2. When I have tested the image , I have never rebooted the pi , expand filesystem need reboot. So I never see any ouput about the expand. Checked `df -h` is wrong if pi is not rebooted.

I think better approach is using the same method as noobs installer ( it expand at firs

[2020-09-08 13:35] VonOx commented on #883
I'm closing this issue because this device is already added , you need to wait next release to see it in action.

[2020-09-08 13:35] #883 closed, assigned to nobody

[2020-09-08 18:42] Pierre-Gilles commented on #635
Ok but this method doesn’t need a reboot ?

Many thanks 🙏 I’m working on Gladys on Thursday + Friday I’ll adapt the image with your findings :)

[2020-09-08 23:30] VonOx commented on #635
This method also need a reboot but the flow is different.

1. User flash image.
2. First time pi is booted, resizefs service is launched ( early boot)
3. The service resize filesystem, self delete and reboot.

No action required from user.

But like I said, I need to test the script.

This is the approach used by rpi foundation in their image builder.

Maybe I can add some actions you did manually

[2020-09-09 21:07] pebou opened #884 "As a user, I'd like to customize my Selector when creating my user"
**Is your feature request related to a problem? Please describe.**
When a user is created, its selector is based on its firstname and can't be modified

**Describe the solution you'd like**
Allow the user to edit the selector

[2020-09-10 08:01] Pierre-Gilles commented on #884
Why do you want that? Where do you use the selector ?

[2020-09-10 08:05] Pierre-Gilles commented on #635
Amazing! I'll implement that in the image then.

[2020-09-10 11:28] Pierre-Gilles commented on #635
Ok I'm working on it now, little changes to the script:

[code]

[2020-09-10 11:31] Pierre-Gilles commented on #635
This tutorial is helpful: https://www.raspberrypi.org/forums/viewtopic.php?p=1117880#p1117880

[2020-09-10 11:42] Pierre-Gilles commented on #635
Trying the new image...

<img width="912" alt="Screenshot 2020-09-10 at 13 42 20" src="https://user-images.githubusercontent.com/7365207/92724792-79477d80-f36b-11ea-945a-08d15e03a5e8.png">

[2020-09-10 11:48] Pierre-Gilles commented on #635
Annnnnd it's working!!

✅ script has been removed from /boot/cmdline.txt
✅ image is resized to the right size

<img width="1039" alt="Screenshot 2020-09-10 at 13 47 06" src="https://user-images.githubusercontent.com/7365207/92725242-228e7380-f36c-11ea-9e12-2676d78be1d5.png">

[2020-09-10 11:58] Pierre-Gilles commented on #635
Here is the image: https://github.com/GladysAssistant/Gladys/releases/download/v4.0.0-beta.15/gladys-v4-rev2.img.zip

[2020-09-10 12:17] VonOx commented on #635
Good to know 👌, I will try it asap

[2020-09-10 12:30] Pierre-Gilles commented on #635
Thanks for your research, it helped me a lot! :)

[2020-09-10 13:48] Pierre-Gilles commented on #635
By the way, for faster downloads I put the file on our in-house CDN :)

https://cdn.elephantcdn.com/gh/gladysassistant/gladys/releases/download/v4.0.0-beta.15/gladys-v4-rev2.img.zip

Tell me if according to you the image is ok, and if yes I'll replace the link on the main website.

[2020-09-10 15:21] VonOx commented on #635
Image is ok for now.

![image](https://user-images.githubusercontent.com/1528694/92753042-c89ca680-f389-11ea-8731-f823fb13fbe6.png)

ToDo:

* Regen ssh key
* Prompt for changing password at first login
* udev rules
* What else ?

[2020-09-10 15:36] Pierre-Gilles commented on #635
Can you give me more informations on what you want to do?

Why not, but for most users, the password will never be changed.

Wasn't it supposed to be in the Docker image? If it's in the raspbian image, it's not upgradable.

[2020-09-10 15:49] VonOx commented on #635
### Regen sshkey

I'm talking about the host key. Today all raspberry using your image has the same hostkey

### udev rules
We can let docker container to manage this, but I need to find a way because services does'nt exist in a container. Container just run the CMD instruction.

https://github.com/GladysAssistant/Gladys/blob/master/docker/Dockerfile#L46

[2020-09-11 07:41] Pierre-Gilles commented on #635
Oh yes right.

Ok let me know !

[2020-09-11 09:05] VonOx commented on #635
In raspbian you just need to enable service to regen host keys ( I just discover this )

`sudo systemctl enable regenerate_ssh_host_keys`

I'Have tested in your img, service is self disable after regen

![image](https://user-images.githubusercontent.com/1528694/92898754-8a04fb80-f41e-11ea-9e4c-3c38b4832553.png)

Add this in your script ;)

[2020-09-11 19:10] atrovato commented on #872
@Pierre-Gilles should I do this in https://github.com/GladysAssistant/v4-website Git repo?

[2020-09-13 18:52] Gaetanb76 commented on #871
J'ai commencé la page de la doc.
Il me reste à insérer les images, ce que je ne sais pas faire, et à proposer une vue du résultats sur appareil mobile.
[https://github.com/GladysAssistant/v4-website/pull/9](https://github.com/GladysAssistant/v4-website/pull/9)

[2020-09-15 08:50] VonOx commented on #635
For udev stuff , balena use entry script to run udev daemon inside container.

https://github.com/balena-io-library/base-images/blob/97f1c88ecfb2a67eeee6c61dc840a52c046fe1a6/balena-base-images/aarch64/alpine/3.11/build/entry.sh#L37

[2020-09-16 10:19] VonOx commented on #635
I have implemented balena script in our image with [rules ](https://raw.githubusercontent.com/VonOx/gladys-pi-gen/gladys/gladys/04-udev/files/99-gladys-tty.rules
)

Seems promising
![image](https://user-images.githubusercontent.com/1528694/93323098-738ee380-f814-11ea-9501-0755651bc2ce.png)
![image](https://user-images.githubusercontent.com/1528694/93324079-b3a29600-f815-11ea-8e6b-e04573b3a531.png)

[2020-09-17 08:20] Pierre-Gilles opened #885 "Device in room dashboard box keeps resizing when relative time changes"
Source: https://community.gladysassistant.com/t/afficher-sur-le-dashboard-lheure-de-dernier-rafraichissement-dune-camera/5498/4?u=pierre-gilles

[2020-09-17 08:22] Pierre-Gilles opened #886 "Tension (V), light (lux) and pressure (hPa) should be set in MQTT service"
Source: https://community.gladysassistant.com/t/afficher-sur-le-dashboard-lheure-de-dernier-rafraichissement-dune-camera/5498/4?u=pierre-gilles

[2020-09-17 08:25] Pierre-Gilles opened #887 "In device in rooms box, sometimes relative time is in the future"
https://community.gladysassistant.com/t/dashboard-evolutions-bugs-etc/5150/23?u=pierre-gilles

There should be a frontend check to verify that the relative time shouldn't be in the future, and if yes, change a little bit the datetime passed.

[2020-09-17 08:34] Pierre-Gilles commented on #635
Nice findings for udev rules!

[2020-09-17 08:39] Pierre-Gilles commented on #872
Yes ! The other repo is archived.

[2020-09-19 21:00] REDox1248 opened #888 "Philips Hue: Add device LCT012"
[code]

[2020-09-19 21:00] REDox1248 opened #889 "Philips Hue: Add device LTG002"
[code]

[2020-10-05 13:52] gloterman opened #891 "Philips Hue: Add device LWV001"
[code]

[2020-10-10 18:01] atrovato commented on #872
PR here: https://github.com/GladysAssistant/v4-website/pull/11/files

[2020-10-12 08:31] Pierre-Gilles commented on #868
Done in https://github.com/GladysAssistant/v4-website/pull/10

[2020-10-12 08:31] #868 closed, assigned to nobody

[2020-10-12 08:43] #872 closed, assigned to atrovato

[2020-10-12 13:54] #874 closed, assigned to nobody

[2020-10-16 13:04] Pierre-Gilles opened #895 "Merge Z-Wave PR with multi-instances support"
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and conc

[2020-10-16 13:05] #895 closed, assigned to nobody

[2020-10-16 13:21] Pierre-Gilles commented on #753
Seems to be working for me, I don't think it's related to Z-Wave but it's maybe more a question of websockets. Maybe websockets are disconnecting because the instance was restarting, and never reconnected (it should!).

Closing this, if you experience the bug again you can reopen it :)

[2020-10-16 13:21] #753 closed, assigned to nobody

[2020-10-16 13:21] Pierre-Gilles commented on #867
Done in https://github.com/GladysAssistant/Gladys/commit/72267988fe8a3754ca9d00b9ecbaed0803a0d3d3

[2020-10-16 13:21] #867 closed, assigned to nobody

[2020-10-16 14:03] Pierre-Gilles opened #896 "Handle UnhandledPromiseRejectionWarning"
So Gladys don't crash, handle unHandled errors

[2020-10-16 15:48] VonOx opened #897 "Handle DockerHub rate limit in CI"
https://support.circleci.com/hc/en-us/articles/360049758552-My-build-fails-to-pull-Docker-image-with-Too-Many-Requests-Rate-Limiting-by-Docker-Hub

[2020-10-16 20:16] VonOx opened #898 "[bluetooth] Service crash container at startup"
I'm running amd64 container. ( no bluetooth on host )
[code]

[2020-10-16 21:27] atrovato commented on #898
Wow, nice approach, no Bluetooth on host !
I tought this would not crash Gladys...

[2020-10-18 06:17] atrovato opened #900 "Avoid errorneous service on startup"
Linked to #898

On Gladys startup, if any service failed to start, do not load it on next startup.
And add "service status" in integration page.

[2020-10-19 12:17] #896 closed, assigned to nobody

[2020-10-19 12:33] #900 closed, assigned to atrovato

[2020-10-19 20:05] VonOx opened #903 "Z-Wave: Device "Qubino (Goap) ZMNHCDx Flush Shutter" is not well handled"
I've used the report problem link in zwave service setup

This device is not correctly handle

Currently I can only lower the shutter

[code]

Return from API

[code]

I dont know why json contain some brightness config

[2020-10-19 20:15] VonOx opened #904 "[Z-Wave] Handle config of module"
**Is your feature request related to a problem? Please describe.**
Currently we cant configure zwave module, we need another solution to do that ( via command or another domotic solution )

**Describe the solution you'd like**
Implement a generic way to configure a zwave module

**Additional context**
Exemple:

ZMNHCD1 (Flush SHutter) can be set in two mode

[code]
Another usage , calibration mode

[2020-10-20 04:17] RunGp opened #905 "Integration zwave non fonctionelle"
Bonjour

**Describe the bug**
Sur mon installation zware :
**Clé Zwave everspring capatible zwave et zwave plus**
![everspring](https://user-images.githubusercontent.com/11268887/96539587-7b76f300-12ac-11eb-8800-aa271e4d6652.jpg)

Peripherique Zwave
1. **Hank HKZW-DWS0**1 - Détecteur d’ouverture de portes et fenêtres Z-Wave+ [https://www.domotique-store.fr/domotique/modules-domotiques/detecteurs-c

[2020-10-23 11:15] VonOx commented on #831
This is fixed by merged PR #890

[2020-10-23 11:15] #831 closed, assigned to nobody

[2020-10-24 06:18] atrovato opened #910 "Add service management page"
Add a setting page to list and manage services: see status, able to stop / start services...

[2020-10-24 06:21] atrovato opened #911 "Add internal "created device" events"
Send new events with newly created device:
 - to be easily read by linked service
 - to inform all services

[2020-10-24 09:14] atrovato commented on #911
I suggest, as the `setValue` to check if the `onNewDevice` function exists on service, and call it, and sending a global event.

[2020-10-24 10:15] italian84 opened #912 "Philips Hue: Add device LTA001"
[code]

[2020-10-24 10:43] atrovato commented on #898
Issue create in Noble repo
https://github.com/abandonware/noble/issues/132

[2020-10-26 16:40] #897 closed, assigned to VonOx

[2020-10-30 11:34] #866 closed, assigned to nobody

[2020-10-30 11:34] #871 closed, assigned to nobody

[2020-10-30 13:31] #873 closed, assigned to nobody

[2020-10-30 15:37] #888 closed, assigned to VonOx, hotfix31

[2020-10-30 15:37] #889 closed, assigned to VonOx, hotfix31

[2020-10-30 15:37] #891 closed, assigned to VonOx

[2020-10-30 15:37] #912 closed, assigned to VonOx

[2020-10-30 16:30] atrovato commented on #910
@Pierre-Gilles I'm working on the service page (to start / stop if if needed).
So I'll need to add a new "service.started" event over websocket.
But to do this, I'll need (2 possiblities):
1. to handle the `gladys.event.emit(EVENTS.ACTION.TRIGGERED, action);` on service side, which implies to move following lines from scene.actions.js
[code]

2. or to call (no wait) directly `serviceManager.start(

[2020-10-30 17:13] atrovato commented on #910
A simple preview

![image](https://user-images.githubusercontent.com/1839717/97736175-95e67300-1adb-11eb-9da8-9efa3590a3c7.png)

[2020-10-30 22:28] Omega-Phone opened #915 "[MQTT] Luminosity control from dashboard"
**Is your feature request related to a problem? Please describe.**
Currently, from dashboard, only sensors values and on/off commands are supported for Mqtt service. It could be a nice feature to be able to send analogic values, such as luminosity and color, in order to control strip led or light bulb for instance.

**Describe the solution you'd like**
The solution should be presented as different

[2020-10-31 09:07] atrovato commented on #898
@Pierre-Gilles I found something global to handle errors:

[code]

I create a PR (and rollback the workaround to avoid service start on startup).

[2020-11-02 08:32] Pierre-Gilles commented on #898
This workaround was great, no? Why shouldn't we keep it?

[2020-11-02 08:34] Pierre-Gilles commented on #910
This looks really great! Nice job!

[2020-11-02 09:27] atrovato commented on #898
With `process.on('uncaughtException'`, Gladys doesn't restart anymore, So we are not looping on service startup.
So I think this is not useful anymore, it going to be "dead code".

[2020-11-02 09:37] Pierre-Gilles commented on #898
Are you sure it catches 100% of errors ? I'm really not sure.

C++ errors in native modules which makes the C++ crash make Node.js crash if I'm not mistaken. It happened to me with the Z-Wave integration for example..

[2020-11-02 12:54] #898 closed, assigned to atrovato

[2020-11-06 13:48] atrovato opened #922 "Dashboard box showcase"
That's a just a idea,
to avoid to overload demo dashboard with all kind of device box,
and to not create a specific dema device for each each,

what if we create an "hidden showcase page" to list all device category / type and display it's related dashboard box?

I think this can help us to find any missing.

[2020-11-08 10:58] fraoustin opened #923 "Error run gladys with docker: SQLITE_CANTOPEN"
**Describe the bug**
I run gladys by docker and i have a error

**To Reproduce**

Go to terminal

I have a same error if i add volume /var/lib/gladysassistant

**Your Gladys installation (please complete the following information):**

- use docker on linux Debian

[2020-11-08 11:10] fraoustin commented on #923
the problem is from  "-e SQLITE_FILE_PATH=/var/lib/gladysassistant/gladys-production.db"

in the docker image, the path /var/lib/gladysassistant/ does not exist

In the documentation  https://gladysassistant.com/fr/docs/installation/docker/, i read the path /var/lib/gladysassistant/gladys-production.db

Without variable SQLITE_FILE_PATH, i found gladys-production.db in /src/server

If add in my co

[2020-11-08 11:17] fraoustin commented on #923
I think that it is necessary to add in Dockerfile

[2020-11-08 11:44] VonOx commented on #923
@fraoustin

Bind mount is `- v /host/path:/container/path`

You have inverted host path and container path

[2020-11-08 12:18] fraoustin commented on #923
I am stupid ... excuse me

[2020-11-08 12:18] #923 closed, assigned to nobody

[2020-11-08 13:15] Aure51800 opened #924 "Philips Hue: Add device LCT003"
[code]

[2020-11-08 13:17] Aure51800 commented on #924
Bonjour,
Je suis en passe de passer de Home Assistant vers Galdys, qui en plus d'être français me parait beaucoup plus simple d'utilisation.
J'ai actuellement un Fibaro HC2, un pont Hue et un pont Tradfri.
Je ne peux aller plus loin dans mon installation pour le moment, car la majorité de mes équipements non Z-Wave n'est pas supporté.
Le projet v4 est encore jeune, je vais donc le laisser tourner

[2020-11-08 13:31] Hamtar0 opened #925 "Dashboard : Device value on 2 lines"
I don't know why...
Browser : Opera GX on Mac OS
Same thing on Chrome, obviously (Opera based on Chrome)

<img width="374" alt="Capture d’écran 2020-11-08 à 14 28 44" src="https://user-images.githubusercontent.com/1239484/98466310-0f165200-21cf-11eb-80a9-019912de1cc2.png">

[2020-11-08 16:38] Hamtar0 opened #926 "Dashboard : scrolling menu bug"
Impossible to view last items when you are at the end of page, due to the save panel
Browser : Opera GX on Mac

![mPLqhZXEJr](https://user-images.githubusercontent.com/1239484/98470933-1ba7a400-21e9-11eb-9ebb-3ccb4262a558.gif)

[2020-11-08 19:50] atrovato commented on #925
This is due to `Xiaomi Duplex Wired Switch Neutral` very long name.
I can reproduce on my local env using same name.

[2020-11-08 19:55] Hamtar0 commented on #925
Strange... Only one line affected and in the middle... oO

[2020-11-08 19:57] atrovato commented on #925
Number `6` looks larger than `5` 😄

[2020-11-09 08:37] storm1er opened #929 "Smart life integration"
There's a lot of devices compatible with smart life and not with gladys yet. A smart life integration could be an excellent solution until each devices are directly compatible with it. (Amibot, novostella bulb, Shelly IoT, ...)

**Describe the solution you'd like**
By enabling the integration, we could select devices to add to gladys (and maybe how to use them if they are unknown by gladys if smar

[2020-11-09 09:13] Pierre-Gilles opened #931 "Crash: Error: WebSocket is not open: readyState 3 (CLOSED)"
"Bonjour tout le monde !
Il vient de m’arriver un petit problème avec mon instance Gladys, j’ai consulté les logs de mon container :
Et voilà ce que j’obtiens (je précise que mon docker ps me montre que mon container est up mais quand je veux faire un exec dessus il me dit qu’il est stoppé :confused: )"

[code]

[2020-11-09 09:14] Pierre-Gilles commented on #931
https://github.com/websockets/ws/issues/1724

We need to add:

[code]

[2020-11-09 09:27] Pierre-Gilles commented on #929
Hey !

Can you post this feature in this topic on the forum :  https://community.gladysassistant.com/c/feature-requests/43 so people can vote for it and see who's interested ?

It's what we use to prioritize features with the community :)

[2020-11-09 09:30] Pierre-Gilles opened #932 "UI bug: unable to start a scene from the scene list"
In the browser console:
[code]

[2020-11-09 09:38] Pierre-Gilles opened #933 "MQTT : ESP Easy doesn't support more than 40 characters long topics in reception (Gladys -> ESPEasy)"
**Issue**

It seems that ESP Easy modules doesn't support more than 40 characters long MQTT topic to listen to (ESP Easy listening to MQTT message published by Gladys, for example to wait for a state change), which means they cannot work with current Gladys integration.

**To discuss**

Propose an optional way to publish to a custom topic name, stored in device params ?

For example, in an optiona

[2020-11-09 09:44] Pierre-Gilles opened #934 "Add a device category/type for rolling shutters"
**Functional specs**

It should be able to be open/close with different levels:

- 0%
- 25% if supported?
- 50%
- 75% if supported?
- 100%

**To do**

- Imagine a design to simply move the shutters in the UI (Maybe a set of buttons?, or a slide?)
- See how we can supports different types of devices which supports only 2 states (on/off), only 3 states (0-50-100%), only 4 states (0-25-50-100%), only

[2020-11-09 09:46] Pierre-Gilles opened #935 "MQTT Bug: Adding a module with the same external_id delete another one"
"MQTT: j'ai tenté de supprimer, ajouter un module avec un nom plus simple, et ça m'a supprimé la sonde mqtt extérieure :("

"je pense avoir un bug... avec mqtt, je cree avec NOUVEAU, ça marche. Si j'ajoute, le 1er créé est remplacé par le 2nd :))))"

[2020-11-09 09:54] #924 closed, assigned to VonOx

[2020-11-09 09:55] Pierre-Gilles commented on #924
@Aure51800 : Merci pour ton retour !

Peux-tu nous donner plus d'informations sur tes périphériques Z-Wave sur le forum (https://community.gladysassistant.com/) pour que l'on puisse les intégrer à Gladys ? Tu peux créer un topic et nous donner tous les informations ? Merci d'avance.

Pour l'ampoule Philips Hue, c'est bon elle est intégrée, cela partira dans la prochaine mise à jour.

[2020-11-09 11:15] atrovato commented on #934
Not sure to understand the question, but I think a int 0 - 100 a percent is doing it well.
Let me check on Tasmota service if I already defined it.

Dashboard display is another question.

[2020-11-09 11:20] atrovato commented on #933
40 chars long... wow it's a bit small... I will check for ESPEasy, we may add new service, as Tasmota.

[2020-11-09 12:38] Pierre-Gilles commented on #933
why can't we just modify the MQTT service and add an optional custom topic ? (to be discussed, but this seems like an easy win that makes sense no?)

[2020-11-09 12:41] Pierre-Gilles commented on #934
I'm talking about user experience ! It doesn't solve the problem, how do you know on the UI side which percentage the device supports?

I had a feedback of a user which had shutters which only supports 0, 50 et 100%.

So a slider doesn't work, it needs to be like 3 buttons [closed] [50%] [open]

But this is not generic, because as I said another users can have a rolling shutters with another confi

[2020-11-09 12:44] Pierre-Gilles commented on #934
I'm thinking about it 😃

[2020-11-09 13:05] Pierre-Gilles commented on #934
When thinking about it, it's maybe more a general question : how do we handle devices with specific functions ?

For example devices with multi-states button ? (0, 1, 2)

How do we define them in an "open" services like MQTT ?

[2020-11-09 13:09] #926 closed, assigned to atrovato

[2020-11-09 15:02] MagicFab opened #937 "Zigbee support"
I can't find any mention of Zigbee support (or lack thereof). I'd like to propose adding support for this protocol.

Although current integrations like Philips Hue and Xiaomi Home provide access to these brands Zigbee devices, they require third-party, non-free, privacy-invasive software that defeats Gladys purpose.

This is to track existing or coming Zigbee support via USB radios such as :

* Di

[2020-11-09 15:12] Pierre-Gilles commented on #937
We have a work in progress Zigbee2mqtt integration which will enable the use of USB dongles to control Zigbee devices :)

The integration will use https://www.zigbee2mqtt.io/

if you speak french (seems you're from Canada?), we have a topic on the forum talking about it: https://community.gladysassistant.com/t/v4-integration-zigbee2mqtt/5009/113?u=pierre-gilles

[2020-11-09 15:23] #931 closed, assigned to nobody

[2020-11-09 16:29] MagicFab opened #938 "Search ability for the documentation and blog"
The current documentation and blog can't be searched directly.

It would be very useful to be able to search *all* the documentation and blog at once.

[2020-11-09 16:47] MagicFab commented on #937
Good to know, I can help to test with a Conbee 2 or [Nortek HUSBZB-1](https://www.nortekcontrol.com/products/2gig/husbzb-1-gocontrol-quickstick-combo/) once it's done.

[2020-11-09 17:19] MagicFab commented on #937
I also noticed [a Feature requested with a vote](https://community.gladysassistant.com/t/integration-passerelle-zigbee-conbee-ii/5668it) in the forum.

[2020-11-09 18:20] Aure51800 commented on #924
Bonjour,
Merci pour ta réponse rapide et ton efficacité de déploiement.
Je n'ai aucun problème pour la partie zwave, j'ai des motion sensor fibaro
ainsi que des smoke sensor.
Les équipements qu'il me manque actuellement sont des ampoules tradfri via
la gateway. Ainsi que des prises WiFi gère via tuya. Pour cette dernière,
intégration je vais mettre les mains dans le cambouis.
J'ai vu que c'était i

[2020-11-09 20:28] atrovato commented on #934
What about a [ up | stop | down ] swith?

[2020-11-09 21:16] atrovato commented on #933
I just read ESPEasy doc, not clear for me.
It looks loke MQTT is not enabled by default, but it need to have an built-in plugin...

[2020-11-10 08:10] storm1er opened #940 "Philips Hue: Add device LOM001"
Hi,

This is a smart plug

[code]

[2020-11-10 16:44] Pierre-Gilles commented on #924
ainsi que des smoke sensor.

Ok tant mieux !

Génial ! N'hésite pas à venir en parler sur le forum pour que la communauté sache que tu travaille la dessus :) On est preneur de toute PR qui permet d'ajouter des compatibilités, ça sera avec plaisir.

conforte dans ma migration.

Merci du feedback, ça fait plaisir :)

De manière générale, si tu as d'autres besoins / retours / idées / questions, le fo

[2020-11-11 08:27] Pierre-Gilles commented on #933
What is not clear ?

[2020-11-11 08:29] Pierre-Gilles opened #943 "MQTT: UI bug when connecting external broker"
If you go to the MQTT Integration, then configure an external broker, then save, then leave and come back, you see this as it's was not configured :

![5SZkOKSU](https://user-images.githubusercontent.com/7365207/98787876-bcc07580-2408-11eb-8ca7-a89fcb347ac3.jpg)

Source :

![Screenshot 2020-11-11 at 10 26 48](https://user-images.githubusercontent.com/7365207/98787771-9569a880-2408-11eb-8f14-3f4521

[2020-11-11 08:33] Pierre-Gilles commented on #934
It's not the question ! How do you know that the roller shutter supports up / stop / down ?

The question is : Right now in Gladys, we only handle a simple type in the UI : On/Off.

How do we handle multi-state types ?

- How do we represent them in DB ?
- How does the service tells Gladys "My device supports this, this and this". ?
- How do we handle service like MQTT where it's the user which de

[2020-11-11 08:42] #940 closed, assigned to VonOx

[2020-11-11 09:28] #925 closed, assigned to atrovato

[2020-11-11 09:30] Pierre-Gilles commented on #938
This is related to https://github.com/GladysAssistant/v4-website, closing this on this repo :)

[2020-11-11 09:30] #938 closed, assigned to nobody

[2020-11-11 09:37] atrovato commented on #933
How to use "native" ESPEasy MQTT.

[2020-11-11 09:46] atrovato commented on #934
I think we can have a look to other existing platforms to handle new device types

https://developers.google.com/assistant/smarthome/guides/shutter

https://smartthings.developer.samsung.com/docs/api-ref/capabilities.html

For Google, shutter is a percent and a direction, so an integer 0 - 100 can do the job for us.
With a new device feature SHUTTER / OPEN (?).

So a simple setValue with int on th

[2020-11-11 10:43] GHTix opened #944 "Philips Hue: Add device LOM001"
[code]

[2020-11-11 10:54] Pierre-Gilles commented on #934
Let's talk about it here : https://community.gladysassistant.com/t/gestion-des-volets-roulants/5693

[2020-11-11 11:24] VonOx commented on #944
Already fixed by #941

Will be available in next build

[2020-11-11 11:24] #944 closed, assigned to nobody

[2020-11-12 09:22] alainertveldt opened #946 "Philips Hue: Add device Classic A60 W clear - LIGHTIFY"
[code]

[2020-11-12 11:12] VonOx opened #947 "Platform i386 removed from node alpine v12 & v14"
This https://github.com/nodejs/docker-node/issues/1344

will break i386 build on node alpine v12 & v14 ( new lts ) based on manifest

`docker manifest inspect -v library/node:12-alpine | jq '.[].Descriptor.platform'`

[code]

This is not a problem for now with circlci because we do not use manifest ( of node-alpine )  for our multiarch build ( force pull arch specific )
![image](https://user-image

[2020-11-13 04:26] gammerboy opened #949 "Unable to download from elephantcdn."
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
Unable to download from the link provided in the guide(which uses elephantcdn), page gets timed out. Was not able to find the elephantcdn support page but then reporting here given it's from the same developer. Do a

[2020-11-14 11:37] Fabichou15 opened #950 "Philips Hue: Add device LCL001"
[code]

[2020-11-14 13:43] atrovato opened #951 "Philips Hue invalid error message"
Clicking on "connect" button, the displayed error message is not well printed.

![image](https://user-images.githubusercontent.com/1839717/99148391-ab38d100-2687-11eb-8b24-1ab621421b5c.png)

[2020-11-14 13:51] atrovato opened #952 "Philips Hue auto-detect feature"
Instead of adding device by model,
is there any way to determine features with device raw data?

According to doc https://github.com/peter-murray/node-hue-api/blob/HEAD/docs/light.md
we might be able to be more generic.

[2020-11-14 14:18] Fabichou15 opened #953 "Philips Hue: Add device 440400982841"
[code]

[2020-11-14 22:35] Jeremyb86 opened #954 "Philips Hue: Add device LCT003"
[code]

[2020-11-14 22:36] Jeremyb86 opened #955 "Philips Hue: Add device LCS001"
[code]

[2020-11-14 22:36] Jeremyb86 opened #956 "Philips Hue: Add device RB 285 C"
[code]

[2020-11-16 09:23] Pierre-Gilles commented on #952
Now that we have more data, maybe we could but I would be very careful with automated behaviour to avoid bugs like we had on the v3, or that we have with "open bar integrations" like Z-Wave...

[2020-11-16 10:12] Pierre-Gilles commented on #949
Hi !

Sorry for the slow response, we are quiet busy with the launch of Gladys Assistant 4. Servers are quiet busy as well :)

Did it work at the end ?

If it doesn't work, could you run a nslookup of cdn.gladysassistant.com on your machine so you we could figure out at which server you are connected to. You should be connected to our Asia server.

Also, you can download the file on GitHub as well

[2020-11-16 11:32] gammerboy commented on #949
Hey and no issues about the slow reply tbh just saw about your cdn while looking into why amazon s3 was performing bad in a way. So just wanted to look into how elephantcdn was performing for me.

For cdn.gladysassistant.com
nslookup output:

Using cloudflare as the dns provider.

As for cdn.elephantcdn.com:
Am still getting ERR_CONNECTION_TIMED_OUT.
nslookup output:

Ip details from iplookup:

I'

[2020-11-16 11:47] VonOx commented on #952
That's reminded me some Slack discussion @pierre-gilles 🙂

[2020-11-16 12:47] Pierre-Gilles opened #958 "Investigate if the NLP service can be more tolerant to spelling mistake in one word"
This is very low priority

https://community.gladysassistant.com/t/bugs-avec-la-discussion/5752/2

[2020-11-16 12:51] Pierre-Gilles commented on #952
Yes but it's a little bit different. You were talking about automated import, he's talking about automated detection in the product :)

With automated detection, we have the raw_data, with automated import, you don't have the raw_data!

[2020-11-16 12:55] Pierre-Gilles commented on #949
Yes GitHub is very very slow in Asian country.

City: Singapore.
Choopa, LLC CHOOPA (NET-45-76-0-0-1) 45.76.0.0 - 45.77.255.255
Vultr Holdings, LLC NET-45-77-172-0-23 (NET-45-77-172-0-1) 45.77.172.0 - 45.77.173.255

Ok, you're connected to the Singapore server as it should be :)

Maybe your ISP in India is not well connected to Singapore... do you have good network speed in general?

I tried downl

[2020-11-16 13:11] Pierre-Gilles opened #959 "NLP: When asking to turn on the light, and no lights was found, Gladys replies that the light was turned on"
server/lib/device/light/light.command.js/command.js

Should send a specific message when no light was found instead of the success message

ref: https://community.gladysassistant.com/t/bugs-avec-la-discussion/5752/5?u=pierre-gilles

[2020-11-18 15:14] VonOx commented on #958
https://github.com/axa-group/nlp.js/blob/master/docs/v4/similarity.md#spellcheck

[2020-11-18 16:35] euguuu commented on #693
it's ok for you if I try to do this ticket or you already start dev for this ?

[2020-11-18 16:39] VonOx commented on #693
@atrovato is assigned from 16 May but no PR , I think you can !

[2020-11-18 16:46] VonOx opened #963 "Feature - Adding room directly from the list"
It's annoying when you are missing a room in the list. You need to cancel you current action to add a room in setting.

[2020-11-18 17:37] gammerboy commented on #949
Hey, Just figured out that my router had this geoip blocking on for Singapore. Was not aware of the issue in the router as there was no alerts in the dashboard and dns was using also using a Singapore server (not sure how that works tho with how it blocks things).
Anyways, removing Singapore from the list fixed the problem and now am able to download from elephantcdn at about 6-7MB/s.
Just curious

[2020-11-18 18:12] atrovato commented on #693
I confirm, I let you this one.

[2020-11-18 22:45] VonOx commented on #954
This one will be available in next build

[2020-11-18 22:45] #954 closed, assigned to VonOx

[2020-11-19 08:57] Pierre-Gilles commented on #693
Let's talk about the chart library you use before starting the dev !

I'm really in favor of using small (not too many deps) and well maintained library for the frontend.

I like https://bundlephobia.com/ to measure a library size.

[2020-11-19 08:59] Pierre-Gilles commented on #949
Not really, if client side you're blocking a range of IP we cannot detect this server-side.

Closing this :)

[2020-11-19 08:59] #949 closed, assigned to nobody

[2020-11-19 09:01] Pierre-Gilles commented on #958
I wonder if we could include the spell check directly in the NLPManager

[2020-11-19 09:01] atrovato commented on #693
I don't have anything to share on this, but we already use a chart lib, maybe this is enough https://visjs.org/

[2020-11-19 09:16] Pierre-Gilles commented on #693
Honestly I don't really like this lib :D I want to remove it from Gladys ^^

In Preact we do code splitting per page, so the visjs file is only downloaded when you enter the "Z-Wave / network" page. I don't think we want this big library on the dashboard which is the main page.

I think we should cherry-pick a tiny library for this to avoid huge page load on the first page.

[2020-11-19 09:21] Pierre-Gilles commented on #693
I like chartjs: https://www.chartjs.org/docs/latest/

And it seems it's tiny (no external dependency): https://bundlephobia.com/result?p=chartjs@0.3.2

Edit: see below I mistyped chart.js

[2020-11-19 09:27] Pierre-Gilles commented on #693
Ok my bad, I typed the wrong module on bundlephobia, I type "chartjs" instead of "chart.js"...

chart.js is big:

<img width="1422" alt="Screenshot 2020-11-19 at 11 27 17" src="https://user-images.githubusercontent.com/7365207/99647258-3506e680-2a5a-11eb-8ac4-f68a8503e9c5.png">

[2020-11-19 09:40] Pierre-Gilles commented on #693
There is the famous d3.js library which is a little big too but I read that the library is tree-shakable, which means that maybe it could be possible to import only what we need in the lib! ( [Read more about Tree-shaking](https://webpack.js.org/guides/tree-shaking/) )

I found victory too: https://github.com/FormidableLabs/victory

And it's tree-shakable !

<img width="1406" alt="Screenshot 2020-

[2020-11-19 09:43] Pierre-Gilles commented on #693
I really like nivo too: https://nivo.rocks/line/

We could even use it do to presence/absence, heating on/off tracking in Gladys:

<img width="723" alt="Screenshot 2020-11-19 at 11 42 42" src="https://user-images.githubusercontent.com/7365207/99649009-5bc61c80-2a5c-11eb-8e78-51b1a749d793.png">

[2020-11-19 09:49] Pierre-Gilles commented on #693
Ok I remembered that the theme we are using in Gladys 4 (tabler) is doing chart as well!

Example:

<img width="1440" alt="Screenshot 2020-11-19 at 11 45 04" src="https://user-images.githubusercontent.com/7365207/99649482-ee66bb80-2a5c-11eb-9222-9280f3539aa5.png">

Example 2:

<img width="681" alt="Screenshot 2020-11-19 at 11 45 07" src="https://user-images.githubusercontent.com/7365207/99649563-0

[2020-11-19 10:04] Pierre-Gilles commented on #693
To recap:

| Library | Pros | Cons |
| ------------- | ------------- | ------------- |
| ApexCharts  | Well integrated with our theme. Really beautiful. Lots of charts possible. | 118.2kB bundle size gzipped
| Chart.js  | Beautiful  & rock solid. Been here for a long time |  123.8 kB size gzipped
| Nivo  | Beautiful & large collection of charts. Each component can be loaded independently. 83.8 kB

[2020-11-19 13:16] VonOx commented on #952
I've tested this ( based on type ) and its working

[code]

[2020-11-19 13:22] Pierre-Gilles commented on #952
Even for IKEA stuff? :)

[2020-11-19 13:36] VonOx commented on #952
Yes even Ikea / OSRAM etc have a type
https://github.com/GladysAssistant/Gladys/blob/master/server/test/services/philips-hue/lights.json#L938

[2020-11-19 13:39] euguuu commented on #693
In my opinion, charts integration in gladys matches to:

principal :
* display historical data of home sensors
* display historical data of user health

secondary:
* display interaction between domotic hardware (like network in zwave)
* help to optimize home management (like electricity consumption)
* help to optimize health management (like sport session, km in time for runner)

for the moment fe

[2020-11-19 14:02] Pierre-Gilles commented on #693
I agree with you. Can you do a quick proof-of-concept of apexcharts? (in a separate PR)

By the way, just a point on the feature. You'll have to do a backend route to get device feature states. Be careful not to return all values, you can do something called "downsampling" ([Wikipedia](https://en.wikipedia.org/wiki/Downsampling_(signal_processing)) if you are not familiar with the concept)

For ex

[2020-11-19 14:11] euguuu commented on #693
ok

[2020-11-19 14:16] euguuu commented on #693
how can I change the status of this issue to put it 'in progress' ?

[2020-11-19 14:20] Pierre-Gilles commented on #693
Maybe simply create a WIP PR with a link to this issue ? It'll display a message in this issue

[2020-11-19 15:06] VonOx commented on #693
You are assignee and for linking issue to PR you use theses keywords

https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2020-11-19 15:32] euguuu commented on #693
I put a PR linked to this issue with first version of poc (you need t put a 'device in room chart' box in edit mode, no need to specify something in form all data are fake)

![image](https://user-images.githubusercontent.com/9742965/99687242-b5dad800-2a84-11eb-9cea-9b6dafd92c3f.png)

![image](https://user-images.githubusercontent.com/9742965/99687286-c4c18a80-2a84-11eb-88d8-ab773fef6dcf.png)

[2020-11-19 17:22] Pierre-Gilles commented on #693
Nice!

Can you see if you can get the same beautiful design we can see on tabler.io website? (like here: https://github.com/GladysAssistant/Gladys/issues/693#issuecomment-730256467)

[2020-11-20 09:56] Pierre-Gilles commented on #952
@VonOx That''s nice! So if your run your code on the current list of Philips Hue device, it matches with the manual work we did (100% success rate?) ? If yes, we can definitely switch to this. But be careful to put a default case with the same behavior as we have today so people can report missing devices :)

[2020-11-20 10:06] VonOx commented on #952
100% on my devices 😄 ( I think bridge/api take care to return a type )

We have ( in json test lights ) all the possible case. For me, implementing this is low risk.
Maybe one day hue api will return a new type, that day user will open a github issue with raw datas.

I will make a PR ( no modification on test side )

[2020-11-20 10:10] VonOx commented on #952
I think I've misunderstood , you mean service test ?

[2020-11-20 10:30] Pierre-Gilles commented on #952
Nice ! If it works with test data, I'm ok with that :)

Yes, data we have in tests, if it create the exact same results with current code and new automatic code, I'm ok !

[2020-11-20 10:34] euguuu commented on #693
in fact is very easy to do same design of tabler.io because it uses apexchart to display graph so it's just a copy of chart options to do the same

example integrate in gladys:
![image](https://user-images.githubusercontent.com/9742965/99790333-3dc3ef00-2b24-11eb-94ca-38c7417478fa.png)

![image](https://user-images.githubusercontent.com/9742965/99790366-49171a80-2b24-11eb-9832-1e68399277c1.png)

!

[2020-11-20 12:34] Pierre-Gilles commented on #693
I was talking about this design:

<img width="681" alt="99649563-050d1280-2a5d-11eb-880d-a4838f035eda" src="https://user-images.githubusercontent.com/7365207/99800723-7623f700-2b3d-11eb-9c44-675b48973aaa.png">

Can't we do something more "edge to edge" ?

[2020-11-20 12:45] euguuu commented on #693
this design is the same of area screenshot I do (without line in background and no toolbar), the box with "Today's Earning ..." is just HTML component, not a part of chart, so it's possible to do that I work on it for next step of this dev.

[2020-11-20 13:23] #951 closed, assigned to nobody

[2020-11-20 13:40] #946 closed, assigned to VonOx

[2020-11-20 13:40] #950 closed, assigned to VonOx

[2020-11-20 13:40] #953 closed, assigned to VonOx

[2020-11-20 13:40] #955 closed, assigned to VonOx

[2020-11-20 13:40] #956 closed, assigned to VonOx

[2020-11-22 17:30] tlse-vins opened #971 "Philips Hue: Add device 440400982841"
[code]

[2020-11-22 20:02] fbureau opened #972 "Philips Hue: Add device LCT001"
[code]

[2020-11-23 09:39] #959 closed, assigned to nobody

[2020-11-23 10:12] #952 closed, assigned to nobody

[2020-11-23 10:13] Pierre-Gilles commented on #972
Thanks for your issue!

It's implemented in https://github.com/GladysAssistant/Gladys/commit/e96edb224531e8a5fcc1798a16aff5d05a58031c

Should be deployed in next Gladys upgrade! :)

[2020-11-23 10:13] #972 closed, assigned to nobody

[2020-11-23 10:14] Pierre-Gilles commented on #971
Thanks for your issue!

It's implemented in https://github.com/GladysAssistant/Gladys/commit/e96edb224531e8a5fcc1798a16aff5d05a58031c

Should be deployed in next Gladys upgrade! :)

[2020-11-23 10:14] #971 closed, assigned to nobody

[2020-11-23 13:49] #910 closed, assigned to atrovato

[2020-11-23 14:07] #947 closed, assigned to nobody

[2020-11-23 15:32] Pierre-Gilles opened #974 "Calendar integration: when syncing a calendar with lots of events with the same name, sync crashes 409 CONFLICT"
Because the selector is generated based on the name by default, if 2 events have the same name, a 409 CONFLICT error is generated.

We should use something more unique for the selector, or prepend a "-1" to the selector when a 409 is detected

[2020-11-23 15:54] Pierre-Gilles commented on #974
Lots of events are empty sometimes, so they needs to be excluded as well !

[code]

Todo: add a try {} catch around each event insert

[2020-11-23 22:41] hugo99011 opened #976 "Z-Wave: Handle device "Unknown: id=0060 Unknown: type=0002, id=0003""
[code]

[2020-11-24 14:08] euguuu commented on #693
I try to do this render but I have some issue

I try to create 2 types of box :
1- one with only 1 feaure display
2- one with multiple features display

1- I try to reproduce
![image](https://user-images.githubusercontent.com/9742965/100103917-ce246b80-2e65-11eb-8f8b-beea47b1bbb0.png)

but for the moment I do this:
![image](https://user-images.githubusercontent.com/9742965/100103851-b947d800-2e65-

[2020-11-26 09:53] VonOx commented on #976
@hugo99011

This device ?
https://products.z-wavealliance.org/products/1057

[2020-11-26 10:11] hugo99011 commented on #976
Hello @VonOx

It's this one:
https://www.everspring.com/portfolio-item/sm810-doorwindow-contact-sensor/

[2020-11-26 10:59] VonOx commented on #976
OpenZwave does'nt handle this device for now

https://github.com/OpenZWave/open-zwave/tree/master/config/everspring

[2020-11-26 11:07] hugo99011 commented on #976
Ok, thx for your answer 👍

[2020-11-26 11:13] VonOx commented on #976
I will make a PR on openzwave library but this could take some times

[2020-11-27 07:49] Pierre-Gilles opened #979 "Scene: Be able to start a scene only when a device feature state is at the threshold, and not every time it's validating the rule"
Right now, if I create a scene that trigger "When temperature is > 18°C", I'm spammed by hundreds of messages because there is no threshold mode. I should be able to create a scene that trigger only when the temperature go from 17.9->18°C.

[2020-11-27 07:50] Pierre-Gilles opened #980 "Scene: Be able to disable a scene in the UI"

[2020-11-27 08:14] Pierre-Gilles opened #981 "MQTT: Random password something has special characters that mess up the configuration?"
Seen here:

https://community.gladysassistant.com/t/premiere-installation/5791

[2020-11-27 08:35] Pierre-Gilles commented on #693
Looks really nice!

Just one feedback:

![100103851-b947d800-2e65-11eb-958a-22d00948a8a6](https://user-images.githubusercontent.com/7365207/100428088-204ed200-309c-11eb-9d87-3c82d0f10d3d.png)

So you use the React-apexchart library and the height={} props doesn't work?

Sometimes all we need is a break to see the issues when coming back :D

[2020-11-27 09:50] #911 closed, assigned to atrovato

[2020-11-27 10:02] Pierre-Gilles opened #982 "Upgrade to latest version of preact-cli + preact"
Right now we are using an old version of preact-cli, and this version has bugs.

Let's upgrade to the latest version, with great care because it could break some things!

[2020-11-27 12:37] Pierre-Gilles commented on #974
Fixed in https://github.com/GladysAssistant/Gladys/commit/abb17b3821e7ece9d355d42cc5860584775928b1

[2020-11-27 12:37] #974 closed, assigned to nobody

[2020-11-27 12:39] Pierre-Gilles commented on #828
Closing this in favor of https://github.com/GladysAssistant/Gladys/issues/982

[2020-11-27 12:40] #828 closed, assigned to nobody

[2020-11-27 15:10] #979 closed, assigned to nobody

[2020-11-27 15:46] Pierre-Gilles commented on #935
@atrovato Interesting bug:

https://streamable.com/95cp5k

Do you have an idea how we could fix it? Because server-side, the create device is a "create or update"...

Maybe in the MQTT case, we should do a query client-side for new device to test if they exist before.

What do you think?

[2020-11-27 16:21] #981 closed, assigned to nobody

[2020-11-27 19:17] atrovato commented on #935
To keep same order, we can sort by device id. This should not be overriden on update, no?

[2020-11-27 21:10] tlse-vins opened #989 "On "settings" -> "System" page, the disk occupied space in percentage is too precise (15 digits), should be rounded"
L'affichage du % de la capacité de la carte mémoire est trop long,
il y a 15 zéro après la virgule.

[2020-11-27 21:38] atrovato commented on #989
C'est de la précision :p

[2020-11-28 18:12] VonOx commented on #982
From https://community.gladysassistant.com/t/fresh-development-installation/5785

[2020-11-30 09:03] Pierre-Gilles commented on #935
Same order? I don't understand.

[2020-11-30 09:16] Pierre-Gilles commented on #989
Changed the title to english

[2020-11-30 09:30] Pierre-Gilles opened #991 "Change watchtower configuration in next Raspbian build"
Docker started implementing rate-limit on image pull, and it affects Watchtower "attempt" to pull as well. ( https://github.com/containrrr/watchtower/issues/669 )

It means we need to change the frequency of the pull attempt on the Raspbian image.

I would suggest just changing the frequency to every 12 hours instead of every 5 minutes.

- It'll reduce the load on Gladys
- No need to try upgrading

[2020-11-30 10:17] Pierre-Gilles opened #992 "MQTT: If the user started a MQTT container automatically with Gladys, be able to create a MQTT user from Gladys"
I cannot use the user given by gladys as credentials for another MQTT client (because 1 MQTT credentials = 1 client), so I need to create another Mosquitto user.

https://community.gladysassistant.com/t/premiere-installation/5791/15

[2020-11-30 13:07] #932 closed, assigned to nobody

[2020-11-30 13:17] Pierre-Gilles commented on #635
@VonOx I'm closing this card as it's an old card. If you want you can create another more specific issue for the udev rules :)

[2020-11-30 13:17] #635 closed, assigned to nobody

[2020-11-30 18:23] euguuu commented on #693
I do some change on this issue

* For One feature chart:
** EditBox:
![image](https://user-images.githubusercontent.com/9742965/100647253-873fe580-333f-11eb-91fa-88215886f2a0.png)

** Dash Box:
![image](https://user-images.githubusercontent.com/9742965/100647189-6d060780-333f-11eb-9d77-e5a3c00f9cd7.png)

* For multi features chart:
** EditBox:
![image](https://user-images.githubusercontent.com/974

[2020-11-30 19:13] VonOx commented on #693
Wow it's beautiful.
I think binary sensor must be added, a user must see when door is open or closed over a day ( just use case). No sampling in that case

[2020-11-30 20:25] atrovato commented on #935
Ok sorry, I was not really in.
I read again, and I understand what you mean.

So maybe, in `device.create.js` file, when we "first verify that device doesn't already exist", we get the device by id and external_id?
Or we enter in update case only if incoming device has an id?

But if this changes, we have to check all integrations for any regression.
I'm not fan to do something specific in client-

[2020-12-01 17:03] Pierre-Gilles opened #994 "When starting 2 scenes on the same trigger, and one scene abort, the other one is aborted too"
https://community.gladysassistant.com/t/aide-sur-scenes-et-bouton-xiaomi/5756

[2020-12-02 15:22] R6n0 commented on #992
The user given by gladys as credentials could be used for another MQTT client if the Gladys MQTT client ID was different than user name for connexion ('gladys').
As you said in your link, the solution could be to define a unique client ID for gladys instance ('gladys-assistant-main-instance').

Line 34
https://github.com/GladysAssistant/Gladys/blob/master/server/services/mqtt/lib/connect.js

[2020-12-03 07:19] Pierre-Gilles opened #997 "MQTT: Connect to MQTT broker with a unique client-id"
client_id: `gladys-assistant-main-instance`

[2020-12-03 07:19] Pierre-Gilles commented on #992
Ok I'm closing this issue in favor of:

https://github.com/GladysAssistant/Gladys/issues/997

[2020-12-03 07:19] #992 closed, assigned to nobody

[2020-12-03 07:37] Pierre-Gilles commented on #935
I think what we can do is:

- if the incoming device has an id, update the device
- else, try to create it (will reject with a 409 ALREADY EXIST if external_id is already there)

But it seems a little bit too easy to be true, do you remember why we did that? (create or update on exist of external_id only?) I think there was a real reason for one integration or for one future integration, but I can

[2020-12-03 07:41] Pierre-Gilles commented on #693
@VonOx let's keep binary sensor for later? One step at a time, we don't want a monster PR :)

I think we want to treat binary a different way, we want to display a specific chart for that, like:

<img width="727" alt="Screenshot 2020-12-03 at 09 40 28" src="https://user-images.githubusercontent.com/7365207/100978854-a3b06d80-354b-11eb-8941-603231c7ef83.png">

[2020-12-03 07:47] VonOx commented on #693
Yes I agree this kind of graph is very useful, we can implement later on a good base.

[2020-12-03 07:49] Pierre-Gilles commented on #693
@euguuu Thanks for your work it's really nice! :)

First on the design, I like it but I think we could be more "edge to edge". Could you remove all padding on the boxes so there is no blank border?

![100647189-6d060780-333f-11eb-9d77-e5a3c00f9cd7](https://user-images.githubusercontent.com/7365207/100979136-13265d00-354c-11eb-9099-6c4f8ff800ba.png)

For the exclude list, you can exclude the cube t

[2020-12-03 08:04] euguuu commented on #693
for reduce number of object returns I use downsample: https://www.npmjs.com/package/downsample  , the cgladys ontroller can accept a parameter to choose algo (ASAP , SMA , LTTB , LTOB , LTD ), now I use LTTB with 1000 objects , I need more time to test all algo and choose the best for representation/performance and maybe adapt default number values return

for trend (only the little green or red a

[2020-12-03 08:25] Pierre-Gilles commented on #693
Ok! When you find the best algorithm, just set it in your function and remove the controller parameter, this is not really something needed client side, let's keep the API as clear as possible and with the best default :)

I like the trend and I think we want to do keep it, but this library is not something we can keep in Gladys, it's outdated and not supported anymore:

<img width="429" alt="Scre

[2020-12-03 09:26] #845 closed, assigned to nobody

[2020-12-03 09:29] Pierre-Gilles commented on #794
This was potentially fixed by https://github.com/GladysAssistant/Gladys/pull/983

[2020-12-03 09:29] #794 closed, assigned to nobody

[2020-12-03 09:50] Pierre-Gilles commented on #756
It was removed, closing this.

[2020-12-03 09:50] #756 closed, assigned to nobody

[2020-12-03 09:53] Pierre-Gilles commented on #633
Implemented in https://github.com/GladysAssistant/Gladys/pull/913

[2020-12-03 09:53] #633 closed, assigned to nobody

[2020-12-03 09:59] #997 closed, assigned to nobody

[2020-12-03 10:00] #577 closed, assigned to nobody

[2020-12-03 10:01] #593 closed, assigned to nobody

[2020-12-03 10:01] Pierre-Gilles commented on #595
Fixed

[2020-12-03 10:01] #595 closed, assigned to nobody

[2020-12-03 10:01] Pierre-Gilles commented on #601
Supported.

[2020-12-03 10:01] #601 closed, assigned to nobody

[2020-12-04 14:06] Pierre-Gilles commented on #789
<img width="854" alt="Screenshot 2020-12-04 at 16 05 13" src="https://user-images.githubusercontent.com/7365207/101173043-a6de5300-364a-11eb-9012-150c2345906b.png">

[2020-12-05 10:29] atrovato commented on #943
I reproduce it easily. Should not be a lot of work.
On it.

[2020-12-05 11:32] atrovato commented on #943
Ok, problème is that we store in a variable named `useEmbeddedBroker` a boolean, which is transformed to int and to string.
So we store `useEmbeddedBroker = false` but we retrieve `useEmbeddedBroker = "0"`.

So check should be on string value `useEmbeddedBroker === '1'` to check if embedded broker is used.

[2020-12-05 21:18] siburny opened #1005 "tabler-ui package has been renamed and deprecated."
`tabler-ui` project has been renamed to `@tabler/core`. This is the messages appearing at top of the page: https://www.npmjs.com/package/tabler-ui

[2020-12-06 09:09] atrovato commented on #1005
I tried to change the npm depedency, class names changed between our version and this one.
So instead of upgrading tabler version, we may remove this and use boostrap CSS fully.

[2020-12-06 18:18] euguuu commented on #693
### **Downsample tests:**
All of the algorithm use a chartWidth to limit number of results but it's not a strict limit for ASAP (result is very close to limit) & SMA (result is very far to limit)

**Algo theory:**
- LTOB:This algorithm is very simple. First all the points are ranked by calculating theireffective areas. Points with effective areas as null are excluded. The data pointsare then split

[2020-12-06 21:46] Hamtar0 commented on #693
And on mouse over, we can see values and dates ?

[2020-12-07 07:17] Pierre-Gilles commented on #693
@euguuu Thanks for this very complete analysis!

**Size:** I'm ok with 100 values. If the number of values recorded in the interval is less, you agree that the downsampling won't be needed right?
**Performance:** How fast is the backend to go through the whole controller ? (GET SQL + downsampling?)

I think you'll have better results with those algorithm,+ you'll have to think of every filtering p

[2020-12-07 07:21] Pierre-Gilles commented on #1005
@atrovato : mm let's talk about this, I don't think we want to leave tabler, it's our whole product identity.

Yes, classes changed between the version of tabler we use (from 2 years ago), and the version they deployed right now. I don't see any urgency in switching.

[2020-12-07 07:35] euguuu commented on #693
On tooltip you see date and value but only on 100 values go up

[2020-12-07 07:38] euguuu commented on #693
=> yes is alerady the case

=> I check it latter

=> ok

[2020-12-07 07:40] #989 closed, assigned to atrovato

[2020-12-07 08:00] #943 closed, assigned to atrovato

[2020-12-07 08:46] VonOx opened #1006 "[philips-hue] Newly bridge paired lamp cannot be used in Gladys"
This is a first analyse.

On existing hue / Gladys installation, if I add new lamp in hue bridge and in Gladys, I can't use them before restart.

https://community.gladysassistant.com/t/probleme-avec-hue-et-lumiere-bloom

[2020-12-07 14:14] siburny commented on #1005
It does look like it's a going to be a big project. It can be done once `tabler` release the final version.

[2020-12-07 14:19] Pierre-Gilles commented on #1005
Yes agree! While they move fast, there is no urgency in trying to switch, it'll be hard to follow their pace (and to understand how to migrate without a documentation)

Let's see when they release the 1.0.0 :)

[2020-12-07 14:35] cicoub13 commented on #991
I can take this one (fix, docs and test) but I can't find the repo/code that builds the Raspbian image.

[2020-12-07 16:24] Pierre-Gilles commented on #991
There is no repo, it's something completely manual!

But given how critical it is, we are going to have a different approach. Right now, every service which tries to spin up a Docker container is broken because of the new rate limit....

As most people will never update their raspbian image (and it's normal, we don't want to promote this practice), we need to write a task in Gladys that will updat

[2020-12-07 16:32] Pierre-Gilles commented on #991
Or maybe we don't need it, I just saw that on Watchtower GitHub repo (from yesterday): https://github.com/containrrr/watchtower/pull/674

As watchtower update itself, maybe it's already good :)

[2020-12-07 16:34] Pierre-Gilles commented on #991
I still think that updating our watchtower configuration is good.

I'm thinking of updating the configuration to:

[code]

- Check only every 24 hours
- Include restarting container to avoid breaking all Gladys installation in case of faulty update

@VonOx what do you think?

[2020-12-07 17:06] VonOx commented on #991
I prefer schedule ( cron argument)

https://containrrr.dev/watchtower/arguments/#scheduling

With binding timezone

`-v /etc/timezone:/etc/timezone:ro`

I use this on my server with 10 running containers.

[2020-12-07 17:07] cicoub13 commented on #991
As I understand, the next release of WatchTower will include the change we want to do (default poll interval at 86400).
And WatchTower containers used in current Gladys installations will update itself.
So urgent issue will be solved as soon the release is done (+ waiting the 6 hours or rate limiting period).

If we still need a way to push new configuration, we can effectively study all options (

[2020-12-07 17:18] VonOx commented on #991
Doc is not updated yet

[2020-12-07 17:31] Pierre-Gilles commented on #991
No, they will use a HEAD request instead of a GET request to avoid each "update request" to be counted in the rate-limit.

Right now, Watchtower is making a request every 5 minutes to check if there is an update available. Each request counts in Docker rate-limit for now, so in (100 * 5/number of containers) ( number of containers = 2 in Gladys raspbian image) = 250 minutes = 4h, the docker rate l

[2020-12-09 21:11] thebradleysanders opened #1007 "Dev env Install issue"
First, are you sure that you found a Gladys bug? Yes

**Describe the bug**
When installing Dev environment the error:
'Cannot find module bottleneck/es5'

**To Reproduce**
Steps to reproduce the behavior:

1. cd Gladys/server
2. sudo npm install
3. npm run db-migrate:dev
4. sudo npm start
4. See error

**Expected behavior**
NPM install command to install dependency (bottleneck)

**Your Gladys inst

[2020-12-09 21:45] domosoftdev commented on #668
Bonjour
Petite contribution pour prendre en main le code du projet.
Voici ce que j'ai réalisé a ce jour.
Vos avis ?
![Zwave-Network](https://user-images.githubusercontent.com/5730930/101692264-3da67780-3a70-11eb-9500-9deaafb97317.PNG)

[2020-12-09 22:13] VonOx commented on #668
L'idée du tableau est pas mal pour les petits réseaux, mais ceux en full zwave ça va être compliqué à lire :)
Existe t il des libs plus légère ? [vue-d3-network](https://codepen.io/emilio/pen/QOaQjP) par exemple ?

Inspirations:
Domoticz qui fait les deux
![](https://www.domoticz.com/wiki/images/d/d0/ZWaveNetworkInfo.jpg)
Ou le zigbee
![](http://www.rfwireless-world.com/images/zigbee_network.jpg)

[2020-12-09 22:17] VonOx commented on #1007
Why using sudo to run Gladys and install deps ?

[2020-12-10 15:01] thebradleysanders commented on #1007
Most likely a bad habit, I will try again without sudo, thank  you.

[2020-12-10 16:16] cicoub13 commented on #1007
And check your node/npm version 😉 (expected node 12 and npm 6)

[2020-12-11 08:37] Pierre-Gilles commented on #1007
If you need help to setup Gladys, please use the forum => https://community.gladysassistant.com/

We use GitHub for issue tracking, and I don't think it's a Gladys bug here :)

[2020-12-11 08:37] #1007 closed, assigned to nobody

[2020-12-11 08:43] Pierre-Gilles commented on #668
@domosoftdev Merci pour ta contribution ! Je trouve ça vraiment pas mal dans l'idée. Le header du tableau en noir ça fait un peu agressif je trouve mais sinon c'est vraiment pas mal. Il faudrait tester avec des grosses installations :)

@VonOx c'est pourtant ce que font pas mal de box domotique le tableau, et ça rend bien je trouve! A voir comment ça réagit avec beaucoup de périphérique effectivem

[2020-12-11 09:18] VonOx commented on #668
"Un bon croquis vaut mieux qu'un long discours"

Pour moi les deux ont leur place, le tableau pour les données "brutes" OK, mais c'est quand même plus pratique un graph/schéma interactif.

[2020-12-11 09:53] Pierre-Gilles commented on #1006
@VonOx So the fix is upgrading the philips hue node library?

[2020-12-11 10:02] Pierre-Gilles commented on #668
Quand le croquis est clair!

Pour moi, le graph actuel est inutilisable, sur les grosses installations il est illisible et apporte plus un côté "impressionnant lors d'une démo mais inutile en réalité" à Gladys actuellement.

Comme en plus la librairie vis est super lourde, j'ai envie de changer ça.

L'exemple du graph chez Domoticz est exactement ce que je trouve inutile ^^ On voit rien, personne

[2020-12-11 10:14] Pierre-Gilles opened #1008 "MQTT UI bug: TypeError: Cannot read property 'map' of undefined"
When opening the MQTT integration, sometimes I have a bug:

<img width="736" alt="Screenshot 2020-12-11 at 12 13 53" src="https://user-images.githubusercontent.com/7365207/101891186-5d41bb00-3baa-11eb-9ce1-ba75615a12ff.png">
<img width="728" alt="Screenshot 2020-12-11 at 12 13 56" src="https://user-images.githubusercontent.com/7365207/101891194-5fa41500-3baa-11eb-8a35-833d2a14b27a.png">

[2020-12-11 11:10] VonOx commented on #1006
Nope, just restarting container

[2020-12-11 11:30] domosoftdev commented on #668
Hello
J'essaie de mettre un schéma en plus du tableau avec la lib proposée, mais
mon réseau Zwave n'est pas très fourni.
L'un de vous a un réseau avec plusieurs (dizaines) de nœuds ?
Idem pour le titre, j'ai repris une class de Bootstrap. Je regarde pour
change ca.
A+

Le ven. 11 déc. 2020 à 11:02, Pierre-Gilles Leymarie <
notifications@github.com> a écrit :

[2020-12-11 12:42] Pierre-Gilles commented on #1006
I don't understand, what was the bug then? Restarting a container is not a solution ^^

It should work all the time, no restart needed

[2020-12-11 13:46] VonOx commented on #1006
I agree, that's why I opened issue

[2020-12-11 14:08] VonOx commented on #668
@Pierre-Gilles Je voulais juste illustrer le fait que Domoticz fournissez les deux , je te rejoins sur le fait que leur graph est "bizarre"

Le schema "mesh node" est bien plus pratique qu'un tableau ( ça reste personnel comme avis ) ,donc pour moi les deux ont leur place.

@domosoftdev le theme que Gladys utilise c'est tabler, regarde la page de démo ou leur doc si tu veux récupérer des modèles o

[2020-12-11 15:41] Pierre-Gilles commented on #668
@VonOx je suis d'accord avec toi ! Dans l'idée si on trouve un beau graph qui représente bien le réseau, sans prendre trop de place dans le bundle JS je suis tout pour :)

[2020-12-11 19:14] domosoftdev commented on #668
Bonsoir,
@VonOx, la librairy tabler s'appuie sur Bootstrap. [cf doc](https://preview.tabler.io/docs/index.html)
_

_
Avez vous défini des 'class' pour les tableaux par défaut, ou c'est selon l'envie de la personne qui code  ?
La class .table de **tabler** est assez pauvre en configuration.
Par contre la bibliothèque vue-d3-network n'a pas évoluée depuis 2 ans, avez vous défini des critères de séle

[2020-12-12 15:44] euguuu commented on #693
**Performance:** How fast is the backend to go through the whole controller ? (GET SQL + downsampling?)
=> the time on server side is ~ 5s for 100 values (downsampling LTD )
=> I reduce weight of 100 values to 1Ko

[2020-12-12 17:46] VonOx commented on #693
@euguuu seconds or milliseconds?

[2020-12-13 15:32] euguuu commented on #693
is 5 seconds, it's long, how can I build a raspberry img to test on raspberry ?

I remove some padding in box:
![image](https://user-images.githubusercontent.com/9742965/102016295-712f1d80-3d60-11eb-973e-41e2b777899b.png)

about trend, I'm not sure comparison between 2 values describe a real trend, I think we need to take all data values display .
hat do you think about those lib:
https://www.npmj

[2020-12-14 17:46] Pierre-Gilles commented on #668
@domosoftdev On utilise les styles Tabler dans Gladys :) On évite de faire des styles custom (sauf pour certaines features fancy, ce qui n'est pas le cas ici!), ça permet de garder une unité dans le projet.

Les classes tabler ne te conviennent pas? Je trouve qu'elles sont bien moi !

https://preview.tabler.io/docs/tables.html

Une seule remarque par rapport à l'usage des table HTML pour faire ce

[2020-12-14 18:24] Pierre-Gilles commented on #693
=> the time on server side is ~ 5s for 100 values (downsampling LTD )

5 seconds? wow, it's way too long. It expected something like 100ms maximum. What's slow? The SQL query? The downsampling?

Let's investigate what's wrong because 5 sec is way too long.

hat do you think about those lib:

Why? This is how most trading app works. See for example: https://finance.zacks.com/calculate-daily-price-v

[2020-12-18 17:22] VonOx opened #1016 "[MQTT] User must know if connected or not"
Currently, even if mqtt server is configured, we don't know if Gladys is connected ( actually we need to check logs)

[2020-12-18 17:27] VonOx opened #1017 "[TAMOSTA] Error 500 MQTT Discover"
@atrovato I've a tamosta device up and running publishing on MQTT container configured in MQTT Service.

When I try to discover Tamosta device in MQTT
![image](https://user-images.githubusercontent.com/1528694/102642800-7fb17680-415e-11eb-8fe4-08fd27c69c89.png)

Gladys UI retrun generic error
`Error discovering Tasmota devices.`

Nothing in server logs :/

[2020-12-18 17:29] atrovato commented on #1017
Ok, you are on v4.0.3 ? I will take a look ASAP.

[2020-12-18 17:38] VonOx commented on #1017
Yep latest release , just a question, is this service compatible with tamosta sensors?

[2020-12-19 05:59] atrovato commented on #1017
Yes it should. But I develop it based on Tasmota v8 documentation, now it is v9, I may miss some new sensors.
For more, only Gladys compatible sensors are done.
But you can make any request to update service if yours is missing.

[2020-12-19 06:05] VonOx commented on #1017
I will check

FYI, http discover sayed that my device is not managed.
( SR04P ultrasonic sensor)

Is error 500 normal in that case?

[2020-12-19 17:31] atrovato commented on #1017
That's weird, I don't have to error... maybe due to Tasmota device and ultrasonic sensor...
Sure you don't have any logs on back side?

[2020-12-19 17:58] VonOx commented on #1017
Yes for sure, my first check is to verify logs

[2020-12-19 21:52] VonOx commented on #1017
Service not started ( Explain error 500 )

[2020-12-19 21:52] #1017 closed, assigned to atrovato

[2020-12-19 22:13] VonOx opened #1020 "[TAMOSTA] Add ultrasonic sensor SR04"

[2020-12-20 09:16] Pierre-Gilles commented on #1017
@atrovato I had some serious issue too with the task we wrote to avoid the service from starting (when we had the Bluetooth bug), now I agree with you maybe we should remove this...

[2020-12-20 09:18] Pierre-Gilles commented on #1017
I was using MQTT and nothing was working, at the end I realized the service was not started because of the task to avoid crash at startup. I think this thing of service "started", "stopped" is not working properly + not explicit enough in the UI

[2020-12-20 09:31] atrovato opened #1021 "Service status detection"
Many services are disabled on startup.
And UI is not explicit enough.

[2020-12-20 09:31] atrovato commented on #1017
I created a new issue https://github.com/GladysAssistant/Gladys/issues/1021

[2020-12-20 09:32] Pierre-Gilles commented on #1017
Thanks! +1

[2020-12-20 09:58] atrovato commented on #1021
@Pierre-Gilles what I'll do:
1. Remove "Not configured" status: because once you configure it, database is not updated (as service configuration is not centralized).
2. Remove the auto "not starting" service on startup

For more, since we added the "not handled errors" interceptor, we are not able to determine where the error comes from, so not able to set the service at stopped status.

Talking w

[2020-12-20 10:21] #820 closed, assigned to nobody

[2020-12-20 21:32] callemand commented on #850
I have made a first MR who add only the trigger on sunset and sunrise but not the time offset
https://github.com/GladysAssistant/Gladys/pull/1026

[2020-12-21 20:05] Pierre-Gilles commented on #850
Thanks for your PR ! 🙏

By looking at the code, I saw that you used OpenWeather API. I'm not sure we want to rely on a third-party to calculate sunrise/sunset time, it could be calculated locally very easily, and it would probably be simpler in terms of code implementation :)

There are great libraries to do that:

- https://www.npmjs.com/package/sunrise-sunset-js
- https://github.com/mourner/sunc

[2020-12-21 20:08] #1021 closed, assigned to atrovato

[2020-12-22 21:32] atrovato commented on #922
First preview.
2 columns: actionnable and read only devices.

![showcase](https://user-images.githubusercontent.com/1839717/102934976-7cdbbc00-44a5-11eb-87ab-9cda6af5218f.gif)

This will be enabled only on demo mode.

[2020-12-23 13:32] PhilippeMA opened #1030 "[Philips-HUE] Device state not updated when swithching ON/OFF outside Gladys"
First, are you sure that you found a Gladys bug? i think, yes. Before switching from beta to lastest stable version of Gladys, this feature worked.

**Describe the bug**
When i switch on or off from android's philips hue app, status update is not applied on Gladys.

**Your Gladys installation (please complete the following information):**
Manual installation on Raspberry PI (https://gladysassistan

[2020-12-23 13:47] VonOx commented on #1030
Hi @PhilippeMA , I have tested right now and poll is working.

Poll frequency is every minutes.

[2020-12-27 15:08] VonOx commented on #903
Just OZW log from working setup of HA .
[code]

[2020-12-29 11:21] callemand commented on #850
I have investigate on all npm library and for me the "best" is [suncalc](https://www.npmjs.com/package/suncalc).
This library is mature, light and downloaded about 10.000 by week.
I have change the code with this library.

[2021-01-02 11:57] VonOx opened #1033 "[MQTT] Client ID configuration"
I think we need to be able to change the client id in MQTT configuration.

Use case:
Single MQTT server with 2 Gladys containers ( Prod / Preprod )

Problem:
For now only one instance can be connected to mosquitto ( Connection is closed if same client id is used )

Logs:
[code]

[2021-01-04 15:50] #1020 closed, assigned to atrovato

[2021-01-04 15:52] Pierre-Gilles commented on #922
Mmm it's a little weird no? I think the demo mode should only be a real world example of Gladys, without changes!

[2021-01-04 15:55] Pierre-Gilles commented on #1030
I close this, if you feel this is a real bug @PhilippeMA feel free to open it again :)

[2021-01-04 15:55] #1030 closed, assigned to nobody

[2021-01-04 16:05] Pierre-Gilles commented on #903
I know that we have several compatibility problems on the Z-Wave part, but right now we don't have any developer on the Z-Wave integration :/

I asked several times in newsletter, forum, twitter, but no-one is interested to code on this part...

I'll continue to communicate this year and I really hope we'll find someone to take the responsibility of this integration!

[2021-01-04 16:06] Pierre-Gilles commented on #850
Great! Thanks for taking the time 🙏

[2021-01-04 16:26] Pierre-Gilles commented on #1033
We could generate an ID to append at the end of the client_id to avoid that :)

[2021-01-05 20:55] euguuu commented on #693
I work on performance aspect,
I test on database with 100 800 rows repartee on ~ 2 month
1 month of data represent 44 640 rows

Before changes:
- Total Time : 6875 ms
- SQL time : 3170 ms
- Downsampling time : 3705 ms

After changes:
- Total Time : 769 ms
- SQL time : 744 ms => remove some attribute in select, do 2 different request (1 for get device/room/feature info and 1 for feature state) inst

[2021-01-06 10:02] VonOx commented on #1033
Client ID lenght must be limited in lenght ( MQTT Spec say 23 but majority of mqtt servers can handle more)
So I've used Math.random because uuid is too long

`New client connected from 192.168.1.23 as gladys-main-instance-155267 (p2, c1, k60, u'gladysmain').`
[code]

Do you agree ?

[2021-01-06 20:38] Pierre-Gilles commented on #1033
That's perfect!

[2021-01-06 20:48] Pierre-Gilles commented on #693
Very nice improvements, congrats 👏

I'm sure we can go even further in the SQL request :) What's the current SQL request?

You can use the GitHub Action in the repo (https://github.com/GladysAssistant/Gladys/blob/master/.github/workflows/docker-dev-build.yml)

You need to set   DOCKERHUB_USER,  DOCKERHUB_PASSWORD and change DOCKERHUB_REPO, then you can trigger the workflow and it'll build and push

[2021-01-08 09:21] #1033 closed, assigned to nobody

[2021-01-08 10:39] vdeville opened #1035 "[Docs] Xiaomi home dev mode"
Hello,

Today i try to configure mi home bridge using the tutorial https://gladysassistant.com/fr/docs/integrations/xiaomi/ but the app changed and not find button to enable dev mode. Do you have idea to update the docs ?

Thanks

[2021-01-09 18:28] euguuu commented on #693
there are 2 requests:
first (~ 10ms):
SELECT
	`t_device`.`id`,
	`t_device`.`name`,
	`t_device`.`selector`,
	`features`.`id` AS `features.id`,
	`features`.`name` AS `features.name`,
	`features`.`selector` AS `features.selector`,
	`features`.`unit` AS `features.unit`,
	`features`.`last_value` AS `features.last_value`,
	`features`.`last_value_changed` AS `features.last_value_changed`,
	`room`.`id` AS

[2021-01-10 16:51] euguuu commented on #693
I have this error when I try to build img, what I do wrong ?:
![image](https://user-images.githubusercontent.com/9742965/104129377-65894380-536c-11eb-9799-5ec9e4f2de97.png)

[2021-01-10 17:04] VonOx commented on #693
Because DOCKERHUB_USER AND/OR DOCKERHUB_PASSWORD is not set in repo secrets.

[2021-01-10 21:50] VonOx opened #1037 "[CI] Discussion about Docker and CI"
I open this issue to talk about CI
Goal is to optimize/improve the way we build docker images.

I've already tested a lot before open this issue.

Today a full build take 1H
![image](https://user-images.githubusercontent.com/1528694/104133780-06d0c380-5386-11eb-9998-8e83e5cbceeb.png)

Why is this so long ?
* Repeated build of the same dependencies ( OZW )
* Installation of the same npm packages ag

[2021-01-10 22:10] VonOx commented on #1035
Hi @MyTheValentinus

I saw on comments in french article that you need to click in bottom several time on white zone ( no text ) , can you test that  ( I'dont have bridge to test )

![image](https://user-images.githubusercontent.com/1528694/104136851-0b52a780-5399-11eb-8dfd-79a848dcd81c.png)

[2021-01-11 08:29] vdeville commented on #1035
Hello,
Ok you need the GW, i had not understand this;

Thanks

[2021-01-11 08:29] #1035 closed, assigned to nobody

[2021-01-11 08:54] Pierre-Gilles commented on #1037
Great topic, and great investigation! 👏

I'm all in for both topics! It'll definitely makes build faster 😃

[2021-01-11 09:00] Pierre-Gilles commented on #693
@euguuu Nice investigation! Are you sure that sequelize produce a different SQL code than your raw SQL ? If possible, I would like to avoid writing raw SQL, because it'll make it difficult in a near future to configure Gladys with different DB engine (postgresql, mysql, ...)

Your SQL query is really simple and I'm sure we could have the same query with Sequelize! What's your sequelize code?

[2021-01-11 13:16] euguuu commented on #693
sorry for misunderstood,
sql reqest is same with sequelize (i just remove some quote en table prefix)

but when you do this request with sequelize the json object contain more information (about transaction, and others things but not in real content) and with raw we have directly the content (i do not need to do second action plain to get object)

I send you code after, but clearly sql request is

[2021-01-11 16:53] LM1LC3N7 opened #1038 "Scene : "Continuer seulement si" avec un capteur de présence"
**Describe the bug**
J'ai créé une (ma première !) scene dans laquelle je voulais recevoir une notification en cas de mouvement dans la pièce.
Pour limiter le nombre de message envoyé, j'ai voulu mettre en place :
* "Continuer seulement si"
* La dernière valeur = mouvement non détecté

Mais les seules valeurs qui peuvent être utilisées sont numérique et ne semble pas correspondre au joli ON/OFF du

[2021-01-11 21:51] cicoub13 commented on #1037
Great news 💪
About Open Zwave and layers, I think you have the good approach.

node_modules seems tricky yes
Some interesting article about it : https://www.freecodecamp.org/news/speed-up-node-re-builds-leveraging-docker-multi-stage-builds-and-save-money-65189a4ab115/

[2021-01-11 22:09] VonOx commented on #1037
Yes this is tricky because in Gladys each service have their own package.

But I found a solution 😃

Full build with test and no cache take 1H15
Cached build + test take 17 minutes

![image](https://user-images.githubusercontent.com/1528694/104243853-8aabae00-5461-11eb-80cc-58218f09661e.png)

Docker stage ( only building image ) 2 minutes, I can't do better

![image](https://user-images.githubuser

[2021-01-13 19:21] Pierre-Gilles commented on #1037
It looks very very nice ! Quick question: could you explain a little bit more STEP 2 of the Docker multi-stage build, and how it's the same/different that what we were doing previously ?

This is STEP 2:

[code]

From what I read, you copy the whole `server` folder, and then you delete everything except package*.json.

Then, you copy that later to run npm install and cache the results if the packa

[2021-01-13 19:25] Pierre-Gilles commented on #1038
Effectivement, il n'y a pas vraiment d'intelligence dans la box "continuer seulement si" qui affiche un champs libre quel que soit la variable injecté, c'est vrai qu'on pourrait améliorer ça!

Pour ton scénario en revanche, je ne comprend pas ce que tu veux faire. On en parle sur le forum? (GitHub on utilise ça pour le dev uniquement, pas le support)

[2021-01-13 20:04] VonOx commented on #1037
You are right, I copy all and then delete all but package*.json

This is the last part of DockerFile => https://github.com/GladysAssistant/Gladys/blob/a08ab0ec8cc09017fd8be936e2d6be5764911fa6/docker/Dockerfile.buildx#L48

Here I copy all files, this is normally the only layer not cached ( because somebody commit modifications )
That way, build is fast because this is the last step/layer

[2021-01-13 20:41] LM1LC3N7 commented on #1038
En fait le bug que je soulève c'est qu'on ne peut pas utiliser les capteurs de type on / off dans cette partie.
Seulement ceux qui renvoient des chiffres (lumière, température, etc)

[2021-01-13 22:21] Pierre-Gilles commented on #991
Hello guys! I just built a new version of the Raspbian image, based on Gladys v4.0.4 + Watchtower latest version with the fixes + the --include-restarting flag.

If you could try it and tell me if everything seems good to you, it could be great!

https://github.com/GladysAssistant/Gladys/releases/download/v4.0.4/gladys-4.0.4-rev4.img.zip

[2021-01-14 16:31] cicoub13 commented on #991
Tested on RPI 3A+
Everything is 👍

Log from watchtower is OK (next poll in 24h)
`time="2021-01-14T14:58:56Z" level=info msg="Starting Watchtower and scheduling first run: 2021-01-15 14:58:56 +0000 UTC m=+86401.449579114"`

Just one thing, you didn't clear the bash history (so we see all commands done to prepare the image) ⚠️

[2021-01-15 08:47] Pierre-Gilles opened #1042 "Display Multilevel device feature controller for more than just dimmer values"
We should evaluate all device feature that need a multilevel range controller and add it here:

https://github.com/GladysAssistant/Gladys/blob/master/front/src/components/boxs/device-in-room/DeviceRow.jsx#L42

[2021-01-15 08:55] Pierre-Gilles opened #1043 "Continue only if action in scene should display a ON/OFF picker if the device_feature is a binary"

[2021-01-15 08:56] Pierre-Gilles commented on #1038
Tout valeur d'état d'un device dans Gladys est un chiffre, la box "changement d'état de l'appareil" a juste été plus travaillé, et affiche un picker ON/OFF quand il faut, mais derrière ça reste des chiffres.

On = 1 et Off = 0 :)

Mais effectivement je suis d'accord c'est pas facile à comprendre et ça mériterait qu'on améliore ça.

J'ai créé une issue GitHub:

https://github.com/GladysAssistant/Gl

[2021-01-15 08:56] #1038 closed, assigned to nobody

[2021-01-15 09:04] Pierre-Gilles commented on #991
Ah! Nothing critical in the command?

[2021-01-15 09:12] LM1LC3N7 commented on #1038
Merci pour la confirmation. C'est ce que je suspectais mais je ne pensais pas que c'était fonctionnel justement "a cause" du ON/OFF plus travaillé.
Parfait donc, ce n'est pas un bug 😄

[2021-01-15 19:08] cicoub13 commented on #991
No password or private info 😉

[2021-01-18 11:23] Pierre-Gilles commented on #1037
Correct me if I'm wrong, but docker layer caching works on each command, so why does the caching works here if you COPY then delete all files on 2 separate commands ?

[2021-01-18 18:16] VonOx commented on #1037
You are right again, but because we make theses commands ( copy & delete ) in separate stage ( multistage build ) we are caching the result of the stage.

2 or more command in separate stage has the same result because the only thing we need is the whole structure with only package*.json files. That's why we are fast.

[2021-01-19 17:21] Pierre-Gilles commented on #1037
Got it, nice!

[2021-01-19 20:33] Pierre-Gilles opened #1048 "During a Gladys Plus backup, on big instances, it seems that the gladys instance is not accessible"
sqlite3 .backup seems to be blocking the gladys instance on big instance (Terdious)

[2021-01-23 12:46] cicoub13 commented on #991
Can we close this one ?

[2021-01-24 18:20] Pierre-Gilles commented on #991
Yes !

[2021-01-24 18:20] #991 closed, assigned to nobody

[2021-01-25 12:24] #1037 closed, assigned to nobody

[2021-01-27 11:30] cicoub13 commented on #869
Do we steel need screenshots and explanations about the Philips Hue documentation or the video is OK ?
Do we need the same video for 🇬🇧 ?

[2021-01-29 13:00] Pierre-Gilles commented on #869
I think it'll be great to have a more rich text tutorial like it is for the camera tutorial for example (for SEO purpose mainly) with screenshots.

The video is not needed in EN :)

[2021-01-29 16:02] Pierre-Gilles commented on #693
Hi! Just found this today, have you tried this:

<img width="1164" alt="Screenshot 2021-01-29 at 17 01 28" src="https://user-images.githubusercontent.com/7365207/106298109-c57c5700-6253-11eb-8c96-674ba25bf8ec.png">

[2021-01-30 07:59] Terdious opened #1055 "Bog on create House in FR"
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
When creating a house with a name that is too long, the default returned by the UI is not the correct one :
![image](https://user-images.githubusercontent.com/35010958/106350937-e89d1a00-62d8-11eb-8757-1f52a294bcb9.

[2021-01-30 08:36] VonOx commented on #1055
Good catch @Terdious 😉

[2021-01-30 09:37] Terdious commented on #1055
Ok, I started to watch. There are actually 2 errors. In the file /front/src/actions/house.js - Line 230 we have:
[code]
while this error normally deals with the house error. So we should have:
`} else if (status === 422 && url.includes ('/ house')) {`
and line 233:
`[house.id]: RequestStatus.HouseValidationError`
So this error is not handled in the front / src / components / house / EditHouse.jsx

[2021-01-30 12:46] Terdious commented on #857
Hey !!
On the netatmo PR #1015, we made a proposal on the box camera avec @thibautmery. The display of the last image taken is moved up to the right of its name.
![unknown-1](https://user-images.githubusercontent.com/35010958/106356597-26159d80-6301-11eb-91ec-d7f3c0fe8387.png)

[2021-01-30 18:48] tlse-vins opened #1057 "Being able to change a box column without having to re-create it."
Being able to change a box column without having to re-create it.

[2021-01-30 18:49] tlse-vins opened #1058 "Be able to modify the order of features in the dashboard boxes."
Be able to modify the order of features in the dashboard boxes.

[2021-01-30 19:28] tlse-vins opened #1059 "Have a larger view of the camera when you click on the box."
102 / 5000
Have a larger view of the camera when you click on the box in a pop-up window or other.

[2021-01-31 10:12] Pierre-Gilles opened #1060 "DATABASE IS LOCKED / SQLITE_BUSY when using owntracks in Gladys Plus + Gladys plus dashboard"
https://community.gladysassistant.com/t/lenteur-parfois-sur-dashboard-gladys-plus/6069

[2021-02-01 08:48] Pierre-Gilles commented on #857
Mmm I don't really like it ^^

I don't think we need the info all the time, why not on hover?

[2021-02-01 08:50] VonOx commented on #857
PWA ?

[2021-02-03 18:17] atrovato commented on #857
With a little clock icon, on click and/or hover ?

[2021-02-04 20:40] atrovato commented on #922
Ok, but I keep it anyway on a branch, it is usefull to check box easily.

[2021-02-04 20:40] #922 closed, assigned to atrovato

[2021-02-05 14:32] Pierre-Gilles commented on #1060
Fixed in https://github.com/GladysAssistant/Gladys/commit/519d161d1405a6a45c7dc9e78a871404607e3c6d and https://github.com/GladysAssistant/Gladys/commit/bfaf778f8b48b4309f8926f43e069586d5addd1a

[2021-02-05 14:32] #1060 closed, assigned to nobody

[2021-02-05 14:59] Pierre-Gilles commented on #857
Why not just on hover/click on the image?

We discussed with @Terdious about why he wants that, and after going down to the real need, he wants that to be sure that his camera is not offline

So same debate as for the battery, no need to always display it, Gladys could just automatically send a message when the camera is offline!

[2021-02-07 00:43] Terdious commented on #857
Hey @Pierre-Gilles, @VonOx, @atrovato, would this be fine?
![Gladys-Date-Camera](https://user-images.githubusercontent.com/35010958/107133169-97e37d80-68e5-11eb-9ecd-bdc509e47941.gif)
We can also do it in css to have a skin.

[2021-02-07 08:28] atrovato commented on #857
As we plan to get a bigger view of the picture, not sure the onclick on it to get time is a good way.

[2021-02-07 09:15] Terdious commented on #857
@atrovato, why a click?  there is no click here (when there is a click, there is a little wave that appears on the GIF).  It is a mouse crossing.  I just used "title" to display it.  You can see it in the code.

however, as @VonOx  told me, not sure if it works on phones (I'm trying to test today).  So he (@VonOx ) proposed to put the date inlaid in the image via the "overlay"
Ex @VonOx :
![unknow

[2021-02-07 09:19] VonOx commented on #857
Yeah for me there is no debat.

Message in case camera is disconnected/offline is usefull, but we need information of timestamp directly on dashboard without needing of a scene or click on image etc.

I'm thinking of multiple dashboard, one dedicated for "security view" of my house, I'dont want to hover each camera .

[2021-02-07 09:24] Pierre-Gilles commented on #857
@Terdious I really like this! :)

@VonOx Why do you need the time displayed ? I still don't understand why having an automation, or a red message on the box saying "camera connection was lost at HH:mm" only when the connection is not live, is not better than always displaying the time?

[2021-02-07 09:41] VonOx commented on #857
Just because the purpose of camera is security. If for some reason message or alert or scene not working, nothing inform me that camera ( or Gladys ) is not working as expected.
All camera system I know have a timestamp. There is a lot of psychology behind this but I think this little overlay cost nothing.

If you think this is ugly or something, we can make it optional.

[2021-02-07 10:26] Terdious commented on #857
Thank you @Pierre-Gilles !!
However that does not solve the problem of the telephone part?

I would do there as it will be decided of course, but despite everything, I remain of the same opinion as @VonOx  and of my basic idea. My cameras are there for security, and I would be very interested to have the date / time directly. It does not eat up more space at the window level and it is cleaner (whe

[2021-02-07 12:18] VonOx opened #1071 "[MQTT] Mosquitto 2.0 and Configuration"
Mosquitto 2.0 need a new option to work ( https://github.com/eclipse/mosquitto/issues/2040 )

`listener 1883`

Related thread in forum => https://community.gladysassistant.com/t/tutoriel-flasher-et-configurer-un-sonoff/4526/57?u=vonox

----------------------------------------------

For newly created configuration no problem ( if we update the shell script ), but for existing configuration there i

[2021-02-07 12:56] atrovato commented on #857
Overlay is nice, love it too.

[2021-02-07 13:05] atrovato commented on #1071
Nice to know. I will try. For more, my MQTT network suddendly dies... not relation with Gladys, I use separated broker for now.

[2021-02-07 13:14] VonOx commented on #1071
Me too, may be related to listener option

[2021-02-07 20:02] atrovato commented on #1071
Ok, `listener 1883` fixes the issue.
In both cases we'll have to update Gladys shell script.

We may add a param to service to check if new option is already set.
Something like `EMBEDDED_MQTT_PORT = 1883`,
at startup, we'll check for this, if Gladys use embedded MQTT and param is not set, we automaticcly update shell script (and set the param).

What do you think?

[2021-02-09 18:56] Pierre-Gilles commented on #1071
What about finding another MQTT Docker image that just supports environment variables instead of a config file?

Right now, the process seems "flaky", mostly because there are several source of truth (the mosquitto container + the file + Gladys DB) that can be easily out of sync between themselves.

On top of that, as the DB is no longer the only source of truth, backing up the DB do not backup ev

[2021-02-09 19:20] Pierre-Gilles commented on #857
I think an overlay could be nice, if it's beautifully designed 🙂

I was against the current proposal mostly because it looked not that nice, and against the overlay proposal because it looked like a 1998 security cam.

I really think the biggest point of people using Gladys is because it has a fresh and modern UI, light to use and not too bloated.

So I'm ok for the overlay if :

- Optional
- Beau

[2021-02-09 19:20] VonOx commented on #1071
Env variable can change too , I think that doesn't solve the problem

Mosquitto problem come from major release 1.X to 2.X. ( Yes breaking change  😟  )
Our mistake was to use latest tag.

Right now we need to check at gladys startup conf file for missing options ( like @atrovato  said )
And ensure container use major tag ( [eclipse-mosquitto:2](https://hub.docker.com/layers/eclipse-mosquitto/libra

[2021-02-09 19:23] Pierre-Gilles commented on #1071
It doesn't solve this problem, but improve the overall stability of all this :)

Agree, for this problem, if we keep the same docker image, we need to update the file at startup with listener 1883. It could just be done in a migration !

[2021-02-09 19:24] Pierre-Gilles commented on #1071
For Aedes, I don't think it's a short term solution to fix this issue !

[2021-02-09 19:25] VonOx commented on #1071
Yes I agree , just a question. Another topic for another day 😅

[2021-02-13 10:13] atrovato commented on #1071
@VonOx

do you mean we force mosquitto version?

[2021-02-13 10:19] VonOx commented on #1071
@atrovato yes right, so mosquitto is updated ( bug fix ) and next major release ( v3 or something ) will not break gladys integration

[2021-02-13 11:28] atrovato commented on #1071
Ok, so I will have to force remove / re-creation of the mosquitto container (only for already configured containers) to force image version to 2 and not latest.

[2021-02-14 15:55] bulolo commented on #937
is there support zigbee yet?

[2021-02-15 08:48] Pierre-Gilles commented on #937
There is a WIP development on this topic, but it's not in production yet.

[2021-02-15 14:36] Pierre-Gilles commented on #744
Should be fixed since gladys-gateway-js@3.2.7

[2021-02-15 14:36] #744 closed, assigned to nobody

[2021-02-15 14:37] Pierre-Gilles commented on #915
FYI, color control is done. I remove "color" from the title :)

[2021-02-15 14:38] Pierre-Gilles commented on #884
Closing this as there was no answer.

[2021-02-15 14:38] #884 closed, assigned to nobody

[2021-02-15 14:39] Pierre-Gilles commented on #789
Done!

[2021-02-15 14:39] #789 closed, assigned to nobody

[2021-02-15 14:40] Pierre-Gilles commented on #692
Done

[2021-02-15 14:40] #692 closed, assigned to nobody

[2021-02-15 14:40] Pierre-Gilles commented on #566
Fixed

[2021-02-15 14:40] #566 closed, assigned to nobody

[2021-02-15 14:41] Pierre-Gilles commented on #994
Without more informations, closing this.

[2021-02-15 14:41] #994 closed, assigned to nobody

[2021-02-22 20:43] euguuu commented on #693
I apply a downsampling of state in periodic job

now for display last month of date (1 state by minute):
=> return 3011 raw from state_light and 1300 from state
=> total time of call ~ 80ms (70 ms sql + 10 downsampling)

[2021-02-22 21:01] atrovato commented on #1071
@VonOx @Pierre-Gilles can we close this?

[2021-02-22 21:04] #1071 closed, assigned to nobody

[2021-02-25 09:28] Pierre-Gilles commented on #693
Ok, and where do you store them at the end?

[2021-02-25 10:06] euguuu commented on #693
I store state after downsamling in new table t_device_feature_state_light

[2021-02-25 10:12] Pierre-Gilles commented on #693
Ok! And how often do you build this "cached" version ?

[2021-02-25 10:40] euguuu commented on #693
every day

[2021-02-25 10:43] Pierre-Gilles commented on #693
what happens when it's the first day?

[2021-02-25 13:06] euguuu commented on #693
i add a column last_downsampling on feature object

the first time of job execution the donwsampling start on all data in feature_state and the second time just on last day of last_downsampling (=last created_at of feature_state treat) in feature,
so if some feature state arrive in late (for example if data come from third party platform and this platform is down for a couple of days) the downsamp

[2021-03-01 09:31] Pierre-Gilles opened #1083 "Bug when changing camera URL"
It seems that the old image is not properly cleaned and the camera alternates between the old and the new

[2021-03-01 09:39] Pierre-Gilles commented on #1083
It seems it's more a problem of backpressure... Old websockets message were coming very frequently, could be a problem with ffmpeg becoming slow?

[2021-03-01 11:14] Pierre-Gilles opened #1084 "Remove darksky service from list of running services"

[2021-03-03 18:19] cicoub13 opened #1087 "Sort Houses and Rooms alphabetically in Room Selector"
**Is your feature request related to a problem? Please describe.**
When a user has a lot of rooms, it could be difficult to select one.

**Describe the solution you'd like**
It would be easier to choose the good room if Houses and Rooms were sorted alphabetically

Target :

<img width="387" alt="Capture d’écran 2021-03-03 à 19 18 00" src="https://user-images.githubusercontent.com/1773153/1098526

[2021-03-04 21:39] LM1LC3N7 opened #1088 "Temperature is in F in the chat"
**Describe the bug**
Gladys display an "F" instead of a "C" in the chat when I ask for a temperature.
Bug discovered from a Telegram chat but present in the web interface too.

**To Reproduce**
Steps to reproduce the behavior:

1. Install Gladys and chose °C for temperature
2. Ask to Gladys from a chat (web based or telegram) a room temperature
3. See error

**Expected behavior**
°C should be use

[2021-03-05 08:58] VonOx commented on #1084
darksky is only referenced in demo, production image does'nt list darky in service. Are you sure about this issue ?

[2021-03-06 07:53] Pierre-Gilles commented on #1084
A Gladys Plus user told me that on slack... are you sure it's not the case anymore ?

[2021-03-06 07:56] VonOx commented on #1084
Have checked in my installation => no darksky service
Searched in the whole repo => only in demo ( and changelog btw)

[2021-03-07 20:13] cicoub13 commented on #1087
There are 2 options :
- sort houses and rooms before put them in store
- update RoomSelector to sort before display

[2021-03-08 02:00] Pierre-Gilles commented on #1084
Searched in the whole repo => only in demo ( and changelog btw)

Yeah but you're looking only at the "current state" of the code. This information is stored in DB, and therefore if no SQL migration was done, is probably still in DB for early users.

I think this user probably installed Gladys during the beta, and installed all versions since. He probably still have the service in DB :)

I'm checki

[2021-03-08 02:48] Pierre-Gilles commented on #1087
Good idea! Let's sort them before putting them in the store :)

[2021-03-09 21:43] atrovato opened #1093 "Bluetooth service never deactivate"
From forum : https://community.gladysassistant.com/t/probleme-de-recherche-bluetooth/6132/8?u=alextrovato

When deactivate service from configuration page, Bluetooth service is still running.

TODO: check if only this service is impacted, or all services.

[2021-03-10 08:06] LM1LC3N7 opened #1094 "Bug (scenes): "New action" text filtering not working well"
In scenes, when trying to search an action in the input field, the filtering action seems not to work as expected (in french at least).

A gif is better than thousands words 😄

![gladys](https://user-images.githubusercontent.com/14235706/110596651-d50a8c00-817f-11eb-86e1-cf05c0720991.gif)

[2021-03-12 09:44] #553 closed, assigned to nobody

[2021-03-13 08:43] atrovato commented on #1093
Looks like Bluetooth service never reset properties to default value on stop.

[2021-03-13 09:01] atrovato opened #1096 "Gladys as Bluetooth device"
To be able to check user presence with Smartphones, use Gladys as a discoverable device.

So the phone will ping Gladys on connect, and Gladys will be able to detect mobile presence.

[2021-03-13 09:03] atrovato commented on #1096
https://community.gladysassistant.com/t/probleme-de-recherche-bluetooth/6132/5?u=alextrovato

[2021-03-13 09:03] VonOx commented on #1048
Is this fixed by #1095 ?

[2021-03-15 01:30] Pierre-Gilles commented on #1048
Yes, it's fixed :) Nice catch

[2021-03-15 01:30] #1048 closed, assigned to nobody

[2021-03-15 08:09] Hedda opened #1099 "Suggest change terminologi in README.md from "home assistant" to more generic "virtual assistant""
**Is your feature request related to a problem? Please describe.**

Please consider changing the wording/terminology in Gladys's [README.md](https://github.com/GladysAssistant/Gladys/blob/master/README.md) from "home assistant" to the commonly more generic term/words of "[virtual assistant](https://en.wikipedia.org/wiki/Virtual_assistant)". If sounds OK, please also consider changing this wording/

[2021-03-15 09:17] Pierre-Gilles commented on #1099
I don't think we'll change that, Gladys is clearly a product dedicated to home control, it's definitely not a virtual assistant.

[2021-03-15 09:17] #1099 closed, assigned to nobody

[2021-03-15 10:28] Hedda commented on #1099
So maybe change the tag-line to "home automation" or something similar? See -> https://en.wikipedia.org/wiki/Home_automation

Again, the objection is really only against using the wording "home assistant" -> https://en.wikipedia.org/wiki/Home_Assistant

Maybe change it to "smart home" or "smart house" or perhaps add "automation" to the phrase in between those words?

   * "_Gladys Assistant - A pr

[2021-03-15 10:44] Hedda opened #1100 "Suggest change terminologi in README.md from "home assistant" to a more generic wording"
**Is your feature request related to a problem? Please describe.**

Please consider changing the wording/terminology "home assistant" in Gladys [README.md](https://github.com/GladysAssistant/Gladys/blob/master/README.md) and repository description to any other common generic description of home automation. If OK, please consider changing this wording/terminology on website and docs.

Only recommen

[2021-03-15 10:51] Hedda commented on #1099
FYI, created new issue suggesting change to "smart home...", "smart house...", a"home automation..." or something similar  -> https://github.com/GladysAssistant/Gladys/issues/1100

[2021-03-18 04:53] #1100 closed, assigned to nobody

[2021-03-18 11:47] Hedda commented on #1100
Closed without a comment? ...this does not have the same suggestion as #1099 so IMHO the argument there does not apply here.

I am not trolling. This is IMHO constructive feedback with a valid suggestion as well as some ideas on how to change to resolve.

My suggestions on changes are just ideas so of course does not have the be the only possible ways to sort that slogan phrasing.

[2021-03-20 13:45] atrovato commented on #1096
I tried to use https://github.com/abandonware/bleno to use smartphone to connect to Gladys and add presence capability, but I can't connect / keep connected using smartphone wihtout a specifc application on it.

[2021-03-21 09:30] VonOx opened #1102 "Unit preference is not handled by Weather Front/Service"
https://community.gladysassistant.com/t/trouble-changing-units/6203

[2021-03-22 06:02] #1087 closed, assigned to nobody

[2021-03-22 08:09] LM1LC3N7 opened #1106 "[BUG] Scenes: Cannot use decimal numbers"
**Describe the bug**
Decimal numbers cannot be used through the web UI in scenes.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'scenes'
2. Create a new one
3. Try to compare a value from one device (like temperature) using a decimal value (`16.5` or `16,5`)
4. See error: the decimal s never written

**Expected behavior**
The web UI should allow decimal values in scenes.

[2021-03-24 13:36] bulolo commented on #937
is there support zigbee yet? Is there a plan when to publish?

[2021-03-26 02:07] Pierre-Gilles commented on #937
@bulolo We are in the final step of merging it, the PR is here: https://github.com/GladysAssistant/Gladys/pull/1098

You can see a working demo of the integration here: https://github.com/GladysAssistant/Gladys/pull/1098#issuecomment-806601362

[2021-03-26 05:26] #1102 closed, assigned to nobody

[2021-03-26 07:49] Pierre-Gilles commented on #1093
Should be fixed by https://github.com/GladysAssistant/Gladys/commit/0ae38b9b403adeecc3d4e48658647ceb25e978a4

[2021-03-26 07:49] #1093 closed, assigned to atrovato

[2021-03-27 04:43] bulolo opened #1110 "Create house error when house name is in chinese"
![image](https://user-images.githubusercontent.com/10026498/112710091-930c7480-8ef9-11eb-9416-a30b28cee430.png)

![image](https://user-images.githubusercontent.com/10026498/112710099-a4ee1780-8ef9-11eb-8849-70ff0200b539.png)
![image](https://user-images.githubusercontent.com/10026498/112710137-e41c6880-8ef9-11eb-96f9-eae5e5f67a68.png)

i found that if i create a house from /api/v1/house success,an

[2021-03-27 04:51] bulolo commented on #1110
![image](https://user-images.githubusercontent.com/10026498/112710324-2a25fc00-8efb-11eb-9841-c9dc23c1e08c.png)
error from create house and room

[2021-03-27 04:53] bulolo commented on #1110
![image](https://user-images.githubusercontent.com/10026498/112710364-7113f180-8efb-11eb-8aef-a6766e07b7fa.png)
delete a house do not real delete my house

[2021-03-27 08:55] bulolo opened #1111 "update xiaomi docs"
https://gladysassistant.com/fr/docs/integrations/xiaomi/

xiaomi docs is too old.the app is changed,  can't find the step by docs

[2021-03-28 04:11] bulolo commented on #937
something mistake here

https://github.com/GladysAssistant/Gladys/pull/1098

[2021-03-29 08:11] Pierre-Gilles commented on #1110
Hi!

When you create any entity in Gladys 4, we calculate a "slug" for this entity, and we use this function: https://github.com/GladysAssistant/Gladys/blob/master/server/utils/slugify.js

Honestly this is the first time a chinese user use Gladys so i've never tested :) I think the slugify function we use doesn't work with chinese characters.

Do you know what's the best practice to slugify chines

[2021-03-29 08:28] Pierre-Gilles commented on #937
@bulolo as @cicoub13 said, we don't support ser2net with remote adapter yet.

[2021-03-29 09:53] Pierre-Gilles opened #1113 "When Telegram API key is invalid, Gladys keeps retrying infinitely at a very fast pace"

[2021-03-29 16:17] VonOx commented on #1110
I think we have the same problem with Hebrew, Cyrillic and German.

Is there any lib to manage this?

[2021-04-01 06:41] Pierre-Gilles commented on #937
Zigbee2mqtt integration is now available in Gladys Assistant 4.2:

https://gladysassistant.com/blog/gladys-assistant-4-2-is-here/

[2021-04-01 06:41] #937 closed, assigned to nobody

[2021-04-01 07:41] Pierre-Gilles opened #1115 "Color picker is not well displayed on iOS browser"
<img width="524" alt="Screenshot 2021-04-01 at 15 40 32" src="https://user-images.githubusercontent.com/7365207/113260285-a86e0e00-9300-11eb-9dc3-aac127fba760.png">

[2021-04-01 08:32] atrovato commented on #1115
Nice, I'll try to fix it using cypress!

[2021-04-01 09:06] atrovato commented on #1115
But,

Many browsers such as Safari and Internet Explorer are not currently supported. Support for more browsers is on our roadmap. You can read an explanation about our future cross browser roadmap here.

https://docs.cypress.io/guides/guides/launching-browsers#Customize-available-browsers

[2021-04-01 09:06] atrovato commented on #1115
I think it's a question of css `z-index` property here.

[2021-04-02 01:47] Pierre-Gilles commented on #1115
aha 😄

Yes probably just a question of z-index. Do you have an iOS device to test?

[2021-04-02 05:36] atrovato commented on #1115
No, so I'm not able to take this point.

[2021-04-03 08:17] guim31 opened #1117 "Zigbee2mqtt: Add device WXCJKG12LM"
[code]

[2021-04-03 12:06] bulolo opened #1118 "zigbee2mqtt:5 zigbee2mqtt supported devices cannot add to gladys"
my devices TT001ZAV20 has support in zibgee2mqtt ,follow `https://www.zigbee2mqtt.io/devices/TT001ZAV20.html#tuya-tt001zav20`

but,i can't add in gladys, ,and it has recognized,in zigbee2mqtt from 8080 port web

![image](https://user-images.githubusercontent.com/10026498/113477878-b3b76a00-94b7-11eb-9fbd-d37a98436d20.png)
![image](https://user-images.githubusercontent.com/10026498/113477881-b914b4

[2021-04-03 15:24] guim31 opened #1119 "Zigbee2mqtt: Add device WXCJKG12LM"
[code]

[2021-04-03 15:48] VonOx commented on #1117
Duplicate #1119

[2021-04-03 15:48] #1117 closed, assigned to nobody

[2021-04-04 07:36] atrovato commented on #1110
https://www.npmjs.com/package/combined-slugify

[2021-04-04 08:55] atrovato opened #1121 "Bluetooth presence scanner enabled even if Bluetooth is disabled"
Even if Bluetooth is disabled or unavailable, scanner presence still runs in background once you save configuration.

[detected with Cypress]

[2021-04-05 14:10] guim31 opened #1123 "SCENE : autofill not working in the select"
**Describe the bug**
When I create a scene, I use the select boxes to choose triggers and actions.
But when I type `all` the first three letters of `Allumer la lumière `ou `Allumer la prise`, it doesn't give me the option I look for.

**Screenshots**
![image](https://user-images.githubusercontent.com/33096540/113582931-488da500-9629-11eb-8118-96262510cc57.png)

**Your Gladys installation (please c

[2021-04-05 18:26] rob-mccann commented on #1123
Looks like this might duplicate #1094

[2021-04-05 18:43] VonOx commented on #1123
Yes it is, thank you @rob-mccann

[2021-04-05 18:44] guim31 commented on #1123
Damn I might be more careful before posting an issue....! Sorry !

[2021-04-05 18:46] VonOx commented on #1123
Dont worry @guim31  it's ok

[2021-04-05 18:46] #1123 closed, assigned to nobody

[2021-04-06 10:14] #1094 closed, assigned to nobody

[2021-04-06 10:40] Pierre-Gilles commented on #1121
Aha, love that :p

[2021-04-06 10:42] Pierre-Gilles commented on #1110
Last published 5 years ago unfortunately... not sure it's the kind of library we want to use

<img width="419" alt="Screenshot 2021-04-06 at 18 40 52" src="https://user-images.githubusercontent.com/7365207/113699123-c32cf200-9707-11eb-9a91-77e773070044.png">

But I'm sure there are others libraries doing the job :D

[2021-04-06 10:51] VonOx commented on #1110
There is no issue on github, if it stable and nothing to fix, there is nothing to publish! 🤔

[2021-04-07 22:34] rob-mccann opened #1130 "Media Player"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to control my TV and XBOX from Gladys

**Describe the solution you'd like**
- Build a generic "media player" device type
- Build a service for LGTV
- Build a service for xbox