[2021-04-08 06:47] VonOx commented on #1118
@Pierre-Gilles I reopen this one because only sensors have been added.

@cicoub13 will do a PR for the switch/button ( WXCJKG13LM ) that require more work.

[2021-04-08 14:16] rob-mccann opened #1132 "Upgrade preact-i18n"
In a  few places, we're accessing translations via the context, rather than via the library's APIs (notably `<Text />`, `withText` and `useText`).

In order to upgrade the library, we either need to temporarily adjust the codebase to use the new context or, alternatively, update instances to use the approved API.

[2021-04-08 17:57] rob-mccann commented on #1132
Looks like this might be relevant https://github.com/preactjs/preact/issues/2498#issuecomment-624311245

[2021-04-09 06:35] jstorgaard opened #1134 "Z-Wave: Handle device "ThermoFloor AS Heatit ZDim""
[code]

[2021-04-09 06:37] jstorgaard commented on #1134
When adding this device I get 3 features. Switch (On/Off), Energy consumption and power consumption.
This is a dimmer, so dim should be added instead of switch. Also no energy or power consumption is shown (No value recorded).

[2021-04-09 06:40] jstorgaard opened #1135 "Z-Wave: Handle device "ThermoFloor AS Heatit Thermostat TF 056""
[code]

[2021-04-09 06:41] jstorgaard commented on #1135
This is a thermostat used for floor heating. Should be able to set mode (Eco/comfort), on/off, temp measurement, temp setpoint and power/energy consumption.

[2021-04-09 06:42] jstorgaard opened #1136 "Z-Wave: Handle device "ThermoFloor AS Heatit Thermostat TF 058""
[code]

[2021-04-09 06:42] jstorgaard commented on #1136
This is a thermostat used for floor heating. Should be able to set mode (Eco/comfort), on/off, temp measurement, temp setpoint and power/energy consumption.

[2021-04-09 17:50] euguuu opened #1140 "Z-Wave: Handle device "GreenWave Reality Inc PowerNode 1 port""
[code]

[2021-04-09 17:51] euguuu commented on #1140
information about feature "energie consommée" (<=> Electric - kWh) is not got up in gladys

[2021-04-10 07:24] bulolo commented on #1118
Yes，only WXCJKG13LM can not add in now ，thx
If there is a new zigbee device that didn't support gladys,how can i support it my self。
go to zigbee2mqtt project or here？
![image](https://user-images.githubusercontent.com/10026498/114262256-929fcd80-9a11-11eb-8637-92e2f9cf5dd8.jpeg)
![image](https://user-images.githubusercontent.com/10026498/114262261-97648180-9a11-11eb-8a4d-43b2f00265ae.jpeg)

[2021-04-10 08:09] VonOx commented on #1118
@bulolo Gladys repository is the right place.

[2021-04-10 11:49] VonOx commented on #1140
@cicoub13 this is a zwave device

[2021-04-10 14:31] bulolo commented on #1118
today,i bought a new zigbee devices ZNLDP12LM and want to try,also support in zigbee2mqtt project.
i found none of other zigbee devices can join in now. only above the 4 devices.i donot why.

like
https://www.zigbee2mqtt.io/devices/ZNLDP12LM.html.

and there is no log to find the zigbee2mqtt has join in ,event no message that tell me it a unsuport device on zigbee2mqtt dashboard. it seem any of th

[2021-04-10 14:53] cicoub13 commented on #1118
Are you sure your network is in mode `permit_join` = true ?
You can access zigbee2mqtt interface on port 8080 of the Raspberry IP to see if devices are in the network or not. If they are, you lust have WARN logs in Gladys with some information.

[2021-04-10 14:54] bulolo commented on #1118
yes,i am sure. i use gladysassistant/gladys:dev this docker.and try to join this two devices
ZNLDP12LM
WXCJKG13LM
no other join message and join log
![image](https://user-images.githubusercontent.com/10026498/114274156-bf72d580-9a4f-11eb-8155-3ff9d226cd23.png)
![image](https://user-images.githubusercontent.com/10026498/114274164-c7327a00-9a4f-11eb-83d6-51f87aebe349.png)

none message about
ZNLDP12

[2021-04-10 14:59] cicoub13 commented on #1118
And you see them in tab Devices (under the same UI) ?

[2021-04-10 15:01] bulolo commented on #1118
![image](https://user-images.githubusercontent.com/10026498/114274347-91da5c00-9a50-11eb-90ac-ce5896120c84.png)
![image](https://user-images.githubusercontent.com/10026498/114274363-9ef74b00-9a50-11eb-83e1-287403438035.png)

this four device is the one support by last merge.  (under the same UI same raspi same docker)

ZNLDP12LM
WXCJKG13LM
new devices can not see them in 8080 ande tab devices or t

[2021-04-10 15:08] bulolo commented on #1118
befor ,i can see a new device join in here
![image](https://user-images.githubusercontent.com/10026498/114274557-92272700-9a51-11eb-9e89-b6714c911ffc.png)

but now,a new device try to join,no message on here to tell and no log join in

[2021-04-10 15:09] cicoub13 commented on #1118
OK. Devices must first need to be paired to the Zigbee Network (so visible in the 8080 interface) to be able to be added to Gladys. Maybe you can refer to the notice of your devices. And try to restart the `gladys-z2m-zigbee2mqtt` container

https://www.zigbee2mqtt.io/devices/ZNLDP12LM.html#pairing

https://gladysassistant.com/docs/integrations/zigbee2mqtt#add-devices

For your information, WXCJKG

[2021-04-10 15:14] bulolo commented on #1118
yes , before i add a device,i can see a join log and pairing message on `gladys-z2m-zigbee2mqtt` docker,but now there is not message when i try ZNLDP12LM or WXCJKG13LM

i think although WXCJKG13LM is not managed yet by Gladys  ,but it will be see in `gladys-z2m-zigbee2mqtt` docker logs,is this right?

[2021-04-10 15:17] cicoub13 commented on #1118
I'm sorry, but I can't help you more 😞 because the issue is between your device and Zigbee2mqtt. We use this library, but we don't develop it.
Maybe this can help : https://www.zigbee2mqtt.io/information/FAQ.html#no-logging-is-shown-at-all

[2021-04-10 15:30] bulolo commented on #1118
ok thank.

i am a china developer i want to make support by myself.but i don't how to begin.

and i also want to make gladys ui in chinese language ，i find this i18n.
![image](https://user-images.githubusercontent.com/10026498/114275297-930d8800-9a54-11eb-9e21-001f34d4263b.png)
i add a cn i18n ?is that right?

[2021-04-10 15:38] cicoub13 commented on #1118
You can clone the project and try to launch it locally
https://gladysassistant.com/docs/dev/setup-development-environment-mac-linux
https://gladysassistant.com/docs/dev/setup-development-environment-windows
After that, feel free to explore the code of some service (like zigbee2mqtt service).

Yes, you need to translate every key (from english) and add your language in the `index.js` file (same dir

[2021-04-10 15:42] bulolo commented on #1118
thank you very much. i will make a PR to support Chinese.
and try to support new zigbee devices myself if the device is not supported

[2021-04-10 16:04] bulolo opened #1141 "Add support control Light Brightness and Light Temperature UI"
i have a zigbee light that support control on/of 、Brightness、Color Temp
i add it throught zigbee2mqtt,but i can not control it on dashborad,and i can control on zigbee2mqtt port 8080 dashboard
![image](https://user-images.githubusercontent.com/10026498/114276468-4e382000-9a59-11eb-9be2-c746bb7ea4b9.png)
![image](https://user-images.githubusercontent.com/10026498/114276500-6f990c00-9a59-11eb-93e6-5

[2021-04-10 16:06] VonOx commented on #1118
Feel free to translate website too it's open source 😉

 https://github.com/GladysAssistant/v4-website

[2021-04-10 16:09] bulolo opened #1142 "【zigbee2mqtt】Unplug USB, gladys-z2m-zigbee2mqtt docker stop"
![image](https://user-images.githubusercontent.com/10026498/114276605-e1715580-9a59-11eb-98a2-f77c4d65549b.png)

when i use zigbee2mqtt,
![image](https://user-images.githubusercontent.com/10026498/114276629-0b2a7c80-9a5a-11eb-8afa-266daf428810.png)
and then i Unplug USB
then Plug in USB .
i found the  gladys-z2m-zigbee2mqtt docker is down and never restart

[2021-04-10 16:16] bulolo commented on #1118
ok,i will try 😄

[2021-04-13 08:52] VonOx commented on #1141
Wich model ? Because Color and Brightness is available in Gladys, so there is something wrong on the device configuration

=> Box with Hue devices
![image](https://user-images.githubusercontent.com/1528694/114525232-3d003680-9c46-11eb-8a2a-eacf4a78bd95.png)

[2021-04-13 11:15] rob-mccann opened #1144 "Build LG TV service"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to set up and link my LGTV to Gladys so I can control it from a dashboard

[2021-04-13 11:17] rob-mccann commented on #1130
Currently building media player alongside LGTV to check it works as expected; will PR them separately when ready for review https://github.com/GladysAssistant/Gladys/issues/1144

[2021-04-13 12:19] bulolo commented on #1141
https://www.zigbee2mqtt.io/devices/ZNLDP12LM.html

[2021-04-13 12:21] bulolo commented on #1141
ZNLDP12LM

[2021-04-17 01:37] Pierre-Gilles opened #1147 "Signup process is not very responsive"
![Screenshot_20210415-214512_Chrome](https://user-images.githubusercontent.com/7365207/115098057-6da2e180-9f60-11eb-9ea1-33f16d5ef2be.jpg)

[2021-04-18 13:37] vincentBesseau opened #1149 "[zigbee2mqtt] Change vibration sensor type"
First, are you sure that you found a Gladys bug?

See this post : https://community.gladysassistant.com/t/zigbee2mqtt-image-docker-de-test-basee-gladys-v4/5746/362

https://www.zigbee2mqtt.io/devices/DJT11LM.html#xiaomi-djt11lm

**Describe the bug**
When i add my sensor to gladys, this sensor was find but it was create with bad features :
<img width="572" alt="image" src="https://user-images.githu

[2021-04-18 18:46] thibautmery opened #1150 "Zigbee2mqtt: Add device 8718699673147 (ampoule philips hue white single bulb E27 bluethooth)"
[code]

[2021-04-19 03:01] #1132 closed, assigned to nobody

[2021-04-19 19:38] jstorgaard opened #1155 "Zigbee2mqtt: Add device E1525/E1745"
[code]

[2021-04-19 19:39] jstorgaard commented on #1155
This is an IKEA Trådfri Motion sensor.

[2021-04-20 08:18] jstorgaard commented on #1155
https://www.zigbee2mqtt.io/devices/E1525_E1745.html#ikea-e1525%252Fe1745

[2021-04-20 16:44] geoffreyp opened #1156 "Zigbee2mqtt: Add device 9CZA-A806ST-Q1A"
New Zigbee2mqtt device : https://www.zigbee2mqtt.io/devices/9CZA-A806ST-Q1A.html
[code]

[2021-04-20 16:47] geoffreyp commented on #1142
I had the same problem today

[2021-04-20 17:40] VonOx commented on #1142
This is related to zigbee2mqtt, not gladys.

If you remove your dongle, you need to restart zigbee2mqtt because it crash. Not something we need to handle.

[2021-04-21 19:25] vincentBesseau opened #1158 "[zigbee2mqtt] change type for XIAOMI MFKZQ01LM"
https://community.gladysassistant.com/t/zigbee2mqtt-image-docker-de-test-basee-gladys-v4/5746/370?u=spenceur

[2021-04-22 03:08] Pierre-Gilles commented on #1142
So the user can't remove his dongle and put it back ? I think it's our responsibility too, the user using zigbee2mqtt in Gladys is just here to use zigbee devices, he don't know what zigbee2mqtt is and don't know how to restart a container (and we don't want him to mess with containers)

I think it's definitely our job!

[2021-04-22 06:33] VonOx commented on #1142
OK good luck to handle all third parties crash. I'm not agree this is our job.

He know what zigbee is and what service he activated, user is not an idiot or baby. He can read a message ( the only thing we must do here, I think )

[2021-04-22 07:32] Pierre-Gilles commented on #1142
Maybe i didn't understood then, let's imagine I disconnect my Zigbee USB key, and plug it back.

Is Gladys and zigbee devices still working properly after that ?

I think we start the zigbee2mqtt container with a "restart=always" option, so even if it crashes, it should restart and find the USB key back at some point, no ?

The user doesn't know what we are doing under the hood, he's not necessari

[2021-04-22 16:50] atrovato opened #1161 "Typos with french"
According to report: https://community.gladysassistant.com/t/releve-de-bugs-divers/6271

Fix french typos:
1. Dashboard: missing data
   - key: dashboard.boxes.devicesInRoom.editDeviceFeaturesLabel
   - value: "Sélectionnez les appareils que vous voulez afficher ici. Seuls les capteurs et interrupteurs on/off sont supportés."
2. Dashboard: meteo box
  - key: dashboard.boxes.weather.editHouseLabel

[2021-04-22 16:52] atrovato opened #1162 "Incorrect date format"
According to report: https://community.gladysassistant.com/t/releve-de-bugs-divers/6271

In scenes, date format is dd-MM-yyyy, but dd/MM/yyyy is expected.

![image](https://user-images.githubusercontent.com/1839717/115753831-e90af580-a39b-11eb-8412-ff88a17df009.png)

[2021-04-22 16:57] atrovato opened #1163 "Troubles while removing scene trigger"
According to report: https://community.gladysassistant.com/t/releve-de-bugs-divers/6271

On scene page,
1. add a trigger
2. add another (different) trigger
3. remove 1st trigger
4. data mixing

![scene-remove-trigger](https://user-images.githubusercontent.com/1839717/115754520-8f56fb00-a39c-11eb-8492-8e9b45ff7347.gif)

[2021-04-22 17:03] atrovato opened #1164 "Troubles with feature selection on scene"
According to report: https://community.gladysassistant.com/t/releve-de-bugs-divers/6271

On scene page, with feature selector,
if I have multiple features with same type, I can't differenciate it.

![image](https://user-images.githubusercontent.com/1839717/115755036-2d4ac580-a39d-11eb-8a84-261a55ffa999.png)

[2021-04-23 02:57] Pierre-Gilles commented on #1163
I tried to fix it in https://github.com/GladysAssistant/Gladys/pull/1165

It seems to fix it, but I'm not sure it's completely fix. I had to upgrade preact as well (#dangerous).

What do you think about that?

[2021-04-23 04:43] #1147 closed, assigned to nobody

[2021-04-23 04:43] #1161 closed, assigned to nobody

[2021-04-23 04:43] #1162 closed, assigned to nobody

[2021-04-23 05:26] Pierre-Gilles commented on #1115
Sooo I'm currently debugging this on my iPhone connected in USB to my mac to debug safari, and it's a real pain ^^

Z-index is set and is working fine (1060 on the iro color picker):

<img width="1002" alt="Screenshot 2021-04-23 at 13 16 40" src="https://user-images.githubusercontent.com/7365207/115822454-26709100-a437-11eb-80dc-d0e395137543.png">

It seems that when I remove "position: absolute"

[2021-04-23 05:26] Pierre-Gilles commented on #1115
If you want to see the bug live, you can use browserstack for free to start a safari emulator in your browser:

https://www.browserstack.com/guide/how-to-debug-on-iphone

[2021-04-23 09:25] Pierre-Gilles opened #1167 "Slider control in dashboard doesn't work very well on touchscreen devices"
Tested on Safari iOS but I guess it's the same on Android, the slider doesn't work very well on touchscreen:

<img width="592" alt="Screenshot 2021-04-23 at 17 24 24" src="https://user-images.githubusercontent.com/7365207/115850751-c7bc0f00-a458-11eb-993a-7cc728b048ef.png">

It's hard to use :D

[2021-04-23 19:26] atrovato commented on #1115
What if you add css class `position-relative` to ColorDeviceFeature.jsx file line 107?

[2021-04-24 08:07] atrovato commented on #1163
@Pierre-Gilles and what about https://github.com/GladysAssistant/Gladys/pull/1168 ?

[2021-04-24 08:17] atrovato commented on #1115
If you "unset" position to absolute value, color picker will be stacked and makes te scrollbar visible.
I'll make some tests.

[2021-04-24 08:25] atrovato commented on #1115
I can't reproduce it using browerstack "real device cloud".
Tested with iPhone from 12 to 8. Safari and chrome, works well.

What's your setup?

[2021-04-24 19:55] cicoub13 commented on #1149
I'm afraid it's not possible easily. This kind of feature is not existing in Gladys Core for now.

You can change the feature name in the first screenshot you paste. It's difficult to detect the real device behind the "action" in Zigbee without creating a configuration for each device. We tried to keep the features most generic as possible.

[2021-04-24 20:00] cicoub13 commented on #1158
Hello. The Xiaomi Cube is not yet managed in Zigbee2Mqtt because it's a very specific device.
I will work on generic buttons first, and after take the work done on Xiaomi service to integrate the Cube in Zigbee2Mqtt.

[2021-04-24 20:19] cicoub13 commented on #1142
I agree that the container must restart automatically (it was the idea with the `--restart always`).

But it's not working. I'm investigating 🤔

[code]

[2021-04-24 20:51] cicoub13 commented on #1142
Issue created on zigbee2mqtt repository - https://github.com/Koenkk/zigbee2mqtt/issues/7198

I'm testing a fix

[2021-04-25 06:58] Pierre-Gilles commented on #1142
Agree, nice catch @cicoub13 !

Let's see what they say on Zigbee2mqtt repo :)

[2021-04-25 07:01] Pierre-Gilles commented on #1115
iPhone 12 on Safari, real device, but I'm using the touchscreen so it might change something?

Or maybe browserstack is not using real devices 😄

I'll try the position-relative tomorrow

[2021-04-25 07:03] Pierre-Gilles commented on #1163
Oh you're maybe right. I thought it was only a "key" in list problem, but maybe you're right it's not related

I'm testing that tomorrow

[2021-04-25 19:40] vincentBesseau commented on #1149
Thx @cicoub13 !
I'm wonder, why this sensor doesn't have these features (found on MQTT)
<img width="417" alt="image" src="https://user-images.githubusercontent.com/33568805/116007179-bb79b280-a60e-11eb-811a-4c8a091daa6f.png">
?

[2021-04-25 19:45] vincentBesseau commented on #1158
I found this on MQTT service :
<img width="109" alt="image" src="https://user-images.githubusercontent.com/33568805/116007248-20350d00-a60f-11eb-9783-14f9418eac4d.png">

I think it lacks information such as the side whose action has executed

<img width="202" alt="image" src="https://user-images.githubusercontent.com/33568805/116007321-828e0d80-a60f-11eb-94e9-5f8ce6e29f63.png">

[2021-04-26 12:17] Pierre-Gilles opened #1171 "Be able to see ffmpeg error message in UI when connection to camera doesn't work"
So it's easier to debug for beginners

[2021-04-26 17:41] Waregh opened #1172 "Zigbee2mqtt: Add device HG06104A Bandeau LED LIDL"
[code]

[2021-04-26 17:41] Waregh commented on #1172
Voila le résultat en essayant de connecter le bandeau LED LIDL en zigbee

[2021-04-27 11:34] #1171 closed, assigned to nobody

[2021-04-27 13:31] tagcashdev commented on #905
Bonjour j'ai le même problème, je sais pas comment résoudre :

**Équipements Z-Wave**
-Fibaro capteur de mouvement
-Fibaro Socket
-Aeotec Z-Stick Gen5

**Description du bug**
les données ne remonte pas toutes et il est difficile de faire des scenes, par exemple allumer lors de détection de mouvement.

![Screenshot_20210427_151258_com android chrome](https://user-images.githubusercontent.com/296373

[2021-04-27 19:22] vincentBesseau commented on #1167
It s same on Android :-D

[2021-04-28 12:52] Pierre-Gilles opened #1176 "Get camera image in chat is not working since node-nlp upgrade"

[2021-05-02 05:47] bulolo commented on #1110
i think it time to support chinese house name
https://github.com/GladysAssistant/Gladys/pull/1178

[2021-05-02 05:49] bulolo commented on #1118
https://github.com/GladysAssistant/Gladys/pull/1178

@VonOx @cicoub13 @Pierre-Gilles

[2021-05-03 06:42] #1150 closed, assigned to nobody

[2021-05-03 06:59] #1156 closed, assigned to nobody

[2021-05-03 11:38] Pierre-Gilles commented on #1176
Fixed in https://github.com/GladysAssistant/Gladys/commit/2c0c3c5d5f41e7620ead51c475dd0a941047f201

[2021-05-03 11:38] #1176 closed, assigned to nobody

[2021-05-03 11:59] Pierre-Gilles opened #1179 "Front: Weather box & device in room box are using the same shared variable in unistore but without the same content, and it breaks the dashboard"
When using the "device in room" and the "weather" box at the same time, they both store the list of "houses" in the "houses" variable, one with the rooms, and one without the room.

It breaks the list of rooms in the device in room box.

We should stop using global state for that.

[2021-05-05 23:36] Pierre-Gilles opened #1180 "Use N-UpNp search + UPnP search on Phillips Hue bridge search"
Make sure that N-UpNp search doesn't make the get bridge request fail in case the Pi doesn't have internet

[2021-05-07 04:15] Pierre-Gilles opened #1183 "Bluetooth service is not starting: Error: Could not start scanning, state is unknown (not poweredOn)"
https://community.gladysassistant.com/t/gladys-assistant-4-2-est-disponible-avec-la-compatibilite-zigbee2mqtt/6225/135?u=pierre-gilles

[2021-05-07 04:43] #1179 closed, assigned to nobody

[2021-05-07 10:13] VonOx commented on #1006
Opened an issue on lib repo

https://github.com/peter-murray/node-hue-api/issues/197

[2021-05-07 18:02] cicoub13 commented on #1142
OK, they made a fix here https://github.com/Koenkk/zigbee2mqtt/pull/7230 but it's not yet released.
Let's see if it solves the issue once released.

⚠️ If you unplug the key just after starting the container (10 seconds) or if you start without key, Restart policy will not apply.

[2021-05-10 01:34] Pierre-Gilles commented on #1142
Nice! 🙂 Thanks for reporting!

[2021-05-10 01:56] #1155 closed, assigned to nobody

[2021-05-10 02:12] #1172 closed, assigned to nobody

[2021-05-10 04:35] #797 closed, assigned to nobody

[2021-05-11 11:53] Pierre-Gilles opened #1189 "At first start of Gladys, when asking a question to Gladys, Gladys does not respond (websocket error)"
https://community.gladysassistant.com/t/releve-de-bugs-divers/6271/91?u=pierre-gilles

[2021-05-12 19:39] vincentBesseau opened #1190 "Zigbee2mqtt: Add device GZCGQ01LM"
[code]

[2021-05-13 20:32] geoffreyp commented on #1156
The model 9CZA-A806ST-Q1A is a RGB light but Gladys see it as a simple light.
Is it an update to do in the code of gladys or in my settings ?
screenshot :

![image](https://user-images.githubusercontent.com/9945579/118183770-c9b33580-b43a-11eb-942c-c9d242058c0a.png)

[2021-05-16 12:16] PCEDOMOTIC opened #1196 "Zigbee2mqtt: Add device TS0042"
[code]

[2021-05-17 07:27] Pierre-Gilles opened #1197 "Gladys is sometimes slow to answer in chat"
https://community.gladysassistant.com/t/releve-de-bugs-divers/6271/109?u=pierre-gilles

[2021-05-17 14:12] Albenss opened #1198 "Zigbee2mqtt: Add device TS0216"
[code]

[2021-05-18 16:58] cicoub13 commented on #1156
Color feature is existing in Gladys Core but not yet implemented in Zigbee2Mqtt service.
I'm working on it 😉

[2021-05-18 19:11] Albenss opened #1199 "Zigbee2mqtt: Add device GL-C-008P"
[code]

[2021-05-19 17:27] cicoub13 commented on #1198
Hello. This kind of device (alarm) is not yet managed in Gladys (so not in zigbee2mqtt service either).

[2021-05-20 07:26] LM1LC3N7 opened #1200 "Bug: When calling a scene from a scene, the scope is passed as reference and other scenes are read/writing the same object"
# Describe the bug
When a scene is called from another one, it does not work as expected. But if I execute the non-working scene manually with the dedicated button, it is working well.
**No logs are visible on both side, client & server.**

# To Reproduce
Steps to reproduce the behavior:

1. Create a scene that get a device value, test it and send a message if the value is higher than something (e

[2021-05-22 06:32] Fabichou15 opened #1202 "Z-Wave: Handle device "FIBARO System FGMS001-ZW5 Motion Sensor""
Hello
I got no data for illuminance
![37A5C875-A72E-4356-B3BE-CD6F27D55CE3](https://user-images.githubusercontent.com/31078700/119217099-2916e280-bad8-11eb-93cd-195cacd05759.png)
 and movement

[code]

[2021-05-24 20:21] EchoPouet commented on #905
Bonjour, j'ai également des problèmes avec mes détecteurs d'ouverture de porte. Ils sont bien détectés et intégrés mais je n'ai pas de retours.

Les appareils sont:
- FIBARO DOOR/WINDOW SENSOR 2 (FGDW-002) -> doc https://manuals.fibaro.com/content/manuals/en/FGDW-002/FGDW-002-EN-T-v1.1.pdf
- Aeotec ZWA008 - Door/Window Sensor 7 -> doc https://help.aeotec.com/support/solutions/articles/6000218764-d

[2021-05-31 09:17] LM1LC3N7 opened #1206 "Scrollbar visible in dashboard on Windows"
## Describe the bug
Scrollbar are visible on the dashboard when movement is detected few seconds ago.

## To Reproduce
Steps to reproduce the behavior:

1. Add a new widget for movement dection
2. Move in front of you captor
3. The dashboard will create scrollbar because "few seconds ago" is to long to fit in the widget

## Expected behavior
A clean widget without scrollbar.

## Screenshots
![imag

[2021-05-31 09:33] LM1LC3N7 opened #1207 "Scene: variable in message various bug (deleted when text is removed after the variable and list hides in case of type error)."
## Describe the bug
I found 2 bugs:

1. (video from start to 15sec) When I try to remove text or spaces **after** a variable, the variable will disappear itself. And text will not be able to be typed. On the video I am try to type something after the variable was deleted and nothing appears.
2. (video from 18 sec to the end) When I write the variable name, if I make mistype a letter, I am forced t

[2021-06-03 01:42] #1200 closed, assigned to nobody

[2021-06-06 02:05] AlexandreGagner opened #1209 "Zigbee2mqtt: Add device 9290022166"
Ampoule Hue white and color ambiance E27
[code]

[2021-06-11 02:54] Pierre-Gilles opened #1211 "Calendar events created in a different timezone are displayed in the wrong timezone"
@bertrandda I noticed that events created in a different timezone are displayed in the timezone the event was created, not the timezone of the user watching the calendar

Any idea what could be the cause?

[2021-06-17 01:03] Pierre-Gilles opened #1213 "Map view should zoom on users only & not zones"
https://community.gladysassistant.com/t/gladys-assistant-v4-4-est-disponible-avec-la-detection-dentree-sortie-de-zones/6388/6?u=pierre-gilles

[2021-06-17 01:05] Pierre-Gilles opened #1214 "Color picker is black on initial state (when last_value is null)"
https://community.gladysassistant.com/t/bandeau-de-leds-wifi-al-lc01-avec-firmware-tasmota-comment-lintegrer/5036/10?u=pierre-gilles

[2021-06-20 09:32] EchoPouet opened #1216 "Z-Wave: Handle device "Aeotec Limited ZWA008 Door Window Sensor 7""
No open/close door detection return.

[code]

doc https://help.aeotec.com/support/solutions/articles/6000218764-door-windows-sensor-7-user-guide

[2021-06-20 09:33] EchoPouet opened #1217 "Z-Wave: Handle device "FIBARO System FGDW002 Door Opening Sensor 2""
No open/close door detection return.

[code]

 doc https://manuals.fibaro.com/content/manuals/en/FGDW-002/FGDW-002-EN-T-v1.1.pdf

[2021-06-27 11:08] mikitouf opened #1220 "Zigbee2mqtt: Add device LED1836G9 ( Amploule IKEA )"
Bonjour,

[https://www.zigbee2mqtt.io/devices/LED1836G9.html](url)
{
  "name": "Lampe ikea ",
  "external_id": "zigbee2mqtt:Ampoule ikea",
  "model": "LED1836G9",
  "features": [],
  "should_poll": false,
  "service_id": "5e2205ac-a4a1-4410-b5e2-10b2541b7708",
  "supported": false
}
[code]

[2021-06-28 04:57] LM1LC3N7 opened #1222 "Cannot use negative values in scenes"
**Describe the bug**
As mentionned in the title, in a scene I cannot use negative values (or decimal).
The input does not allow me.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new scene
2. Select a device in trigger
3. Try to trigger if the device value is negative (like temperature of a congelator)
4. See it is impossible to type

**Expected behavior**
I can use negtive and de

[2021-06-28 09:50] VonOx commented on #1222
FYI copy/paste works

![image](https://user-images.githubusercontent.com/1528694/123616517-a8e64a00-d806-11eb-844b-18c96b977004.png)

I'm trying to find what is going on.

[2021-06-30 07:17] mikitouf opened #1225 "Size of the "User Presence" box"
Hi,
4 profiles are in my Gladys. In the Dashboard, when the "user Presence" box is On, only the first three states of profiles are visible.

My feature request is to have a dynamical size of "User Presence" Box based on the number of profiles.

[2021-06-30 10:58] VASNIER opened #1226 "Zigbee2mqtt: Add device TRADFRIbulbE27WWclear250lm"
[code]

[2021-06-30 10:59] VASNIER commented on #1226
Je souhaite intégrer cette ampoule LED IIKEA dans Gladys - Zigbee2MQTT
Merci

[2021-06-30 11:00] VASNIER commented on #1226
Désolé, je crois que je n'aurais pas du" Fermer"

[2021-06-30 11:15] VonOx commented on #1226
Salut, pour le moment elle n'est pas supportée par zigbee2mqtt https://www.zigbee2mqtt.io/information/supported_devices.html#ikea

Il faut d'abord en faire la demande sur le projet, on ne peut rien faire côté gladys

https://github.com/Koenkk/zigbee2mqtt/issues

[2021-07-01 21:52] bertrandda commented on #1211
I replicate the issue, it seems to be during synchronization, timezone is misinterpreted. I'll try to fix that as soon as possible.

[2021-07-02 02:18] Pierre-Gilles commented on #1211
Ok I see! Thanks for checking 🙂

[2021-07-02 03:18] #1213 closed, assigned to nobody

[2021-07-02 03:49] Pierre-Gilles commented on #1222
I think the validation is faulty, the onType only accept numbers

[2021-07-02 05:42] #1197 closed, assigned to nobody

[2021-07-02 05:43] Pierre-Gilles commented on #1189
Fixed in https://github.com/GladysAssistant/Gladys/commit/ba98454b4abd7b32bd683b110072e9e83ed41151

[2021-07-02 05:43] #1189 closed, assigned to nobody

[2021-07-02 05:56] Pierre-Gilles commented on #1207
Hey! I just investigated on this!

Both issues are linked to the lib we use for this: @yaireo/tagify

- For the first one, I managed to fix by upgrading the lib here => https://github.com/GladysAssistant/Gladys/pull/1228
- For the second one, it's not really something we can fix in Gladys, the lib should fix it. There are already some issues on the repo of the library => https://github.com/yairEO/

[2021-07-02 06:00] Pierre-Gilles commented on #1222
It was a simple bug, I fixed it in https://github.com/GladysAssistant/Gladys/pull/1228

[2021-07-02 06:19] Pierre-Gilles commented on #1088
I think it was fixed in https://github.com/GladysAssistant/Gladys/commit/2c0c3c5d5f41e7620ead51c475dd0a941047f201.

I tried on my side, and it works. I'm closing this, feel free to re-open it if you still see the bug :)

[2021-07-02 06:19] #1088 closed, assigned to nobody

[2021-07-02 06:30] Pierre-Gilles commented on #958
Seems it's better since we upgraded node-nlp!

I'm closing this.

[2021-07-02 06:30] #958 closed, assigned to nobody

[2021-07-02 06:30] #929 closed, assigned to nobody

[2021-07-02 06:31] Pierre-Gilles commented on #850
I'm removing this issue as we developed the sunrise/sunset trigger.

For the offset part, it could be a feature request on the forum, I'm closing this as we don't use issues anymore for features.

[2021-07-02 06:31] #850 closed, assigned to callemand

[2021-07-02 06:32] Pierre-Gilles commented on #796
The feature request in on the forum, closing this.

[2021-07-02 06:32] #796 closed, assigned to nobody

[2021-07-02 06:54] Pierre-Gilles commented on #684
Fixed in https://github.com/GladysAssistant/Gladys/commit/ba98454b4abd7b32bd683b110072e9e83ed41151

[2021-07-02 06:54] #684 closed, assigned to nobody

[2021-07-02 06:54] #1225 closed, assigned to nobody

[2021-07-02 06:54] #1055 closed, assigned to nobody

[2021-07-02 06:54] #1106 closed, assigned to nobody

[2021-07-02 06:54] #1207 closed, assigned to nobody

[2021-07-02 06:54] #1222 closed, assigned to nobody

[2021-07-02 07:11] #1220 closed, assigned to nobody

[2021-07-02 08:32] #1209 closed, assigned to nobody

[2021-07-02 19:37] mikitouf commented on #1226
çà peut être la LED1842G3 ou la LED1934G3 qui correspond. Pour cela il faut sur la boite ( sous le E27 de la face avant )

sinon
trouvé çà:
[https://github.com/Koenkk/zigbee2mqtt/issues/7908](url)

[2021-07-06 06:35] VASNIER opened #1232 "Zigbee2mqtt: Add device LED1934G3"
[code]

[2021-07-06 06:38] VASNIER commented on #1232
Bonjour
Pas de chance, c'est la 2ème ampoule LED IKEA qui n'est pas encore reconnue par Gladys  Assistant.
Merci pour votre prise en compte.

[2021-07-10 07:15] atrovato opened #1234 "Tasmota: manage IR and RF sensors"
According to https://community.gladysassistant.com/t/releve-de-bugs-divers/6271/122?u=alextrovato

Be able to handle IR and RF Tasmota message as sensor first.

[2021-07-11 09:38] EchoPouet opened #1237 "USB Z-Wave infinite loop connection"
**Describe the bug**
When I choose the ZWave usb port in the ZWave intregration, there is a infinite loop and I must reboot Gladys in ssh.
I use USB Z-Wave+ - Everspring.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Integration/Parameters
2. Scroll down to the good usb port
3. Click on connect
4. See connection never ending

**Your Gladys installation :**

- Raspberry Pi 2 installa

[2021-07-14 09:18] #1008 closed, assigned to nobody

[2021-07-20 20:08] Shiftmaj opened #1244 "Zigbee2mqtt: Add device ZM-L03E-Z"
[code]

[2021-07-20 20:14] Shiftmaj opened #1245 "Zigbee2mqtt: Add device TS0002"
[code]

[2021-07-20 22:46] Shiftmaj commented on #1245
Bonsoir,
Je souhaiterais utiliser cet interrupteur à 2 boutons avec Gladys, mais il ne semble pas encore supporté. Il s'agit de la même série que celui-ci : https://www.zigbee2mqtt.io/devices/TS0001.html.
J'ai également un interrupteur 3 boutons de même série, cf #1244.

[2021-07-20 22:46] Shiftmaj commented on #1244
Bonsoir,
Je souhaiterais utiliser cet interrupteur à 3 boutons avec Gladys, mais il ne semble pas encore supporté. Il s'agit de la même série que celui-ci : https://www.zigbee2mqtt.io/devices/TS0001.html.
J'ai également un interrupteur 2 boutons de même série, cf #1245.

[2021-07-21 14:06] LM1LC3N7 opened #1246 "Zigbee2mqtt: Add device TS0601_air_quality_sensor"
Salut @cicoub13,

J'ai un nouveau capteur de la qualité de l'air, pas encore supporté par Gladys :-)

[code]

@Pierre-Gilles je ne crois pas que Gladys gère ce genre de feature, on risque d'avoir besoin de toi sur ce sujet :

![image](https://user-images.githubusercontent.com/14235706/126501977-9d2fdd26-7714-4273-8da5-dd2f2d0eb1b3.png)

Il s'agit d'un [Tuya TS0601](https://www.zigbee2mqtt.io/devic

[2021-07-22 18:32] cicoub13 commented on #1246
Hello,

These features are already managed in Gladys and in the service Zigbee2Mqtt (let me add the device with this features first) :
- temperature
- humidity

These features are managed by Gladys but not by our Zigbee2Mqtt integration (it will require some development) :
- co2

These features are not managed in Gladys core :
- voc (volatile organic compounds)
- formaldehyd (méthanal ou formaldéh

[2021-07-22 18:48] LM1LC3N7 commented on #1246
Sorry I forget that it is preferable to speak English here 😅

Thanks @cicoub13 for your work!

[2021-07-28 21:31] sellouze opened #1249 "Z-Wave: Handle device "HANK Electronics Ltd HKZW-SCN04 Scene Controller""
[code]

[2021-07-28 21:35] sellouze commented on #1249
Lors de l'inclusion de la commande Hank, il n'y a uniquement la valeur du niveau de batterie qui semble remontée. Du moins une valeur en % est attribuée par bouton enclenché. Etant nouveau sur Gladys, je ne suis pas bien sur si je peux modifier facilement l'intégration de la commande dans Gladys.

[2021-07-29 01:12] #1246 closed, assigned to nobody

[2021-07-30 08:31] LM1LC3N7 opened #1250 "Dashboards: Fullscreen bug"
# Describe the bug
If I use the Firefox button to escape the full screen instead of the Gladys button, some of the screen disappear (menu, profile, etc.).

# To Reproduce
Steps to reproduce the behavior:

1. Open a dashboard on Firefox
2. Click on Gladys Full screen button
3. Click on Firefox button to escape the full screen
4. See what happens

# Expected behavior
Full screen escape should work w

[2021-07-30 16:38] benjame77 opened #1251 "Zigbee2mqtt: Add device E1603/E1702/E1708"
[code]

[2021-08-04 08:25] Pierre-Gilles commented on #1250
Indeed, thanks a lot for testing that! :)

[2021-08-04 19:54] mikitouf opened #1254 "Zigbee2mqtt: Add the battery value to the device RTCGQ11LM"
Hi!

The Aqara human body movement and illuminance sensor RTCGQ11LM have a value "voltage" in Gladys but can we have the value  "battery" like the Aqara temperature  WSDCGQ11LM.

The value ( battery ) is in the state page on  zigbee2mqtt:8080.

It'll be more easier with "battery" value to know when we must change the battery than the voltage

[2021-08-06 16:09] mikitouf opened #1255 "Zigbee2mqtt: Add device LED1837R5"
HI,
[code]

[2021-08-06 16:09] mikitouf opened #1256 "Zigbee2mqtt: Add device CC2530.ROUTER"
[code]

[2021-08-06 16:10] #1256 closed, assigned to nobody

[2021-08-06 16:10] mikitouf commented on #1256
error

[2021-08-06 17:22] mikitouf opened #1257 "Zigbee2mqtt: Change a deprecated function to the device E1743 ( IKEA )"
Hi!

According to the FAQ ( [https://www.zigbee2mqtt.io/devices/E1743.html](url) ), the function click is deprecated , Can you change it  to the function action ( ON /OFF).

[2021-08-06 21:45] thibautmery opened #1258 "Zigbee2mqtt: Add device 929002241201"
[code]

[2021-08-07 14:03] DarkInesis opened #1260 "Zigbee2mqtt: Add device TS0503B"
[code]

[2021-08-14 20:13] ajsb85 opened #1261 "GraphQL"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-21 09:43] olimarmite opened #1262 "Zigbee2mqtt: Add device E2001/E2002"
[code]

[2021-08-22 09:56] VonOx opened #1263 "Can't create 2 room with the same name in 2 houses"
It's pretty convenient to name kitchen a kitchen.
If you manage multiple house you have 2 kitchens in 2 houses.

Uniqueness must be managed by house and not instance in some way

![image](https://user-images.githubusercontent.com/1528694/130350661-a25f22e2-aa05-4121-92b3-da6084620fb5.png)

* Via Gladys Plus there is no error in UI but ( infinite loading ):
[code]

[2021-08-22 10:02] VonOx commented on #1262
For reference https://www.zigbee2mqtt.io/devices/E2001_E2002.html

[2021-08-27 19:27] Jean-PhilippeD opened #1267 "Previous scene name still appear on new scene"
**Describe the bug**
If you begin a scene, with a name, then you delete it before you finish it, and then you decide to create a new scene withouth refreshing your brower, the input field Name appears with your previous name, but if you hit the Create button, it says you need a name.

**To Reproduce**
Start creation of a scene, name it, click Create, then Delete it.
Next, start creation of a new s

[2021-08-28 12:08] HamendeM opened #1268 "Zigbee2mqtt: Add device LED1924G9"
[code]

[2021-08-28 12:20] HamendeM commented on #1268
{"dateCode":"2019062886LEL08N","description":"TRADFRI bulb E26/E27 CWS 800/806 lumen, dimmable, color, opal white","friendly_name":"0xec1bbdfffe70cef0","hardwareVersion":1,"ieeeAddr":"0xec1bbdfffe70cef0","lastSeen":1630152662210,"manufacturerID":4476,"manufacturerName":"IKEA of Sweden","model":"LED1924G9","modelID":"TRADFRI bulb E27 CWS 806lm","networkAddress":15937,"powerSource":"Mains (single ph

[2021-08-28 12:29] HamendeM opened #1269 "Zigbee2mqtt: Update device LED1732G11 / E1524/E1810"
**Is your feature request related to a problem? Please describe.**
As user, I would like to be able to get the status of my lamp when I switch them On / Off using my remote.
And be able to use dimmable functionnalities.

**Describe the solution you'd like**
When I am in the Dashboard, I would like to be able to seen if my lamps are On / Off.
And be able to modify brightness.

**Describe alternativ

[2021-09-02 01:19] Pierre-Gilles commented on #1261
Can you be more descriptive? ^^

[2021-09-02 01:20] Pierre-Gilles commented on #1267
Nice catch!

[2021-09-03 02:24] #1250 closed, assigned to nobody

[2021-09-04 09:06] VonOx opened #1274 "[FRONT] Box device in room is showing switch even if feature is not displayed"
![image](https://user-images.githubusercontent.com/1528694/132089148-9f1e79d4-33a2-4701-8e67-d264941a1718.png)
![image](https://user-images.githubusercontent.com/1528694/135810301-11e138be-1f01-4415-a4f2-2678c784a907.png)

[2021-09-05 08:18] VonOx commented on #1258
Fixed in #1259

[2021-09-05 08:18] #1258 closed, assigned to nobody

[2021-09-06 06:44] thibautmery opened #1277 "Can't slide for brightness of a light on smartphone"
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
When I am using my Iphone, it's imposible for me to slide all the slider that are in the dashboard. I have to "click" to change the value. It's not perfect even more when it's not so wide

**To Reproduce**
Using Iph

[2021-09-06 08:51] cicoub13 commented on #1254
Hello. The battery feature is auto detected when the device has a "Battery" powersource (like in this image).

<img width="694" alt="Capture d’écran 2021-09-06 à 10 47 02" src="https://user-images.githubusercontent.com/1773153/132188913-26ee1a9b-7ef6-416c-a9f9-282c1e388dfc.png">

Can you try to delete the device and add it again in Gladys (no need to unpair from the Zigbee network) ?

[2021-09-06 09:30] Pierre-Gilles commented on #933
Same user is talking about this issue again: https://twitter.com/Monwifi_fr/status/1434805893150003206

[2021-09-06 09:41] VonOx commented on #1277
Maybe related to #1082

On my side it works "sometimes" but I'didnt know what happen.

Tabler must be updated when released but maintener seems to not respond
https://github.com/tabler/tabler/issues/898

[2021-09-06 10:03] #1232 closed, assigned to nobody

[2021-09-06 10:03] #1260 closed, assigned to nobody

[2021-09-06 10:03] #1268 closed, assigned to nobody

[2021-09-08 12:13] Pierre-Gilles opened #1279 "When restoring a Gladys Plus backup directly from the UI, Gladys doesn't restart properly"

[2021-09-09 11:22] Pierre-Gilles commented on #1277
Yes this has always been the case (slider doesn't work well on touchscreen), we already have one issue referencing the bug: https://github.com/GladysAssistant/Gladys/issues/1167

No need to update Tabler (it's maybe a bit too much just to fix a slider 😅)

The only thing to do it to copy the new slider CSS class from Tabler 2 ( on https://preview.tabler.io/ ), and use this one in Gladys instead of

[2021-09-09 12:03] Pierre-Gilles opened #1280 "Bug: When switching dashboard, some boxes are not refreshed"
See:

https://user-images.githubusercontent.com/7365207/132682177-dc130e7f-e615-40a9-9ccc-aa5e12e8e227.mp4

From : https://community.gladysassistant.com/t/dashboard-evolutions-bugs-etc/5150/37?u=pierre-gilles

[2021-09-09 19:56] Albenss opened #1281 "Zigbee2mqtt: Add device TS0201"
[code]

[2021-09-10 04:30] #1280 closed, assigned to nobody

[2021-09-10 05:34] #1279 closed, assigned to nobody

[2021-09-10 06:24] Pierre-Gilles commented on #1277
I found the issue !! (Took 2 hours...)

There was a pointer-events: none by mistake in tabler CSS, I fixed it :)

https://github.com/GladysAssistant/Gladys/pull/1284

[2021-09-10 06:37] Pierre-Gilles commented on #1183
Fixed in https://github.com/GladysAssistant/Gladys/commit/583eef572df7fb8616836991b0917385c6116ea4

[2021-09-10 06:37] #1183 closed, assigned to nobody

[2021-09-10 06:46] #1277 closed, assigned to nobody

[2021-09-10 07:23] #1267 closed, assigned to nobody

[2021-09-10 07:50] #1163 closed, assigned to nobody

[2021-09-10 07:53] Pierre-Gilles commented on #560
Closing this as we use the forum for feature requests now

https://community.gladysassistant.com/

[2021-09-10 07:53] #560 closed, assigned to nobody

[2021-09-10 07:55] Pierre-Gilles commented on #823
Closing this as we now use the forum for feature request https://community.gladysassistant.com/

[2021-09-10 07:55] #823 closed, assigned to nobody

[2021-09-10 07:57] #616 closed, assigned to nobody

[2021-09-10 07:57] #637 closed, assigned to nobody

[2021-09-10 07:57] #681 closed, assigned to nobody

[2021-09-10 07:57] #690 closed, assigned to nobody

[2021-09-10 07:57] #691 closed, assigned to nobody

[2021-09-10 07:57] #693 closed, assigned to euguuu

[2021-09-10 07:57] #724 closed, assigned to nobody

[2021-09-10 07:57] #742 closed, assigned to nobody

[2021-09-10 07:57] #784 closed, assigned to nobody

[2021-09-10 07:57] #788 closed, assigned to nobody

[2021-09-10 07:57] #790 closed, assigned to nobody

[2021-09-10 07:57] #791 closed, assigned to nobody

[2021-09-10 07:57] #800 closed, assigned to nobody

[2021-09-10 07:57] #801 closed, assigned to nobody

[2021-09-10 07:57] #809 closed, assigned to nobody

[2021-09-10 07:57] #826 closed, assigned to nobody

[2021-09-10 07:57] #839 closed, assigned to nobody

[2021-09-10 07:57] #980 closed, assigned to nobody

[2021-09-10 07:58] Pierre-Gilles commented on #723
We now have multiple dashboard since v4.5 ! :)

For public dashboard, don't hesitate to create a feature request on the forum as we now use the forum for feature request (we use Github only for bug tracking)

https://community.gladysassistant.com/

[2021-09-10 07:58] #723 closed, assigned to nobody

[2021-09-10 07:59] Pierre-Gilles commented on #603
Closing this as we don't use Github for feature requests (we use the forum for that: https://community.gladysassistant.com/) but only for bug tracking

[2021-09-10 07:59] #603 closed, assigned to nobody

[2021-09-10 07:59] #611 closed, assigned to nobody

[2021-09-10 08:01] Pierre-Gilles commented on #626
I think we can close this as now every dev is building in his own repo with his own Docker account no ?

[2021-09-10 08:01] #626 closed, assigned to nobody

[2021-09-10 08:01] #636 closed, assigned to nobody

[2021-09-10 08:01] Pierre-Gilles commented on #642
Closing this as we now user Github for bug tracking only (feature request on the forum)

[2021-09-10 08:01] #642 closed, assigned to nobody

[2021-09-10 08:02] #663 closed, assigned to nobody

[2021-09-10 08:02] Pierre-Gilles commented on #668
Done in Gladys Assistant v4.5.

[2021-09-10 08:02] #668 closed, assigned to nobody

[2021-09-10 08:02] #674 closed, assigned to nobody

[2021-09-10 08:03] Pierre-Gilles commented on #689
Closing this as we now use GitHub only for bug tracking, feature requests should be handled on the forum! https://community.gladysassistant.com/

[2021-09-10 08:03] #689 closed, assigned to nobody

[2021-09-10 08:04] #1111 closed, assigned to nobody

[2021-09-10 08:17] #1211 closed, assigned to nobody

[2021-09-10 09:01] Pierre-Gilles commented on #1277
I'm currently building a dev image (https://github.com/GladysAssistant/Gladys/actions/runs/1220591395)

I'll probably release on Monday if everything works well, in the meantime I'm interested by your feedback if you can try this image :)

[2021-09-10 09:04] Pierre-Gilles commented on #1277
Build finished!

[2021-09-10 09:53] cicoub13 commented on #1257
It's already binded to `action` (feature button linked to field `action`). It doesn't work ?

https://github.com/GladysAssistant/Gladys/blob/master/server/services/zigbee2mqtt/model/IKEA.js#L31

[2021-09-10 09:58] VonOx commented on #1257
I'm thinking the "click" action is deprecated not the topic itself

[2021-09-10 16:26] VASNIER opened #1291 "Z-Wave: Handle device "FIBARO System FGMS001 Motion Sensor""
Bonjour
Le pourcentage de charge de la batterie de se Motion Sensor ne s'affiche pas

{
  "manufacturer": "FIBARO System",
  "manufacturerid": "0x010f",
  "product": "FGMS001 Motion Sensor",
  "producttype": "0x0800",
  "productid": "0x1001",
  "classes": [
    "48",
    "49",
    "112",
    "114",
    "128",
    "132",
    "134",
    "156"
  ]
}
[code]

[2021-09-11 05:40] atrovato commented on #1042
@Pierre-Gilles do you remember for what kind of device features?
We already add some more.

[2021-09-11 05:45] atrovato commented on #982
@Pierre-Gilles
Isn't it already done?

[2021-09-11 05:48] atrovato commented on #915
Related to https://github.com/GladysAssistant/Gladys/issues/1141

[2021-09-11 05:48] atrovato commented on #1141
Related to https://github.com/GladysAssistant/Gladys/issues/915

[2021-09-11 05:59] atrovato commented on #1262
For more, button/action device.

[2021-09-11 06:10] atrovato commented on #1257
I think we are ok here. No click read for topic, only `action` can be found.

@mikitouf do you have any trouble with your device?

[2021-09-11 06:13] atrovato commented on #1269
I think we are done with this (according to code).

[2021-09-11 06:35] Pierre-Gilles commented on #982
Yes! Did it this summer 🔥

[2021-09-11 06:36] #982 closed, assigned to nobody

[2021-09-11 06:37] Pierre-Gilles commented on #1042
I don't remember honestly, let's close this and if someone ask let's open new issues 👍

[2021-09-11 06:37] #1042 closed, assigned to nobody

[2021-09-11 07:00] Pierre-Gilles commented on #915
Luminosity control is already in Gladys, I think this can be closed

[2021-09-11 07:03] Pierre-Gilles commented on #1269
In that case I'm closing the issue. Feel free to reopen it if it's not the case :)

[2021-09-11 07:03] #1269 closed, assigned to nobody

[2021-09-11 07:15] Pierre-Gilles opened #1293 "Gladys answers in °F for Telegram temperature request"
https://community.gladysassistant.com/t/configuration-unite-de-temperature-via-telegram/6512/5

[2021-09-13 02:39] Pierre-Gilles opened #1295 "Fix horizontal scrollbar on "device in rooms" box on Windows"
https://community.gladysassistant.com/t/dashboard-evolutions-bugs-etc/5150/50?u=pierre-gilles

[2021-09-13 06:21] #1262 closed, assigned to atrovato

[2021-09-13 06:45] #1281 closed, assigned to cicoub13

[2021-09-13 07:02] #1251 closed, assigned to nobody

[2021-09-13 07:54] #1295 closed, assigned to nobody

[2021-09-15 17:36] mikitouf commented on #1254
I delete on gladys ( by the way it's freeze 30s the zigbee2mqtt service, it was like nothing it's on ), and add the battery feature.
Thanks.

I closed it

[2021-09-15 17:36] #1254 closed, assigned to nobody

[2021-09-15 17:45] mikitouf commented on #1257
yes , when I click , I see it on gladys8080 but it's do noting in my scene [https://ibb.co/fNtfd7L](url)
When I started it manually it's work but not with the device

[2021-09-15 17:54] VonOx commented on #1257
So maybe a scene problem, not device.

Please post your intent in Gladys forum. It's not clear to me here.

[2021-09-16 17:57] mikitouf commented on #1257
ok. i do it [https://community.gladysassistant.com/t/probleme-dans-lutilisation-de-linterrupteur-ikea-e1743-dans-une-scene-en-tant-que-declencheur/6525](https://community.gladysassistant.com/t/probleme-dans-lutilisation-de-linterrupteur-ikea-e1743-dans-une-scene-en-tant-que-declencheur/6525)

[2021-09-18 12:31] YassineKardid opened #1301 "Migration"
Hello, I made some changes on database, please how can i generate the migration files ?

[2021-09-18 12:50] #1261 closed, assigned to nobody

[2021-09-20 02:35] Pierre-Gilles opened #1303 "Implement RelativeCI new github action"
https://github.com/relative-ci/agent-action

Documentation: https://relative-ci.com/documentation/setup/agent/github-action/#workflows-triggered-by-forked-repositories-beta
Example: https://github.com/relative-ci/example-github-action-fork-pull-request

[2021-09-20 04:21] Pierre-Gilles commented on #1301
Hey!

You need to use sequelize-cli: https://github.com/sequelize/cli

Example:

[code]

Then you need to modify the up: () migration.

If you want to talk with us faster, we are mainly on the forum: https://community.gladysassistant.com/

[2021-09-20 06:01] Pierre-Gilles commented on #693
FYI: https://community.gladysassistant.com/t/affichage-des-courbes-de-capteurs-sur-le-dashboard/6535

[2021-09-22 08:36] Tsnet11 opened #1304 "Zigbee2mqtt: Add device TS0201"
[code]

[2021-09-24 07:00] VonOx commented on #1301
I'm closing this issue because answered. @YassineKardid feel free to reopen if needed.

[2021-09-24 07:00] #1301 closed, assigned to nobody

[2021-09-24 07:05] VonOx opened #1305 "[MAPS] Zoom level is reset at every refresh"
Not really a bug but every refresh in maps view reset the zoom level

<img width="450" alt="maps" src="https://user-images.githubusercontent.com/1528694/134632109-3a7445c4-2abf-4561-8241-a57a9e2c3df8.gif" />

If you need to check something outside default zoom you can't ( or you need to be very fast :-D )

[2021-09-24 09:07] Pierre-Gilles commented on #1305
It's definitely a bug, not nice!

Thanks for reporting :)

[2021-09-26 08:48] vincentBesseau opened #1306 "Zigbee2mqtt: Add device GZCGQ01LM"
[code]

[2021-09-27 01:14] Pierre-Gilles commented on #1255
Seems brightness is missing:

https://community.gladysassistant.com/t/rajout-dune-fonctionnalite-sur-le-device-led1837r5-ikea/6548

[2021-10-04 05:57] Pierre-Gilles opened #1310 "When temperature is 0°C in a room, the UI is not displaying the temperature correctly"
<img width="454" alt="Screenshot 2021-10-04 at 13 57 12" src="https://user-images.githubusercontent.com/7365207/135801096-fb17097d-09a9-44d4-8121-5b15f596cfc3.png">

[2021-10-04 07:51] #915 closed, assigned to nobody

[2021-10-04 07:53] VonOx commented on #1214
Fixed in #1235

[2021-10-04 07:53] #1214 closed, assigned to atrovato

[2021-10-04 13:59] VonOx commented on #1006
https://github.com/peter-murray/node-hue-api/blob/4.x/lib/api/Api.js#L154

@Pierre-Gilles in that case we can call resynch function.

[As lib maintainer says to me](https://github.com/peter-murray/node-hue-api/issues/197#issuecomment-870591129), it's an heavy call so what's the plan here ?

* In case of error we resync
or
* On demand via UI button

[2021-10-05 01:27] Pierre-Gilles opened #1311 "If local Gladys instance is not available and trying to contact Google Home, Google Home says everything is fine, it should answer with an error"

[2021-10-05 16:41] atrovato commented on #1310
This is because will live in countries where it's always 20°C :p

[2021-10-08 02:30] Pierre-Gilles commented on #1311
Fixed !

https://user-images.githubusercontent.com/7365207/136488710-3e3f272c-4836-4c65-ae7a-f9ef5d8118b0.MOV

[2021-10-08 02:30] #1311 closed, assigned to nobody

[2021-10-09 08:21] Pierre-Gilles commented on #1006
If the error easy to identify ? If yes, on error why not, but the problem is that we really don't want to trigger this multiple time in a row as it's an heavy call!

Or maybe, when adding a new lamp, could we know if the problem is here?

[2021-10-09 10:59] VonOx commented on #1006
Yep error is pretty clear in this issue

ApiError: Light with id:12 was not found on this bridge

But i did'nt know how to catch them.

Error is triggered when contrlling the device not when adding them to Gladys

[2021-10-10 05:39] Pierre-Gilles commented on #1006
Yes, but this error could also be "normal", for example if the user added a lamp in Gladys, then remove the lamp from Philips Hue. In that case, we will be retrying many time and it won't solve the issue.

Maybe the best would be to do a combo:

- Message in the UI if the error occured recently ? We can save a flag in the JS code of the Philips Hue integration
- Button in the UI (always displayed)

[2021-10-10 08:51] Pierre-Gilles commented on #1274
https://community.gladysassistant.com/t/editer-le-type-de-feature-des-devices-philips-hue/5806/32?u=pierre-gilles

[2021-10-11 08:33] Pierre-Gilles commented on #1295
Deployed in Gladys v4.5.3

[2021-10-11 08:35] Pierre-Gilles commented on #1251
Deployed in Gladys Assistant v4.5.3

[2021-10-11 08:35] Pierre-Gilles commented on #1281
Deployed in Gladys Assistant v4.5.3

[2021-10-11 08:35] Pierre-Gilles commented on #1262
Deployed in Gladys Assistant v4.5.3

[2021-10-11 09:41] Pierre-Gilles opened #1316 "Box "temperature in room" & "humidity in room" are not refreshing data with websockets"
Data is not updated live on those boxes

[2021-10-11 14:33] mmbarki opened #1318 "[FRONT] can't rename a Scene"
can't edit the scene's name, the click on the name causes an error.
I suspect this line:
https://github.com/GladysAssistant/Gladys/blob/c14e042d6f614c059cc4b142ea7ef8bd833d7e3d/front/src/routes/scene/edit-scene/EditScenePage.jsx#L25
`<form onSubmit={this.saveScene}>`
should be
`<form onSubmit={props.saveScene}>`

[2021-10-11 19:02] Checconio opened #1319 "Z-Wave: Handle device "FIBARO System FGRGBW442 RGBW Controller 2""
Bonjour,

Il ne détecte pas les réelles fonctionnalités RGBW et ON/OFF

Merci

[code]

[2021-10-13 05:52] LM1LC3N7 opened #1320 "Zigbee2mqtt: Add device BRT-100-TRV"
[code]

![Screenshot_20211013-074643__01__01](https://user-images.githubusercontent.com/14235706/137074538-2b16ce61-419a-43cd-bdac-90ff63e5b823.jpg)

![Screenshot_20211013-074652](https://user-images.githubusercontent.com/14235706/137074546-8b512489-78f6-4604-a45c-64017071afcd.jpg)

![Screenshot_20211013-074704](https://user-images.githubusercontent.com/14235706/137074543-24c09081-ad64-4933-a981-d

[2021-10-13 06:37] Pierre-Gilles commented on #1320
It's a debate, It just depends how well we want to integrate this with Gladys :)

Gladys 4 doesn't handle heating systems right now, but if the goal is just to do some On/off in Gladys, it could be easy.

Can you create a post on the forum:

- describe the device and what it does exactly
- describe what are you needs

[2021-10-13 06:42] Pierre-Gilles commented on #1318
You're right, it's a bug! I have the same and I can reproduce.

We did some changes recently and it broke it ^^

If you want to submit a PR to fix this, you're welcome 🙂

[2021-10-13 06:45] #1310 closed, assigned to nobody

[2021-10-13 11:26] LM1LC3N7 opened #1323 "After editing a dashboard name, the dropdown list is not updated"
Description: When editing an existing dashboard, the dropdown list is not updated with the new name. A page refresh is needed for that.

![image](https://user-images.githubusercontent.com/14235706/137123957-28d33dfa-8b9f-436f-8ad9-7a619d34b015.png)

Procedure:
1. Create a new dashboard
2. Reload the page
3. Edit the dashboard name and do not refresh the page
4. See the dropdown menu, the old dashb

[2021-10-13 12:41] moustic999 opened #1324 "New Integration for KNX and KNX devices support"
KNX support could be a great feature to add.

There are any flavors of KNX support, first is via KNXNet/IP which is itself splitted into 2 parts : Multicast and Tunneling.
others is via a TP-UART / serial or usb device.

For the KNXNet/IP support there ais a node.js library already existing : https://www.npmjs.com/package/knx

this support could be added quite easily,

Most complex part is that th

[2021-10-13 21:41] jojolll opened #1325 "Zigbee2mqtt: Add device LED2002G5"
Hello ! En cours de migration vers Gladys V4, je tente l'intégration ZigBee. Ca part mal, première lampe refuse déjà de se connecter lol !

[code]

J'ai du mal à comprendre le  `"supported": false` étant donné qu'elle est absolument bien supportée par Z2M :
![image](https://user-images.githubusercontent.com/26553241/137216357-6b1bef18-29e6-4ce5-945c-31d572cc0831.png)

Est-ce un problème côté Glady

[2021-10-13 21:52] LM1LC3N7 commented on #1325
En effet pour le moment chaque périphérique doit-être explicitement accepté par Gladys, pour faire correspondre les possibilités de l'équipement et les features internes de Gladys.
Mais un gros travail est fait en ce moment pour automatiser tout ça et ne plus être bloqué si le périphérique est supporté par Z2M.
Je t'invite a faire un tour sur le forum a ce propos !

[2021-10-14 05:06] Pierre-Gilles commented on #1323
Thanks for the report!

[2021-10-14 05:09] Pierre-Gilles commented on #1324
Hello @moustic999,

We use Github for bug tracking only, can you create a feature request in our forum:

https://community.gladysassistant.com/c/francais/feature-requests/43

(Also, you can write in french on the forum :) )

You're more than welcome, let's talk about this on the forum!

[2021-10-14 05:09] #1324 closed, assigned to nobody

[2021-10-14 05:11] Pierre-Gilles commented on #1319
Salut!

On est entrain de travailler sur une migration de Open-Zwave a ZwaveJS pour pouvoir justement gérer mieux certains appareils, merci de ton retour!

Tu peux suivre l'avancement du développement sur le forum:

https://community.gladysassistant.com/t/v4-integration-z-wave/6057/34

[2021-10-16 19:51] LM1LC3N7 opened #1328 "[BUG] Affichage de la présence "dans quelques secondes""
Salut,

Lorsque mon device de présence reçoit dans Gladys un nouvel événement, l'affichage sur le dashboard est incorrect :
* A réception : "dans quelques secondes"
* Après quelques secondes : "il y a quelques secondes"

![image](https://user-images.githubusercontent.com/14235706/137600493-9fa6210e-1fbf-406b-b10f-abb3f97f0b31.png)

[2021-10-17 09:46] Jac34 opened #1330 "Zigbee2mqtt: Add device ZBMINI"
[code]

[2021-10-17 09:49] Jac34 commented on #1330
Bonjour, je souhaite l'intégration du Sonoff ZB mini dans gladys v4

[2021-10-17 11:40] LM1LC3N7 opened #1331 "Scene condition: Schedule from 10pm to 4am not working"
When I want to add a time condition like "execute between 10pm and 4am every day" it did not work on certain conditions.

* From 10pm to 11:55pm ✅
* From 12am to 5am ✅
* From 10pm to 5am ❌

[2021-10-18 02:55] Pierre-Gilles commented on #1331
It's not a bug, this condition is an "AND" condition, not "OR"

The condition "After 10PM" and "Before 5AM" is always wrong (it's impossible to have a time that is at the same time before 5AM and after 10PM)

What you want is a way to have a "OR" condition I think, and it's a new feature :)

Also, maybe we could explain a bit better how this condition works, thanks for reporting :)

[2021-10-18 03:11] Pierre-Gilles commented on #1328
Yes you're not the first one to report this, it can happen that your laptop/mobile and you Gladys server are not time synchronized, so your laptop thinks the event happened in the future

In that case, we'll need to "fake" the time reported to avoid this kind of display

[2021-10-18 04:26] #886 closed, assigned to atrovato

[2021-10-18 07:37] Pierre-Gilles commented on #1144
Hey!

We use GitHub issues for bug tracking, but we use the forum for feature requests.

For now, most of our users are french so all features requests are in the french forum, but I just created a features request in the international forum:

https://community.gladysassistant.com/c/international/feature-requests/53

[2021-10-18 07:37] #1144 closed, assigned to rob-mccann

[2021-10-18 07:37] #1083 closed, assigned to nobody

[2021-10-18 07:39] Pierre-Gilles commented on #1096
I'm indeed closing this as we use Github only for bug-tracking now.

Feature requests are on the forum!

[2021-10-18 07:39] #1096 closed, assigned to atrovato

[2021-10-18 07:40] Pierre-Gilles commented on #857
I still think this is a great idea, but it should be on the forum (feature request), not on Github, so it can be prioritized and discussed.

If anyone here want to see this feature, feel free to reopen a feature request on the forum :)

[2021-10-18 07:40] #857 closed, assigned to nobody

[2021-10-18 07:43] Pierre-Gilles commented on #772
Closing this as it's a feature request.

@Terdious If you are still interested in this, can you create a feature request on the forum? :)

[2021-10-18 07:43] #772 closed, assigned to nobody

[2021-10-18 07:45] Pierre-Gilles commented on #746
This is indeed a feature request. Closing this in favor of this:

https://community.gladysassistant.com/t/gladys-plus-recevoir-une-alerte-par-email-quand-un-backup-a-echoue/6616

[2021-10-18 07:45] #746 closed, assigned to nobody

[2021-10-18 07:45] #803 closed, assigned to nobody

[2021-10-18 07:45] #802 closed, assigned to nobody

[2021-10-18 07:47] Pierre-Gilles commented on #859
Hey @ErwannLegeay,

I don't remember if we talked about that somewhere else (I think so because this bug is fixed)

I'm closing this issue, but feel free to contact me on my email, on the forum, or reopen the issue here if the bug is still present.

Sorry if I didn't reply, the Github repo was quite bloated that's why we just install a stale-bot to help us!!

[2021-10-18 07:47] #859 closed, assigned to nobody

[2021-10-18 07:48] Pierre-Gilles commented on #1059
We use github for bugtracking only, as this is a feature request (that is present on the forum as well), i'm closing this:

https://community.gladysassistant.com/t/afficher-la-camera-en-pleine-ecran-depuis-le-dashboard/6610

[2021-10-18 07:48] #1059 closed, assigned to nobody

[2021-10-18 07:49] Pierre-Gilles commented on #885
I think it was fixed recently

[2021-10-18 07:49] #885 closed, assigned to nobody

[2021-10-18 07:49] Pierre-Gilles commented on #963
As it's a feature request, I think we should close this in favor of a post on the forum.

[2021-10-18 07:49] #963 closed, assigned to nobody

[2021-10-18 07:50] Pierre-Gilles commented on #887
There is a more recent issue for the same bug: https://github.com/GladysAssistant/Gladys/issues/1328

[2021-10-18 07:50] #887 closed, assigned to nobody

[2021-10-18 07:50] Pierre-Gilles commented on #934
Ok closing this as it's a feature request, and we were already talking about it on the forum.

[2021-10-18 07:50] #934 closed, assigned to nobody

[2021-10-18 07:51] Pierre-Gilles commented on #935
This bug still exists.

[2021-10-18 07:53] LM1LC3N7 commented on #1328
My Gladys can see the future, that's the v5.0 😆

Yeah, maybe a defaut message is that case should be "few seconds ago" even if the datetime correspond to a future time?

[2021-10-18 07:54] Pierre-Gilles commented on #511
https://community.gladysassistant.com/t/proposition-ajouter-un-nombre-aleatoire-a-4-chiffres-a-tous-les-selector-pour-eviter-les-collisions/6617

[2021-10-18 07:55] Pierre-Gilles commented on #1328
We'll put a fake time, as this translation is generated and translated in every language possible.

[2021-10-18 07:56] #737 closed, assigned to nobody

[2021-10-18 07:56] Pierre-Gilles commented on #728
I'll close the issue as it doesn't really add value, but keep the PR open!

[2021-10-18 07:56] #728 closed, assigned to nobody

[2021-10-18 07:57] #538 closed, assigned to nobody

[2021-10-18 07:57] #741 closed, assigned to nobody

[2021-10-18 07:59] #513 closed, assigned to nobody

[2021-10-18 08:00] Pierre-Gilles commented on #1005
tabler is still not in 1.0.0.

I'm closing this issue because I don't see the point of keeping it open :) We'll see what we do if tabler reach 1.0.0 someday

[2021-10-18 08:00] #1005 closed, assigned to nobody

[2021-10-18 08:01] Pierre-Gilles commented on #1057
This is a feature request, now we use the forum for that. I'm closing this.

[2021-10-18 08:01] #1057 closed, assigned to nobody

[2021-10-18 08:01] #869 closed, assigned to nobody

[2021-10-18 08:01] #1043 closed, assigned to nobody

[2021-10-18 08:02] #1058 closed, assigned to nobody

[2021-10-18 08:02] Pierre-Gilles commented on #1164
This topic is currently discussed at several place on the forum.

I'm closing this issue as there is no actionable thing to do with it

[2021-10-18 08:02] #1164 closed, assigned to nobody

[2021-10-18 08:03] Pierre-Gilles commented on #1113
Bug is still present, let's keep this.

[2021-10-18 08:03] Pierre-Gilles commented on #1119
This was already added and merged, so closing.

[2021-10-18 08:03] #1119 closed, assigned to nobody

[2021-10-18 08:05] Pierre-Gilles commented on #1115
Bug is still present, but I'm completely unable to fix it :/

Maybe we should contact the owner of the library ?

[2021-10-18 08:06] Pierre-Gilles commented on #1167
Already fixed

[2021-10-18 08:06] #1167 closed, assigned to nobody

[2021-10-18 08:07] Pierre-Gilles commented on #1206
Already fixed.

[2021-10-18 08:07] #1206 closed, assigned to nobody

[2021-10-18 19:48] atrovato commented on #1121
To check if fixed.

[2021-10-18 19:49] atrovato commented on #672
Not done, but should we do?

[2021-10-18 19:49] atrovato commented on #1016
Still pending.

[2021-10-18 19:50] atrovato commented on #795
Should check on new preact version if "leave page" behavior is implemented.

[2021-10-18 19:51] atrovato commented on #1084
@Pierre-Gilles do you remember why you reopened it?

[2021-10-18 19:51] atrovato commented on #1110
Still open.

[2021-10-18 19:52] atrovato commented on #1234
Still open.

[2021-10-18 20:00] ErwannLegeay commented on #859
Hey @Pierre-Gilles we talked about it for sure (maybe on slack ?) and at this time I had no choice but to restart from 0 (I had not so much things that was setted on my Gladys instance so it was not a big problem). I don't have any trouble anymore so I haven't try to restore a new backup to test if it was OK. So no worries about the closing of this issue because it's now OK for me :)

[2021-10-19 19:39] VonOx commented on #1110
@Pierre-Gilles limax lib can do the job ( it's maintained )
https://www.npmjs.com/package/limax

Latin - Cyrillic - Chinese - Japanese 👍🏻

[2021-10-21 18:25] atrovato commented on #1263
I think the constraint is on generated selector, not really on name.

[2021-10-21 20:01] VonOx commented on #1158
For reference => https://www.zigbee2mqtt.io/devices/MFKZQ01LM.html

[2021-10-22 02:37] Pierre-Gilles commented on #1263
Yes, I wrote a proposal here but haven't got any reply so far:

https://community.gladysassistant.com/t/proposition-ajouter-un-nombre-aleatoire-a-4-chiffres-a-tous-les-selector-pour-eviter-les-collisions/6617

[2021-10-22 02:52] Pierre-Gilles commented on #1110
Why not, but this is not a trivial change, we need to make sure the migration is properly unit tested with many different cases, examples:

-  "My house" => "my-house"
- "Ma télévision" => "ma-television"
- "Lamp control, living room" => "lamp-control-living-room"
- Lampe control / Living room;" => "lamp-control-living-room"
- "Chinese symbols" => "pinyin equivalent"

More broadly, we need to see

[2021-10-22 03:35] Pierre-Gilles commented on #1084
Because the issue is not fixed for existing users. But honestly, we can close this.

It's absolutely not a priority and it doesn't change anything for most users.

[2021-10-22 03:35] #1084 closed, assigned to nobody

[2021-10-22 03:41] Pierre-Gilles commented on #672
Edit: Deleted my previous message.

As you want honestly, I don't have any argument on this.

Also, IMO super low priority.

[2021-10-25 04:23] #1306 closed, assigned to nobody

[2021-10-25 06:14] #870 closed, assigned to nobody

[2021-10-25 06:14] #976 closed, assigned to VonOx

[2021-10-25 06:14] #904 closed, assigned to nobody

[2021-10-25 06:14] #1135 closed, assigned to nobody

[2021-10-25 06:14] #1140 closed, assigned to nobody

[2021-10-25 06:14] #1134 closed, assigned to nobody

[2021-10-25 06:14] #1136 closed, assigned to nobody

[2021-10-25 06:14] #1149 closed, assigned to nobody

[2021-10-25 06:14] #1118 closed, assigned to nobody

[2021-10-25 06:14] #1180 closed, assigned to nobody

[2021-10-25 06:14] #1130 closed, assigned to nobody

[2021-10-25 06:14] #1142 closed, assigned to nobody

[2021-10-25 06:14] #1190 closed, assigned to nobody

[2021-10-25 06:14] #1196 closed, assigned to nobody

[2021-10-25 06:14] #1199 closed, assigned to nobody

[2021-10-25 06:14] #1198 closed, assigned to nobody

[2021-10-25 06:14] #905 closed, assigned to nobody

[2021-10-25 06:14] #1202 closed, assigned to nobody

[2021-10-25 06:14] #1216 closed, assigned to nobody

[2021-10-25 06:14] #1217 closed, assigned to nobody

[2021-10-25 06:14] #1226 closed, assigned to nobody

[2021-10-25 06:14] #1237 closed, assigned to nobody

[2021-10-25 06:14] #1249 closed, assigned to nobody

[2021-10-25 07:02] #734 closed, assigned to nobody

[2021-10-25 07:02] #903 closed, assigned to nobody

[2021-10-25 08:02] #585 closed, assigned to nobody

[2021-10-27 12:26] VonOx commented on #1110
Yes I understand

Unfortunately limax is not working in browser... so another solution , a dictionary to extend slugify function to handle all no latin langage ( lib free )
like this => https://github.com/winglechen/node-pinyin/blob/master/pinyin.js#L9

[2021-10-27 12:39] Jac34 opened #1339 "Zigbee2mqtt: Add device TS0012"
[code]

[2021-10-27 12:46] Jac34 commented on #1339
Bonjour,
J'ai acheté le modèle AVATTO – interrupteur de lumière intelligent sans fil Tuya Zigbee, avec/sans neutre, commande à 2 voies
pensant pouvoir l'intégrer dans Gladys V4 sous Zigbee2mqtt, malheureusement il n'est pas vu comme fonctionnel dans Gladys.
Merci !! si cela est possible de le gérer.

[2021-10-29 03:16] Pierre-Gilles commented on #1339
Pour information on a une PR en cours qui va permettre de contrôler presque n'importe quel appareil Zigbee2mqtt en détectant automatiquement les fonctionnalités présentes :)

https://github.com/GladysAssistant/Gladys/pull/1302

[2021-10-29 03:20] Pierre-Gilles commented on #1110
Interesting! Why not honestly, but as I said previously I'm not sure this is the top priority...

[2021-11-01 10:40] cicoub13 opened #1344 "Zigbee2Mqtt - Add option keep_history when adding device"
**Is your feature request related to a problem? Please describe.**
When adding a device in ZIgbee2Mqtt integration, add the option to "Don't keep history". Some devices are verbose about state (one state every 10 seconds) and it can fill the database very quickly.

By default, the option is set to true.

**Additional context**
https://community.gladysassistant.com/t/help-probleme-avec-lagregation/

[2021-11-03 00:05] zeppmg opened #1345 "[FRONT] Topics ordering on dashboard"
**Describe the bug**
I'm unsure of the way the topics are displayed within a dashboard block ; it seems quite random.

**To Reproduce**
Block configuration :
![configuration affichage capteurs](https://user-images.githubusercontent.com/57366230/139968029-3105e345-c12b-4b51-9f56-f4bfae7cc1f8.png)

Display :
![affichage capteurs](https://user-images.githubusercontent.com/57366230/139968038-faeec009-

[2021-11-03 00:07] zeppmg opened #1346 "[FRONT] No unit for voltage topics"
**Describe the bug**
Voltage measurements are shown without unit on dashboard.
![affichage capteurs](https://user-images.githubusercontent.com/57366230/139968228-5e808c3b-7848-4974-99fc-d4c17289f640.png)

**Expected behavior**
Units (V) should be displayed.

**Your Gladys installation (please complete the following information):**
Raspberry Pi 3 with Gladys image, up to date.

[2021-11-03 12:04] sy-per opened #1347 "Zigbee2mqtt: Add device WRS-R02"
[code]

[2021-11-06 17:38] jparbel opened #1348 "Zigbee2mqtt: Add device TS0210"
[code]

[2021-11-08 21:51] atrovato commented on #1016
What do you think about?

![image](https://user-images.githubusercontent.com/1839717/140823834-af87fd5f-eeb7-4b42-8034-6973c3d466d3.png)

![image](https://user-images.githubusercontent.com/1839717/140823921-47a0badd-1321-4960-b3e8-842126896b12.png)

[2021-11-09 08:02] Shiftmaj commented on #1245
No recent activity but I'm still waiting for this device. Maybe someone can point me to some sort of documentation or guidelines to add a need ZigBee device ? 😃

[2021-11-09 08:04] Shiftmaj commented on #1244
No recent activity but I'm still waiting for this device. Maybe someone can point me to some sort of documentation or guidelines to add a need ZigBee device ? 😃

[2021-11-09 09:55] jparbel opened #1350 "Zigbee2mqtt: Add device TS0505B"
[code]

[2021-11-09 09:58] jparbel commented on #1350
Ampoule vendue par Lidl

[2021-11-09 10:04] jparbel opened #1351 "Zigbee2mqtt: Add device TS0505B"
[code]

[2021-11-09 10:09] #1350 closed, assigned to nobody

[2021-11-09 10:11] jparbel commented on #1351
Ampoule Tuya vendue par Lidl

[2021-11-09 18:11] VonOx commented on #1016
Yep will do the Job for now.

For future ( when switch to lucide icon will be done ) I think link link-off picto is better to represent connection status
![image](https://user-images.githubusercontent.com/1528694/140980286-70c2e80d-fea7-4170-97e6-e63c0ef9956b.png)

[2021-11-10 07:41] atrovato commented on #1141
There is a new "dev/beta" version with a new way to handle Zigbee2Mqtt devices.
You can try it, or wait for the new release.

This will allow you to control brightness and temperature on Zigbee devices.
You will need to delete and re-add device from Zigbee2Mqtt setup panel.

We wait for feedbacks.

[2021-11-10 21:04] rpochet opened #1356 "Wrong date for recurrent CalDav/Google event"
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
If a recurrent full day event is defined in CalDav/Google, Gladys create an full day event for the next day.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a recurrent event in Google calendar
2. Sync

[2021-11-11 04:56] Pierre-Gilles commented on #1331
Possible solutions:

- maybe add a special warning when firstHour > secondHour
- OR switch to a "OR" when firstHour > secondHour

[2021-11-11 05:04] Pierre-Gilles commented on #1245
I think this is already fixed by this PR: https://github.com/GladysAssistant/Gladys/pull/1302 that we already merged (not deployed yet, soon) :)

Now we don't need anymore to declare device individually, they are automatically detected by Gladys 😎

@atrovato Do you confirm the PR integrated this device ?

[2021-11-11 05:04] Pierre-Gilles commented on #1244
I think this is already fixed by this PR: https://github.com/GladysAssistant/Gladys/pull/1302 that we already merged (not deployed yet, soon) :)

Now we don't need anymore to declare device individually, they are automatically detected by Gladys 😎

@atrovato Do you confirm the PR integrated this device ?

[2021-11-11 05:05] Pierre-Gilles commented on #1351
I think this is already fixed by this PR: https://github.com/GladysAssistant/Gladys/pull/1302 that we already merged (not deployed yet, soon) :)

Now we don't need anymore to declare device individually, they are automatically detected by Gladys 😎

@atrovato Do you confirm the PR integrated this device ?

[2021-11-11 05:06] Pierre-Gilles commented on #1016
@atrovato :  Nice! Maybe you could add a little text Like "Connected" / "Disconnected" so it's really self-explanatory?

[2021-11-11 05:07] Pierre-Gilles commented on #1293
Bug is still happening.

[2021-11-11 05:11] Pierre-Gilles commented on #1356
I tagged @bertrandda if he has a clue on this (he wrote the integration :) )

[2021-11-11 05:13] Pierre-Gilles commented on #1348
I think this is already fixed by this PR: https://github.com/GladysAssistant/Gladys/pull/1302 that we already merged (not deployed yet, soon) :)

Now we don't need anymore to declare device individually, they are automatically detected by Gladys 😎

@atrovato Do you confirm the PR integrated this device ?

[2021-11-11 05:13] Pierre-Gilles commented on #1347
I think this is already fixed by this PR: https://github.com/GladysAssistant/Gladys/pull/1302 that we already merged (not deployed yet, soon) :)

Now we don't need anymore to declare device individually, they are automatically detected by Gladys 😎

@atrovato Do you confirm the PR integrated this device ?

[2021-11-11 05:14] Pierre-Gilles commented on #1339
I think this is already fixed by this PR: https://github.com/GladysAssistant/Gladys/pull/1302 that we already merged (not deployed yet, soon) :)

Now we don't need anymore to declare device individually, they are automatically detected by Gladys 😎

@atrovato Do you confirm the PR integrated this device ?

[2021-11-11 06:14] LM1LC3N7 commented on #1331
I like both solutions but the second one is more transparent.

[2021-11-11 06:17] atrovato commented on #1339
I feel quite confident with this, but I prefer to get more feedbacks on it.

[2021-11-11 06:20] atrovato commented on #1348
I feel quite confident with this, but I prefer to get more feedbacks on it.

But the `sensitivity` feature, which allow to set up vibration mode, is not implemented (a 3 phase button - low/medium/high).

[2021-11-11 06:21] atrovato commented on #1347
I feel quite confident with this, but I prefer to get more feedbacks on it.

But this device allow many button states, not all are managed:
`button_1_hold, button_1_release, button_1_single, button_1_double, button_1_triple, button_2_hold, button_2_release, button_2_single, button_2_double, button_2_triple, button_3_hold, button_3_release, button_3_single, button_3_double, button_3_triple, toggle_

[2021-11-11 06:24] atrovato commented on #1245
I feel quite confident with this, but I prefer to get more feedbacks on it.

[2021-11-11 06:25] atrovato commented on #1244
I feel quite confident with this, but I prefer to get more feedbacks on it.

[2021-11-11 06:27] atrovato commented on #1351
I feel quite confident with this, but I prefer to get more feedbacks on it.

[2021-11-11 07:23] atrovato commented on #1016
There is already a "tooltip" (HTML `title` attr).
I think this "little text" will overload the screen.

In this case, I though about something like (draft):
![image](https://user-images.githubusercontent.com/1839717/141255570-4d62128e-342e-40da-9023-a22141661df7.png)

[2021-11-11 08:52] Pierre-Gilles commented on #1016
The position is a bit weird, it looks like it's in the menu?

[2021-11-11 08:53] atrovato commented on #1016
Yes it is in the menu, I agree, it is a bit weird.
Keep thinking about it, I will try some other options.

[2021-11-11 08:56] Pierre-Gilles commented on #1016
Maybe it could just be displayed in the "setup" screen as an "green" alert?

[2021-11-11 18:03] bertrandda commented on #1356
I am reproducing issue with multiple services (at least Google & Nextcloud). Investigation in progress

[2021-11-11 20:58] VonOx commented on #1016
Something like this ?

![image](https://user-images.githubusercontent.com/1528694/141368087-a08cc8a3-f2a6-40e8-afac-68f40f5c824d.png)

[2021-11-12 03:31] Pierre-Gilles commented on #1016
At this place yes, but with a normal "alert" :) (The big "Connected" has a weird green)

[2021-11-12 05:06] #1318 closed, assigned to nobody

[2021-11-12 05:30] Pierre-Gilles commented on #1293
I'm not able to reproduce the bug: https://community.gladysassistant.com/t/configuration-unite-de-temperature-via-telegram/6512/7?u=pierre-gilles

[2021-11-12 07:30] atrovato commented on #1016
If this is good for you (go to setup menu), I'll do this (more simple than my first proposal).

[2021-11-12 08:43] Pierre-Gilles commented on #1293
Reproduced, bug appears only in Telegram

[2021-11-12 09:07] Pierre-Gilles commented on #1016
Yes good for me! Just a simple green alert with a normal text message is fine! (and a warning if not connected)

[2021-11-12 10:33] #933 closed, assigned to nobody

[2021-11-12 10:53] #1293 closed, assigned to nobody

[2021-11-12 16:07] atrovato commented on #1016
![image](https://user-images.githubusercontent.com/1839717/141497484-3c5aad02-4056-4f06-ae05-64aaa3494403.png)

Done in PR.

[2021-11-14 23:38] gboulvin opened #1368 "[MQTT] Need to reintroduce credentials to MQTT broker when container is self-updated"
Caution ! It might be relative to eclipse-mosquito container, not directly to Gladys.
Actually, every time the eclipse-mosquito container is updated, user needs to reintroduce the password in Gladys's configuration page and click the 'save' button so it, and other peripherals, can get connected again.

[2021-11-15 06:12] atrovato commented on #1368
What do you means with "every time the eclipse-mosquito container is updated"?
Docker image is upgraded? Configuration changed from Gladys?

[2021-11-15 06:41] VonOx commented on #1368
I've never experienced this behavior

[2021-11-15 13:07] LM1LC3N7 commented on #1368
How did you deployed Gladys and eclipse-mosquito? Did you use Gladys directly or manually deployed the mosquito container?

[2021-11-15 15:48] gboulvin commented on #1368
Gladys was installed with the official image.
It happens when the eclipse-mosquitto container gets an upgrade (I guess it's watchtower's job).
It acts like if the new version of the container looses its previous configuration.
We've discussed about this here https://community.gladysassistant.com/t/resolu-probleme-de-connexion-mqtt-avec-sonoff/6095/27?u=gboulvin

[2021-11-16 13:47] LM1LC3N7 opened #1369 "Gladys Gateway: Sign Up link not working"
Hello,

I was searching for how much cost Gladys Gateway and how subscribe, but:
* On https://gateway.gladysassistant.com/login, the sign up link redirect to https://gladysassistant.com/gladys-community-package that is showing a 404 error
* On the same URL, there is no link to a page showing what is Gladys Plus and how to subscribe
* Same for https://plus.gladysassistant.com
* No link from https:/

[2021-11-16 13:54] LM1LC3N7 opened #1370 "Gladys Plus: Subscribe email not responsive at all"
The subscribe email received by Gladys Plus is not showing well (see scrollbar next to my arrow):

![image](https://user-images.githubusercontent.com/14235706/141998002-d057d867-8754-4d80-9552-08c8adfd4348.png)

[2021-11-16 14:02] LM1LC3N7 opened #1371 "Gladys Plus: Print 2FA enrollment code"
When creating an account on Gladys Plus, a 2FA enrollment is needed (great 👍).

I am using the application "Authy", which allow to synchronize the Android app and Windows app. In order to use my Windows App, usually websites shows the 2FA enrollment code that I can copy and paste.

For now, I need a camera to initialize the 2FA App.

![image](https://user-images.githubusercontent.com/14235706/1419

[2021-11-16 14:57] VonOx commented on #1371
There is already an issur in plus repository
https://github.com/GladysAssistant/gladys-gateway/issues/92

[2021-11-16 14:59] LM1LC3N7 commented on #1371
Thanks, I am closing this one.

[2021-11-16 14:59] #1371 closed, assigned to nobody

[2021-11-16 17:46] lesaintsgeosmois opened #1372 "Zigbee2mqtt: Add device SP-EUC01"
[code]

[2021-11-16 18:20] atrovato commented on #1372
This should be managed with Gladys v4.6.0, currently in test mode, but I prefer to get more feedbacks on it once new version is released.

[2021-11-16 19:20] #1291 closed, assigned to nobody

[2021-11-17 06:46] lesaintsgeosmois commented on #1372
can i do anything to help you test ?

i am in V4.6

[2021-11-17 06:50] atrovato commented on #1372
Nice, so Zigbee2mqtt discover page doesn't recognize your device as a plug with switch features?

[2021-11-17 17:57] lesaintsgeosmois commented on #1372
zigbee2mqtt detect my device , and the button on/off is operationnal,
gladys say not supported
![aqua](https://user-images.githubusercontent.com/94477818/142254724-a737a278-c1aa-4237-957c-62cd4ed99672.jpg)

power and energy is N/A
![aquara2](https://user-images.githubusercontent.com/94477818/142255048-85ac53d3-2995-48ef-8a5e-3c8622f521e4.jpg)

[2021-11-17 18:05] atrovato commented on #1372
Hummm....
Are you sure are using Gladys v4.6.0 dev version?
Can you screenshot the Gladys zigbee2mqtt discover page please?

You should not have the "scan" button on this page, this point ensure you are using the latest zigbee2mqtt discover mode.

[2021-11-17 18:32] lesaintsgeosmois commented on #1372
you are right, indeed this is not the dev version of gladys 4.
![zig](https://user-images.githubusercontent.com/94477818/142260944-1cf6e99a-7cb1-4c7e-8aab-1e08a6d79255.jpg)
6

you need the dev version for testing ?

[2021-11-17 18:38] atrovato commented on #1372
The new process for discover is on current dev version, which is currently tested by community, and we are waiting for feedbacks to promote it as next release.

2 options:
 - be patient
 - become a beta tester ;)

I didn't find any topic on community forum about it, it looks like it is not officially in test (or I just didn't search with good words).

[2021-11-17 18:51] atrovato commented on #1372
I think I lie, there is not link with 4.6.0, it is only dev version.

[2021-11-18 07:49] VonOx commented on #1372
Yep there is no build for 4.6.0

Autodiscover feature is on gladys:dev tag ( docker)

[2021-11-19 05:53] lesaintsgeosmois commented on #1372
ok il have installed the dev version.
the sensor is detected
il have add button and temperature on the dashboard. it s ok

as same as zigbee2mqtt, power and energy stay to N/A

[2021-11-21 01:12] Shiftmaj commented on #1244
Thanks for your answers. Unfortunately I won't be able to check again until Christmas.
I'll close it for now and open it again if necessary 👍

[2021-11-21 01:12] #1244 closed, assigned to nobody

[2021-11-21 01:13] Shiftmaj commented on #1245
Thanks for your answers. Unfortunately I won't be able to check again until Christmas.
I'll close it for now and open it again if necessary 👍

[2021-11-21 01:13] #1245 closed, assigned to nobody

[2021-11-21 15:54] Jean-PhilippeD opened #1373 "Poll don't stop even if you set should_poll to false"
**Describe the bug**
If I set a device with should_poll to true with a given poll_frequency, and then I decide to update it with should_poll to false, the polling don't stop until you restart Gladys (or service maybe?)

**Expected behavior**
I would expect the poll stop once you update the device with should_poll = false

[2021-11-22 14:31] Pierre-Gilles commented on #1373
Indeed, it seems the code doesn't remove the device from the poll list if the should_poll switch to false

cf: https://github.com/GladysAssistant/Gladys/blob/master/server/lib/device/device.create.js#L156

[2021-11-22 14:35] Pierre-Gilles commented on #1370
Thanks for your feedback!

Which email client are you using?

On my side, all emails are responsive, example on my phone right now:

![IMG_39D5665F5467-1](https://user-images.githubusercontent.com/7365207/142879816-d47a288a-1e3f-4fb9-a2f6-b37b597e3953.jpeg)

[2021-11-22 14:45] Pierre-Gilles commented on #1372
Nice ! @atrovato I think I'm going to merge your PR with the "Update" button and then we can release all that (given the feedbacks, it seems to be working well)

[2021-11-22 14:46] Pierre-Gilles commented on #1303
Still need to do that

[2021-11-22 14:57] Pierre-Gilles commented on #1369
Hello!

Thanks for your feedback :)

- gateway.gladysassistant.com is an old version (for v3 users) that I still keep alive for some users, but it's has not been advertised/updated anymore for the last 2 years. Where did you find "gateway.gladysassistant.com" ?

- Same for https://plus.gladysassistant.com => Indeed, that's a nice feedback!

- No link from https://gladysassistant.com to Gladys Plus

[2021-11-22 15:02] Pierre-Gilles commented on #1368
@atrovato @VonOx I think the issue is that Gladys is not "auto-reconnecting" to the MQTT broker when the broker restarts, it's not related to credentials

[2021-11-22 15:52] Pierre-Gilles opened #1376 "Migration to Node 16"
**Todo:**

- [x] Migrate from node-webcrypto-ossl to the new native [Web Crypto API ](https://nodejs.org/api/webcrypto.html)
- [x] Remove Open-Zwave integration backend side
- [x] Frontend side, add a way to migrate Open-Zwave devices to a MQTT device

[2021-11-22 17:49] gboulvin commented on #1368
But even the devices (Tasmota, customs) can't connect to the broker again as if it was offline...

[2021-11-22 19:08] #1257 closed, assigned to nobody

[2021-11-23 07:59] VonOx commented on #1368
@Pierre-Gilles not really as @gboulvin describe no device can connect to the broker. We need more information on the mqtt container, when problem occurs, Docker logs .

[2021-11-23 11:07] ANARHIST1984 opened #1377 "Openwrt support"
Its possible to install GladysAssistant on Openwrt router?
Router CPU 880mhz x2
512Mb RAM

Node and npm work fine.
But when I try to install GladysAssistant server part, I have this
npm http fetch GET 200 https://registry.npmjs.org/@gladysassistant/gladys-gateway-js/-/gladys-gateway-js-3.5.0.tgz 19419ms
npm WARN tar ENOENT: no such file or directory, open '/root/v4.6.0/server/node_modules/.staging

[2021-11-23 12:54] VonOx commented on #1305
Not stale

[2021-11-23 18:23] atrovato commented on #1368
I'll try to reproduce it (restart container), maybe the weekend...

[2021-11-23 18:30] atrovato commented on #1372
@Pierre-Gilles an unexpected behavior has been detected and mentionned on the forum according to the "new discovry process", and will be fixed with the "update" button.
A new (personal) docker is generated to test it.

[2021-11-23 20:16] ANARHIST1984 commented on #1377
router have Mips CPU MT7621

[2021-11-23 22:03] atrovato commented on #1346
Hi,
from which integration/service is your service from?

On my side, I have units for tamosta device:
![image](https://user-images.githubusercontent.com/1839717/143136179-a84fa37e-2305-46d7-8cc8-4c3b2d84ac0d.png)

[2021-11-24 06:52] cicoub13 opened #1378 "The Zigbee2mqtt service should be able to be restored from a backup"
**Is your feature request related to a problem? Please describe.**
When you restore a Backup on a new instance, you need to reconfigure your Zigbee network.

**Describe the solution you'd like**

We should save the network key `network_key`, Zigbee channel `channel` or panID `pan_id` in database as Service values and be sure the **configuration.yaml** is initialized with these values.

**Additiona

[2021-11-24 07:17] zeppmg commented on #1346
The values come from a  bluetooth temperature sensor, through mqtt integration.
Anyway I can't see any voltage measurement in your screenshot 😉

[2021-11-25 09:01] Pierre-Gilles commented on #1346
@atrovato Indeed I guess there is no way to select the "Volt" unit in the MQTT integration (like we do for the temperature)

[2021-11-25 09:04] Pierre-Gilles commented on #1378
Is it related to Gladys Plus or is it a todo in the Zigbee2mqtt integration? :)

[2021-11-25 09:19] Pierre-Gilles commented on #1377
Hey! So far we don't support distribution outside of the Docker image we distribute (https://gladysassistant.com/docs/installation/docker)

I don't think we want to support that kind of device in the future (880mhz CPU & 512mb in RAM seems super light...)

But if you manage to make it work, let us know 😄

We use Github issues for bug tracking, if you want to talk about this, we have a forum: https

[2021-11-25 09:19] #1377 closed, assigned to nobody

[2021-11-25 09:33] #1356 closed, assigned to bertrandda

[2021-11-25 09:53] #1016 closed, assigned to atrovato

[2021-11-25 16:16] LM1LC3N7 opened #1379 "Aggregate: TypeError: Cannot read property '0' of undefined"
As discussed on the forum: https://community.gladysassistant.com/t/help-probleme-avec-lagregation/6630/33?u=lmilcent

**Describe the bug**
Aggreation seems not to work correctly sometimes (my graphics seems to work though):

[code]

**To Reproduce**
I really don't know, it could be cause by my DB (sent by email directly).

**Your Gladys installation (please complete the following information):**

[2021-11-26 20:21] zeppmg commented on #1346
In fact there's an "average voltage" topic in the mqtt integration, but it seems not to be displayed with the appropriate unit.
![Screenshot_20211126-212026](https://user-images.githubusercontent.com/57366230/143626874-f11ee7e0-e2c8-4ce2-924f-873fb8c8e008.png)

[2021-11-27 07:57] atrovato commented on #1346
There is a mapping file for units,
but I think we can be more prcise.
Here a screenshot with missing units (I open à PR too)

![image](https://user-images.githubusercontent.com/1839717/143673276-d7b1a0df-c475-4ae8-9ac4-4534361540b9.png)

[2021-11-27 08:08] atrovato commented on #1255
Hi @mikitouf ,
this should be fixed with Gladys 4.7.x.
Can you check:
1. Gladys has been well updated?
2. your device is now complete?

Thank you.

[2021-11-27 08:11] atrovato commented on #1304
Hi @Tsnet11 ,
this should be fixed with Gladys 4.7.x.
Can you check:
1. Gladys has been well updated?
2. your device is now complete?

Thank you.

[2021-11-27 08:23] atrovato commented on #1320
Hi @LM1LC3N7 ,
your device should now partially managed with Gladys 4.7.x.
Can you check:
1. Gladys has been well updated?
2. your device has some features/can be added?

The heating system is not handle yet, but you can be able to switch it on/off.

Thank you.

[2021-11-27 08:25] atrovato commented on #1325
Hi @jojolll ,
ce "gros" travail est maintenant disponible avec Gladys 4.7.x.
Peux-tu:
1. vérifier que Gladys est bien à jour ?
2. que ton appareil est maintenant disponible et contrôlable ?

Merci :)

[2021-11-27 08:27] atrovato commented on #1330
Bonjour @Jac34 ,
depuis la dernière version de Gladys 4.7.x,
cet appareil devrait être intégré.

Peux-tu vérifier :
1. que Gladys est bien à jour ?
2. que ton appareil est bien pris en charge ?

Merci :)

[2021-11-27 08:31] atrovato commented on #1339
Bonjour @Jac34 ,
depuis toute récente version de Gladys 4.7.x
cet appareil devrait être pris en charge.

Peux-tu vérifier que ton instance de Gladys est bien à jour ? Et que ton appareil fonctionne ?

Merci :)

[2021-11-27 08:34] atrovato commented on #1348
Hi @jparbel ,
your device should now managed with Gladys 4.7.x.
Can you check:
1. Gladys has been well updated?
2. your device is well detected?

But there is still a pending question about this kind of devices (buttons) and its anagement within Gladys.

Thank you.

[2021-11-27 08:36] atrovato commented on #1351
Hi @jparbel ,
your device should now managed with Gladys 4.7.x.

Can you check:
1. Gladys has been well updated?
2. your device is well detected and works fine?

Thank you.

[2021-11-27 08:36] atrovato commented on #1372
Hi @lesaintsgeosmois ,
your device should now managed with Gladys 4.7.x.

Can you check:
1. Gladys has been well updated?
2. your device is well detected?

Thank you.

[2021-11-27 16:42] jparbel commented on #1348
Thank you @atrovato,

No I always have a issue with my device, see also my last post on the forum.
 I run the latest release of Gladys : V4.7.1
My device is well recognized, i can see it inside state.json each time I chock it :

"0x50325ffffe031386": {
        "vibration": true,
        "tamper": false,
        "battery_low": false,
        "battery": 100,
        "voltage": 3000
    }
But it is n

[2021-11-28 18:40] mikitouf commented on #1255
feature is ok

[2021-11-28 18:40] #1255 closed, assigned to nobody

[2021-11-29 15:00] rpochet opened #1390 "Configuration: add a folder in Gladys installation to store service specific files (e.g. logs, configuration...)"
**Is your feature request related to a problem? Please describe.**
In the context of the ZWave service development, I would like to store zwavejs log files and network backup file in a folder available from server hosting docker gladys image, e.g. /var/lib/gladysassistant/services/zwavejs/). Currently, folder is within node_modules folder and could be deleted during docker image update.

**Describ

[2021-12-01 08:03] jparbel commented on #1351
Hi @atrovato This bulb is still not detected

[2021-12-02 09:55] Pierre-Gilles commented on #1390
@rpochet We already do this for some integration like Zigbee2mqtt !

Why not use a folder like /var/lib/gladysassistant/zwave ?

[2021-12-02 15:49] rpochet commented on #1390
Indeed, why not /var/lib/gladysassistant/zwave... Just to confirm the feasibility and side-effect (e.g. backup). Is serviceId vs name a better solution?

[2021-12-02 22:00] atrovato commented on #1351
@jparbel are you sure you run Gladys 4.7.x ?

I'm a bit surprised, it looks like a simple device.

[2021-12-02 22:27] jparbel commented on #1351
@atrovato Today, everything is ok now, I do'nt know why, yesterday, it was not detected, even with V4.7.
Thanks a lot Alex, nice job !

[2021-12-03 09:52] Pierre-Gilles opened #1392 "Zigbee2mqtt integration insert "NaN" values in device_feature_state table, it shouldn't be possible"
- [ ] In Zigbee2mqtt integration, fix what could cause that
- [ ] In Gladys Core, it shouldn't be possible to accept NaN values
- [ ] Clean existing NaN values in a DB migration

https://community.gladysassistant.com/t/help-probleme-avec-lagregation/6630/39?u=pierre-gilles

[2021-12-03 10:02] Pierre-Gilles commented on #1379
Answered here: https://community.gladysassistant.com/t/help-probleme-avec-lagregation/6630/39?u=pierre-gilles

[2021-12-03 10:16] Pierre-Gilles commented on #1390
"name" is a better option! I definitely recommend `/var/lib/gladysassistant/zwave` !

I would recommend using this folder as something that is not critical if deleted (not present on a new installation)

For important data, use the database.

Here if it's just logs/network files, I guess when using the DB on a new installation, ZwaveJs can just re-create those files right?

[2021-12-03 10:17] Pierre-Gilles commented on #1351
Closing this as it's good!

[2021-12-03 10:17] #1351 closed, assigned to nobody

[2021-12-03 10:52] rpochet commented on #1390
OK for /var/lib/gladysassistant/zwave.

Ps: yes, a new installation can just re-create those files (network start-up is a very heavy slow process and requires to wake-up sleeping devices, so network file is very useful). Is "/var/lib/gladysassistant" part of the backup ?

[2021-12-03 10:54] Pierre-Gilles commented on #1390
No, in Gladys backups we just backup the database file.

All services should re-create files created in /var/lib/gladysassistant at startup if not present :)

[2021-12-03 11:18] rpochet commented on #1390
Currently, network file is stored inside folder server/services/zwave/node_modules. I suppose this folder is recreated in each release, so network file should be recreate. Not having network file in backup, could have impact on user experience. This should be tested in real life

[2021-12-03 11:52] Pierre-Gilles commented on #1390
Ok so it's even worse now!

I guess it's ok (and even, could be beneficial) if the network file is re-created when you restore to a new instance (not something people do every day). At least you don't bring potential bugs to a new instance, if it's something that don't store critical data

It definitely should be tested!

[2021-12-03 15:35] Pierre-Gilles commented on #1346
Merged in #1382

[2021-12-03 15:35] #1346 closed, assigned to nobody

[2021-12-04 06:54] atrovato commented on #1390
@rpochet I would suggest to split this feature out of your ZWave feature.
To review it easily, and to not mix features in PRs.

[2021-12-06 14:25] Pierre-Gilles commented on #1379
Fixed here: https://github.com/GladysAssistant/Gladys/pull/1394

[2021-12-08 08:08] LM1LC3N7 opened #1397 "Settings > Tasks: print only the last 100 elements (too slow)"
On Gladys Plus and my local Gladys instance, the "tasks" menu is very slow as there is way to elements. On Gladys Plus they never loads (too long). On my local instance, I need to wait 10 seconds at least.

A potential solution could be to load only the last 100 elements and to use a pagination at the bottom.

[2021-12-08 08:17] LM1LC3N7 opened #1398 "[Gladys Plus] Backup job should show status"
**Is your feature request related to a problem? Please describe.**
On Gladys Plus, when starting a new backup by clicking on the button, there is no message regarding the current status of the backup job.

**Describe the solution you'd like**
* A message for "Exporting database"
* Another for "Compressing database"
* Another again for "uploading backup to Gladys plus", with a percentage

As my per

[2021-12-09 07:28] VonOx commented on #1006
Not stale

[2021-12-09 10:37] VonOx commented on #1274
not stale

[2021-12-09 15:54] atrovato commented on #1274
I got it recently, I may take it.

[2021-12-11 06:10] atrovato commented on #1316
Not stale

[2021-12-19 08:28] atrovato commented on #511
Not stale.

[2021-12-19 08:28] atrovato commented on #935
Not stale.

[2021-12-19 08:28] atrovato commented on #1234
Not stale.

[2021-12-19 08:28] atrovato commented on #795
Not stale.

[2021-12-19 09:23] atrovato commented on #1121
Already done.
Scanner is enabled only if Bluetooth is ready (enabled).

[2021-12-19 09:23] #1121 closed, assigned to atrovato

[2021-12-20 07:22] #1319 closed, assigned to nobody

[2021-12-28 05:21] #672 closed, assigned to atrovato

[2021-12-28 05:28] VonOx commented on #1263
Not stale

[2022-01-02 13:34] Pierre-Gilles commented on #1115
Still the case

[2022-01-02 13:34] Pierre-Gilles commented on #1113
Still the case

[2022-01-02 13:35] Pierre-Gilles commented on #1328
Still the case

[2022-01-02 20:44] pioueo opened #1401 "MQTT: Add the publication Topic sensor if the option "Is it a sensor?" is disabled"
When adding an MQTT device, when is the option "is this a sensor?" is disabled, only the Gladys order subscription topic is visible.
It would be nice to also see the publication topic of the sensor.

[2022-01-03 08:46] Pierre-Gilles commented on #1344
Not stale

[2022-01-03 09:54] #1392 closed, assigned to nobody

[2022-01-04 04:24] #1110 closed, assigned to nobody

[2022-01-06 18:07] Ericboust opened #1402 "Zigbee2mqtt: Add device E1746"
[code]

[2022-01-06 18:09] Ericboust commented on #1402
Il s'agit d'un repeater Zigbee IKEA voir [https://www.zigbee2mqtt.io/devices/E1746.html](url) et Gladys m'a gentiment demandé de vous communiquer le problème!
_L'appareil n'est pas encore géré, veuillez nous contacter pour nous aider à le connecter dans Gladys !_

[2022-01-06 21:09] yaneony opened #1403 "Why not to use zigbee-herdsman?"
I just wonder why not to use well established solution for ZigBee which is also used by home assistant integration?

https://github.com/koenkk/zigbee-herdsman

It has good API and already has wide range of devices.

[2022-01-07 00:43] yaneony opened #1404 "Run Gladys without docker?"
I'm running debian 10/11 inside LXC and my current HomeAssistant is pretty happy without running Docker. So, the question is if it is possible to run Gladys without Docker too?

Thanks!

[2022-01-07 07:02] LM1LC3N7 commented on #1404
Hello,

GladysAssistant what ment to be installed and run by non IT people, with almost no knowledge.
This is why there is some "limitations" sometimes due to the deployment architecture.

For now there are two ways to deploy Gladys:
- with the official docker image, that allows all components to work along with auto updates
- with git clone for dev purpose, that may break some components as the z

[2022-01-07 07:08] LM1LC3N7 commented on #1403
Hello,

Thank you for sharing, on my side I was not aware of this project.
Do you know the coverage difference with Z2M on the compatibility, dev speed and device support?

[2022-01-07 07:12] yaneony commented on #1403
I don't know the difference, but it's used by https://github.com/Koenkk/zigbee2mqtt and devices are listed here https://www.zigbee2mqtt.io/supported-devices/

[2022-01-07 10:26] yaneony commented on #1404
Also frontend working well, where server side after cloning output too much errors (not finding modules).

[2022-01-07 13:15] Pierre-Gilles commented on #1404
Its definitely possible to run Gladys without docker (I develop on gladys every day on my machine, without docker), but it's more the "development" setup.

Indeed some integration like Zigbee2mqtt are started as docker containers next to gladys, so it's kind of mandatory to use docker for some integration :)

Why don't you use docker?

[2022-01-08 11:26] cicoub13 opened #1405 "[Zigbee2Mqtt] As a User, I want to be guided into the configuration of the service"
In case of USB device not configured:
- show a **message** in the Integration > Configuration like "You should first configure your USB dongle" with a link to the Parameters page
- **disable** the button "Activate Zigbee2Mqtt" in Integration > Configuration

[2022-01-08 11:30] cicoub13 opened #1406 "[Zigbee2Mqtt] As a User, I want to know that the first activation of the service could be long"
When the User is clicking on the Activate Zigbee2Mqtt in Integration > Configuration page :
- display a **warning message** explaining that this operation could last until 10 minutes (especially the first time) AND that services and connection will start step by step (to explain the red crosses)
- display a **spinner** until the operation is done

[2022-01-08 11:38] cicoub13 opened #1407 "[Zigbee2Mqtt] As a User, I want the zigbee2mqtt interface to be more secured"
Add a password to protect the zigbee2mqtt on port 8080 when the service is up.
- **Generate a password** during the first activation and save it in database in t_variable (use variable service)
- **Display** the password hidden in the Configuration page (like into the MQTT integration)
- Use this password in the `gladys-z2m-zigbee2mqtt` container **configuration** file to protect the interface (se

[2022-01-08 11:42] cicoub13 opened #1408 "[Zigbee2Mqtt] Fix Association status between zigbee2mqtt and Gladys"
When you click on **Authorize association** under Discover page, the Association is activated by default for 250 seconds.
When this period is over, the button stays active, **whereas** it's not active anymore in zigbee2mqtt.

Check if we receive a message in this topic https://github.com/GladysAssistant/Gladys/blob/master/server/services/zigbee2mqtt/lib/handleMqttMessage.js#L64

<img width="1247"

[2022-01-08 12:09] cicoub13 commented on #1403
We are using **zigbee2mqtt** container (and so library) to discuss with Zigbee devices and transform messages in MQTT.
This tool is based on **zigbee-herdsman** and has the same compatibility devices list.
https://github.com/GladysAssistant/Gladys/blob/master/server/services/zigbee2mqtt/docker/gladys-z2m-zigbee2mqtt-container.json
https://github.com/GladysAssistant/Gladys/blob/master/server/servic

[2022-01-08 12:09] #1403 closed, assigned to nobody

[2022-01-08 12:48] cicoub13 commented on #1408
I'm not able to reproduce with Texas Instrument CC2531. Association always stays active.
Maybe try from the zigbee2mqtt interface.

[2022-01-10 10:32] Pierre-Gilles commented on #1331
Still the case

[2022-01-10 10:34] Pierre-Gilles commented on #1402
Tu es en quelle version de Gladys ? "Paramètres" => "Systèmes" dans l'interface ?

[2022-01-10 11:12] Ericboust commented on #1402
Bonjour Pierre-Gilles,

Version v4.7.1.
Watchtower fait son boulot je pense.

C’est pas trop grave car c’est un repeater et je ne dois pas vraiment le contrôler mais Gladys m’a demandé de communiquer le bug.

Eric

Envoyé de mon iPhone

[2022-01-10 12:27] Pierre-Gilles commented on #1402
Merci pour ton retour alors, tu es bien dans la dernière version de Gladys ! :)

Ce n'est pas un bug, juste que le périphérique n'est pas géré.

Je laisse l'issue pour les développeurs de cette intégration.

[2022-01-11 17:30] Pierre-Gilles commented on #1323
Still the case

[2022-01-13 07:47] mikitouf opened #1409 "Zigbee2mqtt: Add device HS1CA-E"
Hi!

a device to add. it's a CO sensor

{
  "name": "0x5c0272fffe8f7bca",
  "model": "HS1CA-E",
  "external_id": "zigbee2mqtt:0x5c0272fffe8f7bca",
  "features": [
    {
      "name": "Battery",
      "read_only": true,
      "has_feedback": false,
      "min": 0,
      "max": 100,
      "category": "battery",
      "type": "integer",
      "unit": "percent",
      "external_id": "zigbee2mqtt:0x5c0

[2022-01-13 08:46] yaneony commented on #1404
1. Not a fan of
2. Running docker inside LXC container is somehow... meh :D

[2022-01-13 16:20] mikitouf opened #1410 "Zigbee2mqtt: Add device CCT5015-0001"
Hi,
Could you add this new device. It's [a roller shutter module](https://www.zigbee2mqtt.io/devices/CCT5015-0001.html#schneider%2520electric-cct5015-0001)

{
  "name": "0x2c1165fffe224a03",
  "model": "CCT5015-0001",
  "external_id": "zigbee2mqtt:0x2c1165fffe224a03",
  "features": [],
  "should_poll": false,
  "service_id": "9f41080f-72be-4813-b30b-0cfdd0dc71aa"
}
[code]

[2022-01-14 09:02] Pierre-Gilles opened #1411 "MQTT: Switch On/Off feature type is missing from list ?"
Seems there is no switch on/off on MQTT integration:

<img width="536" alt="Screenshot 2022-01-14 at 10 02 11" src="https://user-images.githubusercontent.com/7365207/149488278-12a2b519-d8fe-4554-b41c-8a985e811ece.png">

[2022-01-14 09:06] #1411 closed, assigned to nobody

[2022-01-14 09:07] Pierre-Gilles opened #1412 "MQTT: Bug in device feature view, the MQTT topic displayed is not good anymore"
<img width="583" alt="Screenshot 2022-01-14 at 10 06 30" src="https://user-images.githubusercontent.com/7365207/149489023-37c1062b-9c1d-4bfc-ad13-85f7f269db73.png">

[2022-01-14 09:16] Pierre-Gilles commented on #1412
My mistake...

[2022-01-14 09:16] #1412 closed, assigned to nobody

[2022-01-14 14:59] Pierre-Gilles opened #1413 "Telegram: sometimes, it seems the msg.chat.id is casted as double and it breaks the linking"
https://community.gladysassistant.com/t/echange-telegram-impossible/6769/17?u=pierre-gilles

[2022-01-14 23:41] MazShaka opened #1414 "Erreur User with telegram_user_id “xxxxxxxxxxx” not found"
La synchronisation entre Gladys et Telegram ne se fait pas.
Vérification des logs: `docker logs gladys`
Message : User with telegram_user_id "xxxxxxxxxx" not found
Vérification de l'ID dans Telegram via `@userinfobot`
Vérification dans : `/var/lib/gladysassistant/gladys-production.db` de la table “t_user”
 L'ID “telegram_user_id” est différente de l'userinfobot.
 Elle 2 caractères ont été ajouté '

[2022-01-15 12:23] Pierre-Gilles commented on #1414
Hi! Sorry I didn't tell you, we speak exclusively in english on the Github.

I created an EN issue here: https://github.com/GladysAssistant/Gladys/issues/1413

[2022-01-15 12:23] #1414 closed, assigned to nobody

[2022-01-15 13:28] alscheuring opened #1415 "Download link broken on website"
This page:
https://gladysassistant.com/docs

Has this link:
https://gladysassistant.com/download/latest

which fails and ends up here:
https://download-latest.gladysassistant.workers.dev/

[2022-01-17 08:53] Pierre-Gilles commented on #1415
Interesting, is it still not working on your side?

It works fine for me..

What kind of error do you get?

[2022-01-17 08:55] Pierre-Gilles commented on #1415
Are you sure it was not a network issue on your side?

<img width="1161" alt="Screenshot 2022-01-17 at 09 54 24" src="https://user-images.githubusercontent.com/7365207/149738175-da5e314f-39c0-4ddd-9ebd-77313e604725.png">

I have no errors showing up

[2022-01-17 09:26] #1347 closed, assigned to nobody

[2022-01-21 07:18] atrovato commented on #1402
Ce device n'a qu'une seule feature `link_quality`.
https://www.zigbee2mqtt.io/devices/E1746.html

Une PR est prête pour intégrer cette feature dans le service zigbee2mqtt, mais nous n'avons pas de UI pour cela.
La reflexion nous avais mené a "devoir" changer de librairie d'icones.
https://community.gladysassistant.com/t/nouvelle-feature-signal-strength-ou-etat-de-la-connexion/6165/55

[2022-01-21 07:20] atrovato commented on #1415
Works fine on my side too...

[2022-01-21 10:41] VonOx commented on #1158
not stale

[2022-01-22 08:19] atrovato commented on #1376
Work in progress, blocked by zwavejs migration.

[2022-01-22 20:38] jparbel opened #1419 "Zigbee2mqtt: Add device TS0216"
``Sirène Tuya non reconnue par Gladys (pour l'instant)
{
  "name": "0xb4e3f9fffe0c35b6",
  "model": "TS0216",
  "external_id": "zigbee2mqtt:0xb4e3f9fffe0c35b6",
  "features": [
    {
      "name": "Battery",
      "read_only": true,
      "has_feedback": false,
      "min": 0,
      "max": 100,
      "category": "battery",
      "type": "integer",
      "unit": "percent",
      "external_id": "zig

[2022-01-23 11:44] atrovato commented on #1419
We can add the siren feature, but not the volume control for now.

[2022-01-23 11:51] atrovato commented on #1368
Not tried yet. Not stale.

[2022-01-23 11:52] atrovato commented on #1141
@bulolo are this features available now?

[2022-01-23 12:51] jparbel commented on #1419
Thank's Alex, I've added the siren feature, it's working fine, don't worry about volume control, it's possible to set it directly on the device.
Perfect after sale service !

[2022-01-24 09:05] Pierre-Gilles opened #1421 "Gladys Plus: Display specific message if local instance rejects message when timestamp is too old"
When the computer of a user is out of date, message are signed with an old timestamp and Gladys then rejects the message.

It should be more clear in the UI what happens!

[2022-01-25 09:41] Pierre-Gilles commented on #1305
Not stale

[2022-01-25 09:44] Pierre-Gilles commented on #1378
Not stale

[2022-01-25 11:39] LM1LC3N7 commented on #1378
This issue is important as recreating a zigbee network if forcing the user to re-pair all its devices. I have at least 2 devices per room, it will take some time to do this.

[2022-01-25 13:50] Pierre-Gilles commented on #1378
I agree, but I think the issue title is misleading, it's not related at all to Gladys plus, it's a pure Zigbee2mqtt service development

[2022-01-25 14:01] LM1LC3N7 commented on #1378
Because the service should store secrets and configuration into gladys DB and replicate it into the file setting at startup / restore?
If yes, we have to think about people trying to update their zigbee2mqtt settings manually on the file, how do we update these data on Gladys (as there is no advanced config in the web ui)?

[2022-01-25 14:37] Pierre-Gilles commented on #1408
Same, sorry my bad I thought the behavior was the same from the Zigbee2mqtt UI and from Gladys UI :)

Closing this.

[2022-01-25 14:37] #1408 closed, assigned to nobody

[2022-01-25 20:59] pioueo opened #1422 "Tasmota: in "light" configuration, control the switch with the "chat" command"
The command by the chat of the switching on and off of the light of a room has no effect on the Tasmota device configured in light

![](https://gladys-assistant-community.b-cdn.net/uploads/default/original/2X/7/7ad84d2ee58a744b8be97d4a1b072945339cf056.png)

[2022-01-26 19:30] Pierre-Gilles opened #1423 "Door opening sensor are displayed as "On/Off" in scene trigger. Translation should be "Open/Close""
https://community.gladysassistant.com/t/scene-difficulte-avec-capteur-douverture/6856?u=pierre-gilles

[2022-01-27 07:27] atrovato commented on #1422
You may have a little more information?
Is your tasmota device setup as a light?
Is this device working from dashboard actions?

[2022-01-27 07:29] atrovato commented on #1348
I need to review it.

[2022-01-28 09:31] Pierre-Gilles commented on #1413
The bug is not coming from the library (tested) but from Gladys

[2022-01-28 16:27] #1370 closed, assigned to nobody

[2022-01-28 16:27] #1369 closed, assigned to nobody

[2022-01-30 19:22] svgaman opened #1424 "Zigbee2mqtt: Add device S520567"
[code]

[2022-01-31 08:38] svgaman commented on #1424
https://www.zigbee2mqtt.io/devices/S520567.html

[2022-01-31 09:37] Pierre-Gilles commented on #1345
Not stale

[2022-01-31 09:37] Pierre-Gilles commented on #1373
Not stale

[2022-01-31 09:37] Pierre-Gilles commented on #1303
Not stale

[2022-01-31 10:18] #1379 closed, assigned to nobody

[2022-02-01 10:47] #1331 closed, assigned to nobody

[2022-02-02 08:58] #1304 closed, assigned to nobody

[2022-02-02 08:58] #1320 closed, assigned to nobody

[2022-02-02 09:59] #1325 closed, assigned to nobody

[2022-02-02 09:59] #1339 closed, assigned to nobody

[2022-02-02 09:59] #1330 closed, assigned to nobody

[2022-02-02 09:59] #1372 closed, assigned to nobody

[2022-02-03 11:37] cicoub13 opened #1426 "[Zigbee2Mqtt] Wrong value in MQTT message causes Service crash"
**Describe the bug**

When a device sends a value not compatible with Gladys Zigbee2Mqtt, the zigbee2mqtt service crash

https://community.gladysassistant.com/t/dashboard-evolutions-bugs-etc/5150/113#ajout-des-logs-rseau-1

**Logs**

[code]

[2022-02-03 13:48] cicoub13 commented on #1378
We should save the network key `network_key`, Zigbee channel `channel` or panID `pan_id` in database as Service values and be sure the **configuration.yaml** is initialized with these values.
In case of Backup restore, the **configuration.yaml** will be created with the same values, and it doesn't require repairing.

https://www.zigbee2mqtt.io/guide/faq/#requires-repairing

[2022-02-03 16:41] #1426 closed, assigned to nobody

[2022-02-07 11:37] cce66 opened #1428 "inconvenience in the display of the values ​​of the vertical axis on temperature widget"
small inconvenience in the display of the values ​​of the vertical axis on temperature widget
![image](https://user-images.githubusercontent.com/87046877/152779458-b5ac8f0f-84f3-456c-a055-360bbbc254a2.png)
It would be clearer on the left axis to put whole values ​​with the symbol ° so that we can see that it is indeed degrees not hours
And in the setting page, it would be nice to be able to choose

[2022-02-07 15:12] Pierre-Gilles commented on #1378
Agree! :)

[2022-02-07 15:13] Pierre-Gilles commented on #1398
Not stale

[2022-02-07 15:13] Pierre-Gilles commented on #1397
Not stale

[2022-02-08 09:11] Pierre-Gilles opened #1429 "[Zigbee2mqtt] It seems the authorize association doesn't always work in Gladys"
https://community.gladysassistant.com/t/petit-probleme-avec-autoriser-lassociation-de-modules-zibbee/6903

[2022-02-09 08:46] #1390 closed, assigned to nobody

[2022-02-09 22:36] cicoub13 opened #1430 "Graphs have between 1 hour and 2 hours delay"
**Describe the bug**
Hourly aggregation take data until H-1 and not until H

**To Reproduce**
At 23h27 in timezone Europe/Paris

Hourly task done at 23h21 (22h21 UTC)
[code]
But graph show only data until 21h

<img width="389" alt="CleanShot 2022-02-09 at 23 29 45@2x" src="https://user-images.githubusercontent.com/1773153/153301200-6d8ef8ab-3616-4016-9a78-88c2e986422b.png">

**Your Gladys installa

[2022-02-11 11:06] thibautmery opened #1431 "Erreur sur le conteneur zigbee2mqtt pas reporté sur gladys"
Hello,

J'ai remarqué en voulant regarder l'historique que des équipements n'étaient plus mis à jour sur zigbee2mqtt.
En allant voir le conteneur z2m, j'ai remarqué qu'il y avait effectivement des erreurs.
Il serait intéressant de pouvoir exploiter les logs et identifier d'éventuels problèmes sur ces conteneurs.

Plusieurs solutions s'offrent à nous:
- pouvoir visualiser facilement les erreurs sur

[2022-02-11 11:48] Pierre-Gilles commented on #1006
Not stale

[2022-02-13 02:17] Gibson-Ayden opened #1432 "Support for non-usb zigbee2mqtt adapters"
**Is your feature request related to a problem? Please describe.**
When trying to setup my raspi hat Gladys is unable to use the serial device, even tho it has it as an option, its not selectable and will still ask you for a USB device

**Describe the solution you'd like**
Add the ability to use other adapters outside of strictly usb

![image](https://user-images.githubusercontent.com/77173178/153

[2022-02-13 08:39] cicoub13 commented on #1430
Not a bug https://community.gladysassistant.com/t/graphiques-et-fuseaux-horaires/6704/10

[2022-02-13 08:39] #1430 closed, assigned to nobody

[2022-02-14 17:09] Pierre-Gilles commented on #1274
Not stale

[2022-02-14 17:10] Pierre-Gilles commented on #1432
Is your USB dongle compatible with Zigbee2mqtt?

[2022-02-14 17:12] Pierre-Gilles commented on #1431
On parle de quel genre d'erreurs? Créé peut-être plus une feature request sur le forum, le github c'est vraiment plus pour les corrections de bug, là c'est vraiment une demande de fonctionnalité qui se débat sur le forum.

[2022-02-14 17:41] Gibson-Ayden commented on #1432
I have the dongle found here https://shop.codm.de/automation/zigbee/33/zigbee-cc2652p2-raspberry-pi-module but it is of note its not USB and functions over Serial via the GPIO pins on the pi, its listed under the pi hat section here https://www.zigbee2mqtt.io/guide/adapters/#recommended as a supported device

[2022-02-14 21:19] Gibson-Ayden commented on #1432
I figured out the issue, I had an instance of Zigbee2Mqtt in the background, however I believe that setup should be more verbose about whether it can attach or not, if its in use etc

[2022-02-15 09:59] Pierre-Gilles commented on #1432
Ok, closing this issue then :)

[2022-02-15 09:59] #1432 closed, assigned to nobody

[2022-02-16 01:44] JRMeyer opened #1433 "[Feature Request] Add Voice with Coqui STT and TTS"
Hi there 👋

Glad to see a cool project like Gladys is actively maintained! It seems currently there's no voice feature enabled, and I think @coqui-ai could be a nice option.

Gladys seems to be mostly written in JavaScript, so Coqui Speech-to-Text should work nicely:)

https://stt.readthedocs.io/en/latest/NodeJS-API.html

There's also Text-to-Speech from Coqui (python-based) <https://github.com/co

[2022-02-17 22:04] Ragnulf67 opened #1436 "Zigbee2mqtt: Add device QS-Zigbee-C01"
[code]

[2022-02-18 10:26] Pierre-Gilles commented on #935
Not stale

[2022-02-18 10:27] Pierre-Gilles commented on #511
Not stale, PR in progress here : https://github.com/GladysAssistant/Gladys/pull/1336

[2022-02-18 10:29] Pierre-Gilles commented on #1433
Hey 👋

Which languages are supported by Coqui ?

[2022-02-18 11:57] mikitouf opened #1437 "See and use only the 10 first variables of "get device value" from a block in "send a message""
Hello

When we use the variable in " send a message" we can see and use only the 10 first variables of "get device value" from a block ( X )
even if we write X.11 after {{
Futhermore if we use a second block of "get device value" we can't see it easily. We must write the number of the block to see the device

[link of the post in gladys community](https://community.gladysassistant.com/t/bug-scenes

[2022-02-18 14:40] Pierre-Gilles commented on #1437
I'm able to reproduce, it's a parameter in the library we are using !

Fixing in : https://github.com/GladysAssistant/Gladys/pull/1438

[2022-02-18 14:58] #1437 closed, assigned to nobody

[2022-02-18 21:17] JRMeyer commented on #1433
salut @Pierre-Gilles -- the short answer is: "lots of languages"

You can see all STT languages here <https://coqui.ai/models>

and for TTS, the list is:

[code]

[2022-02-19 03:07] help-14 opened #1439 "Sonoff Zigbee2mqtt show up but cannot configured in docker version"
**Describe the bug**
Hi, I'm using Gladys docker version in a Debian VM. I have passthrough Sonoff usb and it is show up on Gladys Zigbee2mqtt USB dongle Settings but it is still show "Gladys is not attached to any Zigbee2mqtt USB Dongle."

**Screenshots**
![image](https://user-images.githubusercontent.com/574357/154783737-4b797de8-40bc-4ac5-9e0c-c668cc1f8e08.png)
![image](https://user-images.gith

[2022-02-19 05:31] help-14 commented on #1439
Okay for some reason Ubuntu 18 worked and not Ubuntu 21 or Debian 11.
But after enabled it throw some error and no mqtt image show up, no scan button.
No container for mqtt and zigbee2mqtt created

![image](https://user-images.githubusercontent.com/574357/154789699-0f926c82-875d-4036-a1fb-7d2ab316c56c.png)
![image](https://user-images.githubusercontent.com/574357/154787856-765b2844-b7f9-460b-a00a-

[2022-02-19 11:22] guim31 opened #1440 "Zigbee2mqtt: Add device NAS-AB02B2"
[code]

Zigbee2mqtt expose looks like this :

![image](https://user-images.githubusercontent.com/33096540/154798778-19f49c66-9f47-476d-93ad-e031936416a1.png)

[2022-02-19 16:32] Ragnulf67 commented on #1436
Hello, I Simply click on Button un Gladys to report QS-Zigbee-C01, who is a zigbee sonoff curtain module

[2022-02-19 19:12] reivaxm opened #1441 "Z-Wave: Handle device "FIBARO System FGBS222 Smart Implant""
Hello,
Je suis en train de faire des tests de capteur dans Gladys basé sur du zwave et des smart implant de chez fibaro
J'en ai un qui a détecter un capteur

[code]

L'autre qui ne detect aucun capteur

[code]

Une idée du pourquoi ?

En tout cas superbe travail !
PS: j'utilise la carte Razberry v2 (https://www.planete-domotique.com/carte-d-extension-razberry2-v2-pour-raspberry-pi-version-europeen

[2022-02-21 09:43] Pierre-Gilles commented on #1439
We currently only support Debian 10 and below, and Ubuntu 20.04 and below.

Debian 11 and Ubuntu 21 are not supported because of a change on cgroups that affects code related to Docker inside Gladys.

We are working on developing support for those system :)

[2022-02-21 09:51] Pierre-Gilles commented on #1441
Salut @reivaxm ! Ces appareils ne doivent pas être géré par Gladys. Il faut développer la compatibilité.

Actuellement il y a le projet de quitter Open-Zwave (cette librairie est deprecated), pour passer à ZWaveJS (la nouvelle librairie moderne), donc je ne pense pas que la compatibilité pourra être développé sur l'intégration actuelle, mais pourra l'être sur la nouvelle.

Il y a une PR en cours i

[2022-02-21 09:53] Pierre-Gilles commented on #1440
Related to https://github.com/GladysAssistant/Gladys/pull/1420 ?

[2022-02-21 18:49] atrovato commented on #1440
I can see more on this device:
 - battery_low indicator -> binary
 - melody -> integer enum
 - duration -> number
 - volume -> enum (low / medium / high)
 - battpercentage -> battery level

Except volume, I think I can add other features.

[2022-02-21 19:06] atrovato commented on #1436
Gladys doesn't handle curtains for now (neither enum value - for moving actuator).
But it is somewhere in the pipe.

[2022-02-21 19:07] atrovato commented on #1234
Still open, not stale...

[2022-02-21 19:08] atrovato commented on #795
Not stale.
I need to check preact upgrade to see if it is nativly managed for now.

[2022-02-21 19:51] Ragnulf67 commented on #1436
Ok merci du retour, je vais attendre que ça ce fasse :)
Très bon boulot, bravo à toute l'équipe.

[2022-02-22 12:06] #1413 closed, assigned to nobody

[2022-02-28 14:53] Pierre-Gilles opened #1444 "Zigbee2mqtt : Make translation wording more clear"
https://community.gladysassistant.com/t/lancer-un-commande-script-rsync-par-une-phrase-telegram/6895/10

[2022-03-01 11:53] LM1LC3N7 commented on #1426
Hello again,

I have another error of that type, using the last dev image:

[code]

[2022-03-01 14:36] Pierre-Gilles commented on #1426
@LM1LC3N7 Maybe create a new issue ? this issue is closed so it won't be looked at :)

[2022-03-01 14:38] LM1LC3N7 opened #1448 "[Zigbee2Mqtt] Failed to convert value for device RadiateurSalon: Error: Zigbee2mqqt don't handle value "LOCK" for feature "mode"."
**Describe the bug**
When a device sends a value not compatible with Gladys Zigbee2Mqtt, the zigbee2mqtt service crash
Related to https://github.com/GladysAssistant/Gladys/issues/1426

**logs**

[code]

[2022-03-01 14:38] LM1LC3N7 commented on #1426
https://github.com/GladysAssistant/Gladys/issues/1448

[2022-03-02 15:26] help-14 commented on #1439
Hi @Pierre-Gilles .
Glad to know, but even in ubuntu 18 after press enable zigbee2mqtt my docker is still not have mqtt and zigbee container created. Any idea about it ?

[2022-03-03 15:07] Pierre-Gilles commented on #1439
Can you come on the forum and give us more details about what you are doing ? https://community.gladysassistant.com/c/international/configuration/46

We use Github only for bug tracking, we don't do support here.

I'm closing this issue :)

[2022-03-03 15:07] #1439 closed, assigned to nobody

[2022-03-03 16:15] Pierre-Gilles commented on #1113
Not stale

[2022-03-03 16:16] Pierre-Gilles commented on #1115
Not stale, and I'm not able to fix it.

[2022-03-03 16:16] Pierre-Gilles commented on #1328
Still the case

[2022-03-04 08:51] Pierre-Gilles commented on #1401
Not stale

[2022-03-04 08:59] cicoub13 commented on #1344
Not stale

[2022-03-04 09:32] Pierre-Gilles commented on #1401
Fixed in https://github.com/GladysAssistant/Gladys/pull/1449

[2022-03-04 09:58] #1401 closed, assigned to nobody

[2022-03-04 11:29] Pierre-Gilles commented on #1448
I edited the title here, because there is no crash here

[2022-03-05 07:17] atrovato commented on #1448
This should be fixed with #1383

[2022-03-05 08:01] atrovato commented on #1424
Still in discussion https://community.gladysassistant.com/t/gestion-des-volets-roulants/5693

[2022-03-05 08:03] atrovato commented on #1410
Still in discussion https://community.gladysassistant.com/t/gestion-des-volets-roulants/5693

[2022-03-07 09:29] Pierre-Gilles commented on #1263
Not stale. Will be fixed with random 4 digits in selector

[2022-03-07 10:01] Pierre-Gilles commented on #1448
@LM1LC3N7 Can you test the PR of @atrovato and see if it fixes the problem ?

[2022-03-07 10:35] LM1LC3N7 commented on #1448
Sorry I did not see the notification from GitHub :)

After merging all @atrovato zigbee2mqtt edits from "zigbee-set-value" I still have errors.
To merge, here's what I done:

- docker exec -ti gladys sh
- install git
- `git clone https://github.com/atrovato/Gladys -b zigbee-set-value`
- `cp -rf Gladys/server/services/zigbee2mqtt/ services/` (move @atrovato code to current Gladys container code)
-

[2022-03-07 14:35] Pierre-Gilles commented on #1397
Fixed in https://github.com/GladysAssistant/Gladys/pull/1453

[2022-03-07 15:41] #1397 closed, assigned to nobody

[2022-03-07 15:55] Pierre-Gilles commented on #1415
No reply so closing this.

[2022-03-07 15:55] #1415 closed, assigned to nobody

[2022-03-07 15:56] Pierre-Gilles commented on #1404
If you have any more questions, don't hesitate to come talk on the forum https://community.gladysassistant.com/ 🙂

We use Github mostly for bug tracking, so closing this issue as it's not really a bug!

[2022-03-07 15:56] #1404 closed, assigned to nobody

[2022-03-07 18:10] Pierre-Gilles opened #1454 "Zigbee2mqtt : basePath function doesn't work, it doesn't return the path of the folder on the host"
The function here needs the containerId => https://github.com/GladysAssistant/Gladys/blob/master/server/lib/system/system.getContainerMounts.js#L10

But instead, sends the os.hostname() =>

https://github.com/GladysAssistant/Gladys/blob/master/server/services/zigbee2mqtt/lib/basePath.js#L17

Discussions here =>

https://community.gladysassistant.com/t/gladys-sur-unraid/6959/37?u=pierre-gilles

[2022-03-07 18:12] Pierre-Gilles opened #1455 "Zigbee2mqtt : When creating a new container, the global JSON is mutated, which causes bug on new calls"
Push mutate the global object :

https://github.com/GladysAssistant/Gladys/blob/master/server/services/zigbee2mqtt/lib/installZ2mContainer.js#L37

https://github.com/GladysAssistant/Gladys/blob/master/server/services/zigbee2mqtt/lib/installMqttContainer.js#L34

[2022-03-07 21:51] vincentBesseau opened #1457 "Missing translation message"
As you can see on the forum (https://community.gladysassistant.com/t/bug-ihm-z2m-capteur/6988), my vibration sensor is missing a translated label :

<img width="863" alt="image" src="https://user-images.githubusercontent.com/33568805/157123475-d7aa277a-eb99-4bfc-9643-0240b228d380.png">
<img width="1075" alt="image" src="https://user-images.githubusercontent.com/33568805/157123535-942f327f-b644-435

[2022-03-08 09:35] Pierre-Gilles opened #1458 "Investigate if removing the `mqtt:` prefix in the MQTT integration is fine."
Verify that collision with other integrations does not result in replacing the previous integration device (actually the case)

[2022-03-08 21:41] atrovato commented on #1448
Thank you, I had returns from other testers too, kind same error.
I just publish a fix, on the same branch.
Can you try again?

[2022-03-09 10:04] LM1LC3N7 commented on #1448
It appears this time it works well!

![image](https://user-images.githubusercontent.com/14235706/157419308-84cc5ad3-54ef-491e-933b-1575eb8b91dc.png)

[2022-03-09 18:05] Pierre-Gilles opened #1460 "GET /api/v1/device might be too big for Gladys Plus on the graph box on the dashboard"
https://community.gladysassistant.com/t/probleme-creation-de-graphique-sur-gladys/7032

[2022-03-10 17:13] Pierre-Gilles commented on #1460
Same problem here : https://community.gladysassistant.com/t/actions-ne-se-chargent-pas-dans-une-grande-scene/7026/22?u=pierre-gilles

[2022-03-12 19:08] atrovato commented on #1444
This is not z2m issue.
What about?
 - Use a Gladys embedded MQTT broker
 - Utiliser un broker MQTT embarqué dans Gladys

[2022-03-13 15:13] atrovato commented on #1113
I tried to reproduce it, but I can't, do you have more details?

[2022-03-13 15:16] #1141 closed, assigned to nobody

[2022-03-13 16:53] atrovato commented on #1305
I'm not able to reproduce it, do you?

[2022-03-13 18:07] VonOx commented on #1305
I will re check this issue, I think this is when marker position is updated.

[2022-03-14 10:34] Pierre-Gilles commented on #1113
Indeed, I can't reproduce it either. I saw it once on someone instance, but can't reproduce it.

I'm closing this

[2022-03-14 10:34] #1113 closed, assigned to nobody

[2022-03-15 15:37] #1373 closed, assigned to nobody

[2022-03-17 19:46] Checconio opened #1473 "Button "try http request" in scene doesn't add headers properly"
Hello,

Il y a un bug avec les requêtes HTTP en POST.

J’ai un curl qui fonctionne:

`curl -X POST http://127.0.0.1:8080/raspisms/api/scheduled/ -H 'X-Api-Key: XXXXX' -d 'text=Mon%20SMS%20d%27exemple' -d 'numbers=%2B33000000000'`
(Key et Tel masqué volontairement :wink: )

J’ai voulus le faire passer dans la requête HTTP de Gladys et à chaque fois j’avais comme retour que la Api-Key été incorrecte

[2022-03-17 20:39] gboulvin commented on #1368
For reference, eclipse-mosquito just got updated and... Bug still exists, needed to reintroduce credentials within Gladys's configuration page.
I might try to fully reinstall instance...

[2022-03-17 20:48] gboulvin opened #1474 "[front] Graphs don't get resized when scale is changed while being deactivated"
**Describe the bug**
As described [Here](https://community.gladysassistant.com/t/help-probleme-avec-lagregation/6630/66?u=gboulvin), if the scale in the graph is changed while the curve is deactivated, the curves are not scaled when reactivated.

**To Reproduce and screenshots**
See [Link](https://community.gladysassistant.com/t/help-probleme-avec-lagregation/6630/66?u=gboulvin)

[2022-03-17 20:52] gboulvin commented on #1234
By the way, could you add support for RFID ;-) ?
May I help for something ? If you tell me where to look...

[2022-03-18 10:09] #1473 closed, assigned to nobody

[2022-03-18 10:13] Pierre-Gilles opened #1476 "Messages in chat should respect line breaks"
Right now, line breaks are not respected in the chat

![54c42475493f6022b330450349469cf6f2b94f52](https://user-images.githubusercontent.com/7365207/158984356-b489e947-ae74-406a-a4d2-023735cbc7a9.png)

https://community.gladysassistant.com/t/affichage-des-messages-venant-des-scenes/7048

[2022-03-18 10:18] #1457 closed, assigned to nobody

[2022-03-18 16:07] #1323 closed, assigned to nobody

[2022-03-21 13:21] #1460 closed, assigned to nobody

[2022-03-21 15:40] VonOx opened #1477 "Docker MQTT - Bug if container already exist"
With MQTT Integration there is a bug if container already exist but service not configured

cf => https://community.gladysassistant.com/t/lancement-la-semaine-prochaine-de-la-compatibilite-debian-11-ameliorations-pour-unraid-synology/7076/23?u=vonox

[2022-03-22 11:12] vincentBesseau commented on #1158
not stale

[2022-03-25 11:48] Pierre-Gilles opened #1483 "Test fails randomly on Gateway backups "cannot start a transaction within a transaction""
[code]

[2022-03-25 11:50] Pierre-Gilles commented on #1483
See if this can help: https://github.com/mapbox/node-sqlite3/wiki/Control-Flow#databaseserializecallback

[2022-03-25 12:56] Pierre-Gilles opened #1484 "Gladys Plus should upload backup in chunks to avoid high RAM usage"
- [ ] Gladys should upload backup in chunks to avoid using too much RAM
- [ ] Gladys should upload backup directly to the Object Storage instead of going through the backend (using Signed URL)

[2022-03-25 13:22] #1274 closed, assigned to nobody

[2022-03-25 18:15] #1483 closed, assigned to nobody

[2022-03-28 12:18] LM1LC3N7 commented on #1448
FYI with Gladys 4.8.2 the issue is not solved yet.

![image](https://user-images.githubusercontent.com/14235706/160396073-b5a56ab6-86b1-47f8-ba74-969942bb8f17.png)

[2022-03-28 17:53] atrovato commented on #1448
No, PR is not merged :/

[2022-03-28 19:48] atrovato opened #1489 "Z-Wave: Handle device "Everspring AD142 Plug-in Dimmer Module""
[code]

La prise n'est pas reconnue.

[2022-03-29 08:10] VonOx opened #1490 "[FRONT] - On chart dashboard box, loading spinner when new value arrives is displayed too often"
![image](https://user-images.githubusercontent.com/1528694/160564127-4fea6f2c-7dc4-4619-90ca-32ed0242ddd9.png)

https://community.gladysassistant.com/t/graph-bug-refresh/7108

[2022-03-29 09:42] Pierre-Gilles commented on #1454
Fixed in https://github.com/GladysAssistant/Gladys/commit/4644c68568b53bee253b2470335dc67a17e29961

[2022-03-29 09:42] #1454 closed, assigned to nobody

[2022-03-29 09:43] Pierre-Gilles commented on #1455
Fixed in https://github.com/GladysAssistant/Gladys/commit/4644c68568b53bee253b2470335dc67a17e29961

[2022-03-29 09:43] #1455 closed, assigned to nobody

[2022-03-29 20:41] Pierre-Gilles commented on #1448
Yes, we had some critical bugs in Gladys recently that needed to be fixed, v4.8.2 was only a small bug fix version, I wanted to keep the version as small as possible so it could go live fast without too much feedbacks needed.

This one is a big one has it impacts all Zigbee2mqtt users and I want to merge this right.

[2022-03-30 12:30] nielsnl68 opened #1493 "Cant change linux login password."
First, are you sure that you found a Gladys bug?
Yes, with other distro's you can change your password.

**Describe the bug**
A clear and concise description of what the bug is.
Cannot log in with default  username/password
When you do you are asked to change the password, but while doing that you get the errors:
[code]
and you need to login again.

**To Reproduce**
Steps to reproduce the behavior

[2022-03-30 17:06] Pierre-Gilles opened #1494 "Caldav crash during sync"
[code]

https://community.gladysassistant.com/t/gladys-4-service-caldav/5838/69?u=pierre-gilles

[2022-03-30 17:38] Checconio opened #1495 "Bug Switch On/Off Scènes"
Hello,

Je remonte un bug qui m’a pris un peu de temps à comprendre et concerne la modification du statut d’un bouton On/Off via une scène.

Il existe 2 façons de modifier le statut des switchs On/Off dans les scènes Gladys

<img width="917" alt="Bug Gladys" src="https://user-images.githubusercontent.com/13965280/160897232-22082ef5-a654-4f6b-ba1f-bdb155c57baa.png">

Dans les 2 cas l’action est bie

[2022-04-01 14:31] #1328 closed, assigned to nobody

[2022-04-01 15:55] Pierre-Gilles commented on #1448
FYI, I merged the PR and the fix today, and just started a Docker build on `gladysassistant/gladys:dev`

https://github.com/GladysAssistant/Gladys/actions/runs/2078334755

I'm looking for testers before I deploy this to prod just to make sure the final version is fine :)

[2022-04-01 16:02] Pierre-Gilles commented on #1426
FYI, I merged the PR and the fix today, and just started a Docker build on gladysassistant/gladys:dev

https://github.com/GladysAssistant/Gladys/actions/runs/2078334755

I'm looking for testers before I deploy this to prod just to make sure the final version is fine :)

[2022-04-02 16:31] PhilippeMA opened #1498 "Zigbee2mqtt: Add device E1743"
Interrupteur IKEA : https://www.zigbee2mqtt.io/devices/E1743.html

De quoi avez-vous besoin pour aider à l'implémentation ?

[2022-04-03 17:30] VonOx commented on #1328
Still the case

https://community.gladysassistant.com/t/fonctionnalite-presence-avec-mqtt/7143?u=vonox

[2022-04-04 10:24] #1494 closed, assigned to nobody

[2022-04-04 10:37] Pierre-Gilles commented on #1493
Thanks for your feedback!

I tag @VonOx here who is working on the Gladys Raspberry Pi OS image :)

[2022-04-04 14:06] Pierre-Gilles commented on #1328
Yes, it's normal because this bugfix is not in production yet.

[2022-04-06 08:02] atrovato commented on #1378
@cicoub13 @Pierre-Gilles
Why don't we create the z2m container with `network_key` / `channel` / `pan_id` hardcoded values?

https://www.zigbee2mqtt.io/guide/configuration/zigbee-network.html#network-config

[2022-04-06 17:31] Pierre-Gilles commented on #1378
@atrovato the network_key should be uniquely generated on the user side, because it's used for security (it's like an encryption key) !

If we hardcode the value, it means all Gladys users use the same key, and can be hacked easily :)

We need to generate & save somewhere in Gladys DB those variables, so Gladys can restart the container with the proper keys in can the user restore Gladys somewhere

[2022-04-06 18:03] VonOx commented on #1378
For reference => https://www.zigbee2mqtt.io/guide/faq/#how-do-i-move-my-zigbee2mqtt-instance-to-a-different-environment

[2022-04-07 09:18] VonOx commented on #1493
Hi @nielsnl68

Sorry for late reply.
That's seems to be a generic filesystem mount problem, can you try flash gladys image again?

[2022-04-09 05:34] atrovato commented on #1303
Not stale.

[2022-04-09 18:09] Terdious commented on #1398
Not stale

[2022-04-11 20:31] nielsnl68 commented on #1493
i have switched to an other HA

[2022-04-11 20:31] #1493 closed, assigned to nobody

[2022-04-15 05:42] cicoub13 opened #1503 "[Scene] Bad variable management when one variable id contains another id variable"
**Describe the bug**
When you use the variable system in Scene (for example Send a message), if there are two variables with almost the same id, it creates an error.

For example, if you have these 2 variables:
-` 1. 1. data.main.temp`
-` 1. 1. data.main.temp_min`

And you fill text with "Hello {{ 1. 1. data.main.temp_min }}", the system will first replace `1. 1. data.main.temp` by a variable (and

[2022-04-15 09:34] VonOx commented on #1303
@atrovato @Pierre-Gilles I'm currently testing action

Does any of you can make a fake PR on https://github.com/VonOx/gh-test-ci ?

[2022-04-16 11:34] ahmadalibaloch opened #1507 "Any ETA on Tuya integration?"
Tuya devices are quite diverse and easily accessible from stores. I'd like to see integration with Tuya cloud platform.

[2022-04-16 19:15] atrovato commented on #1507
Work is in progress, please be patient ;)

[2022-04-17 10:53] #1428 closed, assigned to nobody

[2022-04-17 10:53] #1419 closed, assigned to nobody

[2022-04-17 10:53] #1409 closed, assigned to nobody

[2022-04-19 18:43] #1006 closed, assigned to nobody

[2022-04-26 10:26] VonOx commented on #1305
@atrovato I have reproduced, this occurs only when user location is updated

[2022-04-27 01:14] #511 closed, assigned to nobody

[2022-04-27 01:14] #935 closed, assigned to nobody

[2022-04-29 11:15] William-De71 opened #1512 "Zigbee2MQTT: modify type of Aqara door & window contact sensor"
modification du type température du capteur d'ouverture de porte, pour ne pas être pris en compte dans la fonction température de la pièce

![image](https://user-images.githubusercontent.com/11477113/165932727-4dd7cfec-76a1-47b6-bd62-8a5464f06d6e.png)

https://community.gladysassistant.com/t/bug-widget-temperature-de-la-piece/6593/7

[2022-05-03 16:35] Pierre-Gilles opened #1514 "Add @siddiquiehtesham to contributors"

[2022-05-03 16:35] Pierre-Gilles commented on #1514
@all-contributors please add @siddiquiehtesham for doc

[2022-05-03 16:36] #1514 closed, assigned to nobody

[2022-05-03 19:06] atrovato commented on #1512
De mon point de vue, le capteur XIAOMI MCCGQ11LM possède un capteur de température (voir https://github.com/Koenkk/zigbee2mqtt/issues/4680) qui n'est pas la température du matériel, mais bien la température de l'air.

[2022-05-03 19:11] William-De71 commented on #1512
le problème c'est que j'ai plusieurs capteurs de ce type et aucun ne retourne une température correcte

[2022-05-03 19:20] atrovato commented on #1512
Il semblerait que tu puisses calibrer les capteurs depuis z2m selon https://www.zigbee2mqtt.io/devices/MCCGQ11LM.html

[2022-05-03 19:23] William-De71 commented on #1512
ok je vais essayer

[2022-05-03 19:54] atrovato commented on #1490
What do you think about something like

![progress_bar](https://user-images.githubusercontent.com/1839717/166555219-a09c4a0b-d6b7-4dd0-9a5d-dfe5d40b23b2.gif)

instead of the big loading circle?

---

CSS:
[code]

HTML added in box card element:
[code]

[2022-05-04 07:04] William-De71 commented on #1512
La calibration fonctionne mais j'ai filtré pour ne plus envoyer la température du coup.
Je ferme l'issue

[2022-05-04 07:04] #1512 closed, assigned to nobody

[2022-05-09 08:12] Pierre-Gilles commented on #1507
I'm closing this as we don't use Github issues for feature requests (only for issues) :)

Please use our forums for feature requests, we have a voting system on them :)

- [Our forum in french](https://community.gladysassistant.com/)
- [New: our forum in english](https://en-community.gladysassistant.com/)

[2022-05-09 08:12] #1507 closed, assigned to nobody

[2022-05-10 19:06] mikitouf commented on #1410
still missing

[2022-05-11 11:46] #1424 closed, assigned to nobody

[2022-05-12 20:47] alessandrowayne commented on #1512
Hello, my Aqara sensors display temperature in Homekit using Z2Mqtt, but I want to hide this feature. How can I do it?

[2022-05-12 20:56] William-De71 commented on #1512
Hello, You can set a filter in zigbee2mqtt interface.
Go to the setting of your sensor and add temperature in the filter attributes
![image](https://user-images.githubusercontent.com/11477113/168166433-d32b0d72-e409-4f17-b163-719e640c8a57.png)

[2022-05-12 21:05] alessandrowayne commented on #1512
Thanks for answering me!
I did it, and in fact the MQTT Server does not update that value.
But in the Home App, they appears like another accessory. This influences the average temperature in the room
![a65a5d05-0e41-4367-925d-3e66c9665856](https://user-images.githubusercontent.com/105395603/168167887-e94a8767-2ebc-41e5-92ae-0e7599357e99.jpg)

[2022-05-12 21:15] William-De71 commented on #1512
I'm sorry I don't know how is working your Home App, I can't help you anymore.

But maybe can you calibrate the temperature value to avoid your average problem?
In the settings (specific) you can add offset to the temperature value.
![image](https://user-images.githubusercontent.com/11477113/168169106-7c8f015e-c42d-4331-b2c0-a68025dbdd50.png)

[2022-05-12 21:27] alessandrowayne commented on #1512
It's the Apple Home App, don't know why it exposes this like another accessory.
Spent 10hours in 2 days to find a solution, but can't find it.

[2022-05-13 23:02] #1436 closed, assigned to nobody

[2022-05-18 16:19] Pierre-Gilles opened #1528 "Add confirmation before deleting dashboard"
https://community.gladysassistant.com/t/offre-limitee-gladys-plus-a-50-pendant-1-an/7212/71?u=pierre-gilles

[2022-05-18 17:51] #1431 closed, assigned to nobody

[2022-05-18 17:51] #1441 closed, assigned to nobody

[2022-05-18 17:51] #1433 closed, assigned to nobody

[2022-05-18 17:51] #1422 closed, assigned to nobody

[2022-05-19 16:09] Pierre-Gilles opened #1530 "When creating a camera with the same name as an existing one, error should be explicit in UI"
![ksnip_20220518-165647](https://user-images.githubusercontent.com/7365207/169347202-984a7cea-de80-46ba-9670-aef6dce10402.png)

Should be more explicit

Issue found here: https://community.gladysassistant.com/t/debutant-gladys-tests-avant-de-pourquoi-pas-migrer-depuis-domoticz/7281/6?u=pierre-gilles

[2022-05-20 04:30] Terdious opened #1532 "When creating a mqtt device with the same external_id as an existing device, should return 1 explicit error in the UI and not replace the existing device - same feature in device"
follows #1530

![Bug save mqtt same external_id](https://user-images.githubusercontent.com/35010958/169449866-410c6b90-7613-4a94-ad57-27b694351ca0.gif)

Should not overwrite the existing device but rather return an explicit error.
The bug does not occur if 2 devices are created in 2 different integrations.
![image](https://user-images.githubusercontent.com/35010958/169450605-542a3783-24ff-4e78-a77

[2022-05-20 10:26] #1476 closed, assigned to nobody

[2022-05-20 10:37] VonOx commented on #1440
@atrovato did you work on this one ?

[2022-05-20 11:27] gboulvin commented on #1474
Still alive

[2022-05-20 11:28] gboulvin commented on #1234
Still open

[2022-05-21 05:46] atrovato commented on #1440
@VonOx not at all!

[2022-05-23 09:28] #1429 closed, assigned to nobody

[2022-05-23 10:28] Pierre-Gilles commented on #1398
Done in Gladys Assistant v4.8.6

https://github.com/GladysAssistant/Gladys/releases/tag/v4.8.6

[2022-05-23 10:28] #1398 closed, assigned to nobody

[2022-05-25 06:28] cicoub13 commented on #1484
I think you can close this one 😉

[2022-05-25 07:25] VonOx opened #1541 "Handle cover device in Z2M integration"
Cover devices not handle right now

Exemple expose: [CCT5015](https://www.zigbee2mqtt.io/devices/CCT5015-0001.html#schneider%2520electric-cct5015-0001)

[code]

[2022-05-25 13:16] VASNIER opened #1543 "Zigbee2mqtt: Add device CCT5015-0001"
[code]

[2022-05-26 07:38] atrovato commented on #1543
We still do not manage rolling shutter in Gladys.

[2022-05-26 16:38] atrovato commented on #1541
Related to https://github.com/atrovato/Gladys/pull/39
And https://github.com/GladysAssistant/Gladys/pull/1456 (with picture)

I had some questions:
1. I don't think UP/DOWN buttons are the good choice, we may have LEFT/RIGHT too, so maybe we should have OPEN/CLOSE?
2. Do you think we should have 2 separated devices, shutter and curtain?

[2022-05-26 16:38] atrovato commented on #1543
Related to https://github.com/GladysAssistant/Gladys/issues/1541

[2022-05-26 16:55] VonOx commented on #1541
1. I think every day we say "I will open cover" so I agree for OPEN/CLOSE

2. Yes two devices, 2 separate icons in front 😉

[2022-05-27 05:59] atrovato commented on #1541
I didn't found the right icon in feathericons

Here a preview

![image](https://user-images.githubusercontent.com/1839717/170639548-72ca06f5-1593-4bcc-8448-a7be69cf8775.png)

[2022-05-27 06:58] atrovato commented on #1490
@VonOx

[2022-05-27 07:06] atrovato commented on #1378
I think we should, on z2m container creation:
1. if no params in BD, store the network key (`network_key`), Zigbee channel (`channel`) or panID (`pan_id`) from `configuration.yaml` to Gladys DB (after container creation)
2. if params in DB, write values on `configuration.yaml` and restart container

[2022-05-27 07:19] VonOx commented on #1490
Yes it's better, less annoying and we keep informing that something happening.

[2022-05-28 08:28] atrovato commented on #1378
Personal PR: https://github.com/atrovato/Gladys/pull/47
Test docker image : `atrovato/gladys:zigbee2mqtt`

[2022-05-28 14:28] #1158 closed, assigned to nobody

[2022-05-28 21:48] #1402 closed, assigned to nobody

[2022-05-30 08:06] Pierre-Gilles opened #1547 "Alexa integration: crash on handleAlexaMessage"
[code]

[2022-05-30 10:00] Pierre-Gilles commented on #1547
Not linked to Gladys but a fork.

[2022-05-30 10:00] #1547 closed, assigned to nobody

[2022-06-01 13:11] #1421 closed, assigned to nobody

[2022-06-03 13:05] rpochet opened #1550 "Scene: Modification of trigger device produce error on save"
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
If you modify the trigger device of a scene and you save the scene, an error happens.

**To Reproduce**
![image](https://user-images.githubusercontent.com/5940493/171859345-05943127-d88c-41c5-a1ae-57cde5ca0188.png)

[2022-06-03 21:10] #1348 closed, assigned to nobody

[2022-06-06 07:41] Doudy opened #1552 "Z-Wave: Handle device "Heiman Technology Co. Ltd Smart Smoke Sensor HS1SA-Z""
Hello
Aucune valeur enregistrée ou Aucune valeur reçue dans Gladys !
No value recorded or No value received in Gladys

[code]

[2022-06-06 07:42] Doudy opened #1553 "Z-Wave: Handle device "FIBARO System FGFS101 Zwave+ Flood Sensor""
Aucune valeur enregistrée ou Aucune valeur reçue dans Gladys
No value recorded or No value received in Gladys
[code]

[2022-06-07 09:46] Pierre-Gilles opened #1554 "Device states are not always displayed in the correct timezone in the "chart" dashboard box"
https://community.gladysassistant.com/t/horaire-graphique/7347/20?u=pierre-gilles

[2022-06-07 17:36] #1448 closed, assigned to nobody

[2022-06-10 14:22] #1498 closed, assigned to nobody

[2022-06-13 08:23] Pierre-Gilles opened #1558 "Zigbee2mqtt: Add LORATAP remote control"
https://community.gladysassistant.com/t/telecommande-loratap/7356

https://www.zigbee2mqtt.io/devices/TS0043.html

[2022-06-14 12:28] VonOx opened #1559 "Alexa integration with z2m lights ( brightness feature )"
Currently alexa not working with brightness for zigbee2mqtt bulbs

Maybe related to min max values ( 0 to 254 for z2m )

According to log, brightness is reset by the previous Gladys value
[code]

If gladys value is > 100 , Alexa cant get the value ( 0-100 range )

[2022-06-17 09:17] #1559 closed, assigned to nobody

[2022-06-21 12:53] Pierre-Gilles opened #1564 "Weather box: refresh data when user comes back to the current screen and left for more than 30 minutes"
If I leave one Gladys tab open for 1 night, when I come back, data is from the day before.

Could be nice to have an automatic refresh when I come back.

https://community.gladysassistant.com/t/live-youtube-lundi-20-juin-2022-a-20h30-pour-le-lancement-de-gladys-assistant-4-9/7377/18?u=pierre-gilles

[2022-06-21 13:02] Pierre-Gilles opened #1565 "Chart sometimes displays lots of 0.00000 on the y axis"
![image (1)](https://user-images.githubusercontent.com/7365207/174805682-4b2ef41c-c489-42cc-8dc9-6595de1bd4ba.png)

https://community.gladysassistant.com/t/live-youtube-lundi-20-juin-2022-a-20h30-pour-le-lancement-de-gladys-assistant-4-9/7377/18?u=pierre-gilles

[2022-06-25 07:46] atrovato commented on #1316
PR is waiting for test.

[2022-06-25 07:50] atrovato commented on #795
Still looking for solution...

[2022-07-02 20:51] #1305 closed, assigned to nobody

[2022-07-06 07:50] guim31 opened #1567 "[SCENES] Autosuggest doesn't behave right"
As the tithle says, when creating a scene we can search for triggers / actions with a autosuggest input.
But the suggestions don't match the input text correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SCNES
2. Create one
3. Add trigger
4. Type (for French version) `CHAN` in order to get `changement d'état de l'appareil`
5. You get another suggestion as shown below :

![image]

[2022-07-11 11:58] #1554 closed, assigned to nobody

[2022-07-11 13:00] #1303 closed, assigned to nobody

[2022-07-15 16:48] #1115 closed, assigned to nobody

[2022-07-15 16:48] #1406 closed, assigned to nobody

[2022-07-15 16:48] #1405 closed, assigned to nobody

[2022-07-15 16:48] #1407 closed, assigned to nobody

[2022-07-17 00:34] #1410 closed, assigned to nobody

[2022-07-19 11:47] gboulvin commented on #1234
Still open

Le mar. 19 juil. 2022 à 13:44, stale[bot] ***@***.***> a
écrit :

[2022-07-19 11:48] gboulvin commented on #1474
Still open

Le mar. 19 juil. 2022 à 13:44, stale[bot] ***@***.***> a
écrit :

[2022-07-19 11:48] gboulvin commented on #1368
Still open

Le mar. 19 juil. 2022 à 13:44, stale[bot] ***@***.***> a
écrit :

[2022-07-20 21:47] #1444 closed, assigned to nobody

[2022-07-21 09:55] #1316 closed, assigned to nobody

[2022-07-21 19:09] gboulvin commented on #1368
Container has been updated yesterday.
Watchtowers log:
`
time="2022-07-20T21:54:43Z" level=info msg="Found new eclipse-mosquitto:2 image (f963d242e559)"
time="2022-07-20T21:54:44Z" level=info msg="Stopping /eclipse-mosquitto (9a07b0ba4086) with SIGTERM"
time="2022-07-20T21:54:46Z" level=info msg="Creating /eclipse-mosquitto"
time="2022-07-20T21:54:46Z" level=info msg="Removing image 922c6b098fad"

[2022-07-22 09:46] VonOx opened #1573 "Updating device in integration override customized values"
If you have Feature Name customized and you update the device, all customized value are override.

Before updating we need to check if current value ( like feature name ) is edited.

For devices with many feature this is very useful

[2022-07-22 23:40] VASNIER opened #1574 "Module volet roulant Schneider"

[2022-07-24 08:22] atrovato commented on #1573
I'm on it, I will keep:
 - on features: name
 - on device: name, room
I don't think about any other, but let me know if I miss any.

[2022-07-24 12:50] atrovato commented on #1574
Bon j'avoue que la description n'est pas très complète.
On parle de zigbee2mqtt ?

[2022-07-24 12:59] VASNIER commented on #1574
Oui, sorry, il s’agit bien de zigbee2mqtt, avec le d’ongle USB SONOFF
Zigbee 3.0.
Merci

Le dim. 24 juil. 2022 à 14:50, Alexandre Trovato ***@***.***>
a écrit :

[2022-07-25 14:00] VASNIER commented on #1574
Il s’agit du device en PJ.
Encore merci pour ton aide. J’ai 5 modules à raccorder et à appairer.
Gérard

Le dim. 24 juil. 2022 à 14:59, Gérard VASNIER ***@***.***> a
écrit :

[2022-07-25 14:05] VASNIER commented on #1574
Sorry, j’ai oublié la pièce pièce jointe, la voilà

Le lun. 25 juil. 2022 à 16:00, Gérard VASNIER ***@***.***> a
écrit :

[2022-07-25 14:32] #1484 closed, assigned to Pierre-Gilles

[2022-07-25 20:21] #1530 closed, assigned to nobody

[2022-07-25 21:08] VASNIER commented on #1543
Je suis abonné à Gladys plus, et vais être obligé de retourner sur Home Assistant pour pouvoir domotiser mes volets roulants !?

[2022-07-26 12:05] #1263 closed, assigned to nobody

[2022-07-27 14:17] #1477 closed, assigned to nobody

[2022-07-31 15:39] atrovato commented on #1543
Bonjour, non pas tout, cette feature est en cours d'implémentation, elle devrait être disponible d'ici quelques semaines.

[2022-07-31 16:07] atrovato commented on #1541
Waiting for testers with `atrovato/gladys:zigbee2mqtt-cover`

[2022-07-31 16:08] atrovato commented on #1489
Waiting for zwave "new age" docker image.

[2022-07-31 16:08] atrovato commented on #1378
I get some feedbacks from testers, a new build has been generated.

[2022-08-01 09:51] VonOx commented on #1490
@atrovato tested your PR ( chromium 103.0.5060.134 )

![image](https://user-images.githubusercontent.com/1528694/182122165-6590f6cf-e427-4f68-961b-018ca31b5a0e.png)

Loader is fine except its persistant, even when no new value there is like a shadow at box bottom. A bit weird

![image](https://user-images.githubusercontent.com/1528694/182122499-7136c806-bbd5-4ea4-bbec-11e037c55bbd.png)

[2022-08-03 19:20] atrovato commented on #1490
The blue background is problem. Thank you for your feedbacks.

[2022-08-03 19:25] atrovato commented on #1490
I pushed the transparent background, tell me if it's better. Thank you.

[2022-08-09 19:19] #1550 closed, assigned to nobody

[2022-08-11 07:21] vincentBesseau opened #1584 "Zigbee2mqtt: Add device HS2WD-E"
[code]

doc z2m: https://www.zigbee2mqtt.io/devices/HS2WD-E.html

[2022-08-12 09:50] vincentBesseau opened #1585 "Use of decimals in the "continue only if" block"
This issue is related in this post :
https://community.gladysassistant.com/t/bloc-continuer-seulement-si-a-decimal/7471/3?u=spenceur

[2022-08-12 18:09] #1495 closed, assigned to nobody

[2022-08-13 11:29] Herbinchristophe opened #1587 "Zigbee2mqtt : ajout du périphérique QS-Zigbee-C03"
[code]

[2022-08-13 11:30] #1587 closed, assigned to nobody

[2022-08-13 11:31] Herbinchristophe opened #1588 "Zigbee2mqtt: Add device QS-Zigbee-C03"
[code]

[2022-08-14 08:08] #1552 closed, assigned to nobody

[2022-08-14 08:08] #1553 closed, assigned to nobody

[2022-08-16 11:40] #1345 closed, assigned to nobody

[2022-08-24 19:20] barbudor opened #1590 "Gladys do not parse Tasmota SENSOR message correctly"
**Describe the bug**
hello
I'm coming from Tasmota developer team as user @titou4307  as reported us that the DS18x20 temperature sensor is not reported in Gladys (https://github.com/arendst/Tasmota/discussions/16304#discussioncomment-3464385)

Tasmota is publishing on `tele/nameofdevice/SENSOR` the following payload:
[code]

I've looked at the code briefly and I feel that Gladys has 2 issues:
- I

[2022-08-24 19:39] titou4307 commented on #1590
Here the copy screen of the Tasmota :

![Sans titre 1](https://user-images.githubusercontent.com/56826797/186506567-27df2517-0f70-4db3-9ca8-89b3b657172b.png)

My config is :

Hardware : Pi4 8Go raspi os 64bit
Software : raspi os 64bit with docker and portainer

The solution home assistant is Gladys Assistant under a container docker
For to integrate MQTT péripherals it use mosquito MQTT Eclipse in

[2022-08-24 21:56] titou4307 commented on #1590
Just for confirm I have another container with Home Assistant
I have add the MQTT broker of Gladys

Just for the fun I have add another sensor DS18x20 at my Sonoff Tasmota (possible after reading doc of tasmota...)

Here the result :

![Sans titre 2](https://user-images.githubusercontent.com/56826797/186530366-dbfed0ae-885d-4eae-ad7e-cad4e01c8c7d.png)

It confirm the diagnostic this is Gladys bug

[2022-08-30 23:10] #1558 closed, assigned to nobody

[2022-09-05 07:27] VonOx opened #1592 "Z2M - No scan button on fresh install"
https://community.gladysassistant.com/t/config-mqtt-freebox-delta/6657/8?u=vonox
https://en-community.gladysassistant.com/t/scanning-for-new-devices-with-zigbee2mqtt/46?u=vonox

This is a big issue for new users, on fresh install, after z2m setup, no scan button. This obviously prevent adding new devices to Gladys.

EDIT: seems there is no button from https://github.com/GladysAssistant/Gladys/pull

[2022-09-05 18:26] Pierre-Gilles commented on #1592
Yes documentation needs to be updated!

Closing this issue in favor of https://github.com/GladysAssistant/v4-website/issues/140

[2022-09-05 18:26] #1592 closed, assigned to nobody

[2022-09-08 09:10] #1490 closed, assigned to nobody

[2022-09-09 10:15] PhilippeMA opened #1596 "Zigbee2mqtt: Add device E1743 (IKEA Switch)"
Add support to this swtich

Interrupteur IKEA : https://www.zigbee2mqtt.io/devices/E1743.html

Nota : cet interrupteur expose "action" avec les valeurs _on_, _off_, _brightness_move_down_, _brightness_move_up_, _brightness_stop_
=> Dans un premier temps, j'ai compris qu'il était difficile d'exploiter toutes les valeurs, il pourrait être intéressant d'exploiter les valeurs _on_ et _off_ seules ? Ce

[2022-09-10 18:52] atrovato commented on #1596
Aujourd'hui, on ne gère que "simple click", "double", "reste appuyé".
On ne gère pas encore d'action comme "on" ou "off" sur ce genre d'appareil...
Comme il n'y a qu'un seul attribut pouvant avoir différentes valeurs, que l'on ne gère pas encore, cela risque d'être compliqué en l'état.

[2022-09-12 11:39] PhilippeMA commented on #1596
Ok, merci pour la réponse.

[2022-09-12 11:40] #1596 closed, assigned to nobody

[2022-09-14 10:10] LM1LC3N7 commented on #887
Hello there,

Here what I just discover:
![image](https://user-images.githubusercontent.com/14235706/190126829-ae89cfb0-5ccf-4c1c-a7de-31aeb2a30f5f.png)

It seems there is a similar bug.

[2022-09-16 07:53] Pierre-Gilles opened #1603 "Water leak sensor should have a better wording on the dashboard"
<img width="607" alt="Screenshot 2022-09-16 at 09 53 11" src="https://user-images.githubusercontent.com/7365207/190586442-547ba625-eb1c-404b-aad4-25b8f134db4f.png">

https://community.gladysassistant.com/t/detecteur-de-fuite-aeotec-zigbee/7537

[2022-09-16 11:43] #1458 closed, assigned to nobody

[2022-09-19 18:55] gboulvin commented on #1474
Not stale

Le sam. 17 sept. 2022 à 15:55, stale[bot] ***@***.***> a
écrit :

[2022-09-23 08:46] LM1LC3N7 opened #1605 "HTTP (POST) call bug when using a device last value"
Hello all!

When using the "HTTP Call Request" with a Body, the last value used it not parsed correctly and all brackets are sent with the request.

![image](https://user-images.githubusercontent.com/14235706/191924128-2534cfdc-ff3d-4e54-b671-340cb727ed2d.png)

When trying to execute the request (here the bug is visible) :

![image](https://user-images.githubusercontent.com/14235706/191924173-596c

[2022-09-23 10:07] LM1LC3N7 commented on #1605
Steps to reproduce:

1. Create a new scene
2. Step 1 : nothing. Step 2 : new HTTP Request
3. HTTP Request type `POST` with the following content

[code]

This involves an error **on saving** the scene and **on the result** so I can't use the API answer.

![image](https://user-images.githubusercontent.com/14235706/191938601-6117515a-aa78-45fa-b656-414f45dc9264.png)

[2022-09-24 09:15] atrovato commented on #1574
En attente de fusion sur la branche master.

[2022-09-24 09:16] VASNIER commented on #1574
Bonjour Alexandre
C’est à dire ?

Le sam. 24 sept. 2022 à 11:15, Alexandre Trovato ***@***.***>
a écrit :

[2022-09-24 09:57] atrovato commented on #1574
L'intégration des "cover" (volet / rideau) est développée, en attente de revue et d'intégration sur la version officielle de Gladys.
La fonctionnalité a été validée par @VonOx (si je ne me trompe pas).

[2022-09-24 10:22] VASNIER commented on #1574
Ok, merci pour ton retour
As-tu une idée du délai pour l’Intégration z2mqtt dans Gladys plus?

Le sam. 24 sept. 2022 à 11:57, Alexandre Trovato ***@***.***>
a écrit :

[2022-09-24 17:46] atrovato commented on #1574
Non aucune, mais on peut demander à @Pierre-Gilles de jeter un œil à #1577 ;)

[2022-09-24 18:06] VASNIER commented on #1574
Super
Merci
Bon WE

Le sam. 24 sept. 2022 à 19:47, Alexandre Trovato ***@***.***>
a écrit :

[2022-09-27 20:32] atrovato commented on #1564
Or maybe automatic refresh based on timer, every hours?

[2022-09-28 08:12] VonOx commented on #1574
Je ferme cette issue en doublon avec #1541

[2022-09-28 08:12] #1574 closed, assigned to nobody

[2022-09-28 08:15] VonOx commented on #1344
@cicoub13 is latest release fix this issue ?

[2022-09-28 10:27] cicoub13 commented on #1344
Yes

[2022-09-28 10:27] #1344 closed, assigned to nobody

[2022-09-29 09:56] Pierre-Gilles commented on #1605
OK I understood what was going on.

We were not parsing correctly arrays in response, object were fine.

I wrote a fix, and I tried it's perfectly usable, even with arrays.

In the meantime, you can switch to the string version of the Math.js API, this should be working fine:

<img width="678" alt="Screenshot 2022-09-29 at 16 53 18" src="https://user-images.githubusercontent.com/7365207/193001574-

[2022-09-29 12:05] LM1LC3N7 commented on #1605
Great to read!

Also, the red star should not be present next to "Headers", as this is not mandatory.

[2022-09-29 19:54] #1440 closed, assigned to atrovato

[2022-09-29 19:55] atrovato commented on #1378
PR is pending, validated by the community.

[2022-09-29 19:56] atrovato commented on #1541
PR is pending, validated by the community.

[2022-09-29 19:57] atrovato commented on #1489
Still waiting for new implentation of ZWave service.

[2022-09-29 19:58] atrovato commented on #1543
@VonOx encore un doublon ? #1541 #1574

[2022-09-30 11:30] Pierre-Gilles commented on #1605
Indeed, I removed the red star on headers!

[2022-09-30 11:34] #1603 closed, assigned to atrovato

[2022-09-30 12:12] VonOx commented on #1543
Oui doublon

[2022-09-30 12:12] #1543 closed, assigned to nobody

[2022-10-03 04:05] #1605 closed, assigned to nobody

[2022-10-03 04:06] Pierre-Gilles commented on #1590
Hi, thanks for your report! This has been fixed in https://github.com/GladysAssistant/Gladys/pull/1570, and I just merged it to master!

It should go live in the next version of Gladys :)

[2022-10-03 04:06] #1590 closed, assigned to nobody

[2022-10-03 18:49] atrovato commented on #1541
So? Is it ok now?

[2022-10-04 02:58] Pierre-Gilles commented on #1541
Yes this is merged!

[2022-10-04 02:58] #1541 closed, assigned to nobody

[2022-10-04 07:01] Pierre-Gilles commented on #1588
Is this a device to control shutters/curtains? If so, I guess it might be handled by this PR: https://github.com/GladysAssistant/Gladys/pull/1577

cc @atrovato

[2022-10-04 07:02] Pierre-Gilles commented on #1489
Do we really need this issue? Current integration is going to be removed, and new integration will have nothing to do with the current one :)

[2022-10-04 09:02] PhilippeMA commented on #1503
Bonjour,

Je suis intéressé par ce correctif. S'il y a besoin d'aide pour faire des tests, je peux aider.

Philippe

[2022-10-04 18:57] atrovato commented on #1489
That was my first try on ZWave. I'm ok to close it, and wait for the new integration.

[2022-10-04 18:57] #1489 closed, assigned to nobody

[2022-10-05 18:26] atrovato commented on #1588
This device is a cover, but with a "moving" feature (acting state OPEN / CLOSE or STOP) that can be used as feedback on the device... but this will be a "big" change on the integration code.

To explain, it provides 1 feature to act, and 1 feature to get state. 2 different z2m features for 1 Gladys device.

[2022-10-10 07:31] #1503 closed, assigned to nobody

[2022-10-10 09:23] Pierre-Gilles commented on #1564
@atrovato It's already the case, but when a tab isn't used (computer in sleep mode), setInterval is disabled as well, so the user will only see the updated data XX minutes later after coming back

That's why we need another case: when coming back on the tab, check when was last refresh. If last refresh was before update interval, then refresh data

[2022-10-10 09:24] Pierre-Gilles commented on #1564
Cf: https://github.com/GladysAssistant/Gladys/blob/master/front/src/components/boxs/weather/WeatherBox.jsx#L222

[2022-10-10 17:36] vincentBesseau commented on #1584
This issue cant be stale

[2022-10-11 07:24] gboulvin commented on #1234
Not stale

Le sam. 17 sept. 2022 à 15:55, stale[bot] ***@***.***> a
écrit :

[2022-10-11 19:13] vincentBesseau commented on #1585
🤔

[2022-10-19 19:15] rpochet opened #1623 "Device filtering kept on tab change but keyword not displayed"
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
When doing device filetring on integration screen, if we move tab and go back to device tab, devices are still filtered but search keyword is not displayed

**To Reproduce**
Steps to reproduce the behavior:

1. Go t

[2022-10-19 19:34] rpochet opened #1624 "Error when saving scene after trigger device feature update"
First, are you sure that you found a Gladys bug?

If you are not sure, you can come discuss with us on [Gladys Community](http://community.gladysassistant.com/) 🙂

**Describe the bug**
In scene trigger definition, if we modify the

**To Reproduce**
Steps to reproduce the behavior:

1. Edit a scene with a ??? device as trigger
2. Select another device as trigger, trigger value remains on the screen

[2022-10-29 17:05] atrovato commented on #1623
I think we have this issue on all integration pages.

[2022-10-29 17:08] atrovato commented on #1623
The #1598 PR keeps the filter keyword value when we change page.

[2022-10-30 10:23] atrovato opened #1634 "Thermostat with z2m"

[2022-10-30 10:23] #1634 closed, assigned to nobody

[2022-10-31 10:04] Pierre-Gilles opened #1636 "In Gladys Plus locally, explain better keys + add a delete button"
- [ ] Explain better than each user in the "Gladys Plus" users list is a key, that changes when the user reset his password
- [ ] Add a "delete key" button to delete an old key
- [ ] If possible, display the "first seen" date of the key

[2022-11-01 11:35] Pierre-Gilles opened #1640 "List of devices don't have a key and sometimes devices are merged when one is deleted"
<img width="792" alt="Screenshot 2022-11-01 at 18 34 31" src="https://user-images.githubusercontent.com/7365207/199224050-b83c983d-3ed1-4210-ad02-890303a455e6.png">

https://community.gladysassistant.com/t/bug-suppression-device-zigbee/7149/8?u=pierre-gilles

[2022-11-04 17:06] atrovato commented on #1640
I just see the code, the state is linked to the box, not to the device.
This will be not so simple to do.
We will have to store the "delete state" somewhere in the back, and provide it to front.

[2022-11-07 16:15] LM1LC3N7 opened #1644 "Dashboard : Add a background color according to the level of COV"
Refering to https://community.gladysassistant.com/t/indicateur-de-la-qualite-de-lair/7663/2?u=lmilcent

[2022-11-07 16:15] LM1LC3N7 commented on #1644
@VonOx

[2022-11-08 23:28] Tolkyen commented on #1585
🙏

[2022-11-10 18:28] magarcia opened #1647 "Gladys doesn't keep the MQTT Brocker URL after docker restart when using docker-compose"
**Describe the bug**
When running Docker Gladys with docker compose every time the container is restarted the MQTT configuration doesn't load (although is still saved in the database).

**To Reproduce**
Steps to reproduce the behavior:

1. With a docker compose file like this:
[code]
3. Go to `<gladys-server-domain>/dashboard/integration/device/mqtt/setup`
4. Setup the Broker URL to `mqtt://localh

[2022-11-10 18:30] magarcia commented on #1647
One possible solution is to update the https://github.com/GladysAssistant/Gladys/blob/master/server/lib/system/system.getGladysContainerId.js to extract the container ID from `/proc/self/mountinfo` when is not available on `/proc/self/cgroup`.

[2022-11-11 05:27] Pierre-Gilles commented on #1647
Thanks for the feedback and the PR! I'll have a look :) cc @VonOx

[2022-11-11 07:41] Pierre-Gilles commented on #1640
Mmm I'm not sure we are talking about the same thing

I'm talking about a preact frontend bug, we don't use a key={} attribute, so the component is not re-rendered and it causes some display issue :)

Very simple bug to fix aha

[2022-11-11 09:00] ghost commented on #1378
Soo... what's happening here? :D

[2022-11-14 07:38] #1644 closed, assigned to nobody

[2022-11-14 14:17] atrovato commented on #1378
Feature has been validated by the community.
We are now checking and reviewing the code.

[2022-11-14 14:24] atrovato commented on #1640
Ok, so we don't care to display the device after reloading the page, with no warning message?
The user can click on delete again...

[2022-11-15 11:47] #1647 closed, assigned to nobody

[2022-11-18 10:32] Pierre-Gilles commented on #1640
Indeed I understand what you mean! It's not a big issue if the user re-click on delete again, but it's not very UX friendly not to display the warning again... Could be improved, but not top priority ^^

[2022-11-25 08:40] #1567 closed, assigned to nobody

[2022-11-25 16:32] VonOx opened #1655 "[FRONT] Z2M Discover tab must list only device discovered and with feature update"
Devices already created in Discovered view are duplicate of Devices view.

With plenty of devices this is annoying and useless.

[2022-11-27 04:42] #1368 closed, assigned to nobody

[2022-11-29 16:46] Ericboust commented on #1565
Hi,
I still have the problem in some cases.  I believe it's when i change the time frame from the standard "last 24U" to "last hour".  after that, the format with the 8 zero remain even if i come back to 24U. But it's strange that i have this only with one graph!  for this one, i remark that the value for the y axis remain high.  For the other one's the value for the Y axis in the  "last hour" for